@media (min-width:1200px) and (max-width:1365px) { 
   .banner-outer{
background: url(../img/banner-img.png) no-repeat -10% 0;
}
.iv-vitamin-text{margin: 30px 0 0 0}
.iv-drip-slider .owl-nav button.owl-prev{left: -40px;}
.iv-drip-slider .owl-nav button.owl-next{right: -40px;}

.testimonies-slider .owl-nav button.owl-prev{left: -40px;}
.testimonies-slider .owl-nav button.owl-next {
   right: -17px;}
}

@media (min-width:1366px) and (max-width:1440px) { 
   .banner-outer{
      background: url(../img/banner-img.png) no-repeat 18% 0;
      }
      .iv-vitamin-text{margin: 30px 0 0 0}
}


@media (max-width: 767.98px) { 
   .mobile-banner{background: url(../img/mobile-banner.png) no-repeat 80% -22%, var(--color1);}
   h2{font-size: 30px;}

   ul.banner-list li b {
      font-size: 9px;
      display: inline-block;
    }

   ul.info-hed li{margin-right: 0px;}
   ul.info-hed li a span{margin-right: 0px;}

   h1{font-size: 40px; line-height: normal;}
   .banner-text{margin: 20px auto; text-align: left;}

   ul.banner-list p{line-height: normal; font-size: 12px; text-align: left;}
   ul.banner-list li i{display: inline; text-align: left;}
   ul.banner-list li span{margin-right: 5px;}
   ul.banner-list li span img {
      width: 30px;
    }

   .form-block{margin:10px 0 0 0;}

   ul.banner-list li {
      display: inline-table;
   width:48%;
   background: #ffffffb2;
   padding: 20px;
   margin-bottom: 5px;
   -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
height: 90px !important;
display: flex;
   }
   ul.banner-list li span{background: none;}
   ul.banner-list li{padding: 10px;}
   
   .iv-vitamin-text{margin:10px 0 0 0;}
   .points-block span::after{display: none;}
   .points-block span{width: 100px; height: 100px;}
   .points-block{margin-bottom: 20px;}

   .iv-therapy-slider {
      position: inherit;
      width: 100%;
    }

    .touch-right{margin-right:0px !important;}
    .advantages-img{height: 300px; margin-bottom: 0;}
    ul.footer-list2, ul.social-media{margin-left: 0px;}
    .health-careebia .text-block{margin-top: 0px;}

    .iv-therapy-slider .owl-nav{position: relative;bottom: -45px;}
    .advantages-img{margin-top: 40px;}


   ul.banner-list{  display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
    .iv-drip-slider .owl-nav, .testimonies-slider .owl-nav{display: none;}
    .banner-outer{background: none;}
    ul.footer-list span{width: 55px; height: 55px;}


    .phone-fix {
      position: fixed;
      bottom: 30px;
      left: 11px;
      z-index: 99999;
      
    }


    ul.info-hed li a.phone-fix span {
      width: 55px;
      border: 2px solid #fff;
      height: 55px;}

      .shake {
         animation: shake-animation 4.72s ease infinite;
         transform-origin: 50% 50%;
       }

      @keyframes shake-animation {
         0% { transform:translate(0,0) }
        1.78571% { transform:translate(5px,0) }
        3.57143% { transform:translate(0,0) }
        5.35714% { transform:translate(5px,0) }
        7.14286% { transform:translate(0,0) }
        8.92857% { transform:translate(5px,0) }
        10.71429% { transform:translate(0,0) }
        100% { transform:translate(0,0) }
      }
 }


