html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: 'Source Serif 4', serif;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  transition: all ease-out .3s;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
}

a:hover {
  text-decoration: none;
}

label {
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 16px;
  color: #000000;
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: 'Source Serif 4', serif;
  line-height: 34px;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

focus {
  outline: 0;
}

h1 {
  font-family: 'Source Serif 4', serif;
  font-size: 60px;
  font-weight: 400;
}

h2 {
  font-family: 'Source Serif 4', serif;
  font-size: 50px;
  font-weight: 400;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

button {
  border: none;
}

.no-space {
  margin: 0px !important;
  padding: 0px !important;
}

/*========================== Commen styles ========================*/
/*========================== bg-color ========================*/
:root {
  --light-yellow: #F3E9DD;
  --black: #000000;
  --white: #ffffff;
  --dark-green: #42543c;
  --light-green: #568259;
  --tangerine: #C8966D;
  --light-gry: #F9F9F9;
  --light-yellow: #fcf9f4;
}

section {
  padding: 60px 0;
}

.btn-style-1 {
  background: var(--light-green);
  padding: 9px 26px;
  font-size: 15px;
  color: var(--white);
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--light-green);
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover::before,
.hvr-sweep-to-right:focus::before,
.hvr-sweep-to-right:active::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-underline-from-left:hover::before,
.hvr-underline-from-left:focus::before,
.hvr-underline-from-left:active::before {
  right: 0;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--tangerine);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}

.top-block {
  display: block;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center top !important;
}

ul.listing li {
  padding: 6px 0 6px 20px;
  background: url(../img/round.png) no-repeat left;
  font-size: 15px;
}

.light-yellow {
  background: var(--light-yellow);
}

ul.info-block li {
  display: inline;
  float: right;
  margin-left: 25px;
}

ul.info-block li i {
  margin-right: 10px;
  color: var(--light-green);
}

ul.info-block li a {
  color: var(--black);
}

.banner-text {
  margin-top: 130px;
}

.banner-text h1 {
  color: var(--dark-green);
  font-weight: 400;
  margin-bottom: 15px;
}

.banner-text h4 {
  font-weight: 400;
  font-family: 'Source Serif 4', serif;
  color: var(--dark-green);
}

.form-style-1 {
  background: var(--white);
  padding: 40px;
  margin: 50px 0 0 0;
}

.form-style-1 input {
  border-radius: 0px;
  margin: 20px 0 0 0;
  border: 1px solid #E2E2E2;
  font-size: 12px;
  height: 45px;
  padding: 0px 18px;
}

.form-style-1 textarea {
  border-radius: 0px;
  margin: 20px 0 0 0;
  border: 1px solid #E2E2E2;
  font-size: 12px;
  height: 85px;
  padding: 15px 18px;
  resize: none;
}

.about h1 {
  color: var(--dark-green);
}

.p-bold {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Source Serif 4', serif;
}

.about p {
  text-align: justify;
}

.about-text {
  width: 92%;
}

.about-img {
  overflow: hidden;
  height: 600px;
}

.about-img img {
  width: 100%;
}

.iv-vitamin {
  background: var(--light-yellow);
}

.why-block-text {
  padding-left: 12%;
}

.card-style-1 {
  background: var(--light-yellow);
  padding: 30px;
}

.card-style-1 p {
  font-size: 14px;
  line-height: 26px;
}

.card-style-1 .icon {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 1px solid var(--light-green);
  display: block;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.card-style-1 .icon img {
  width: 50px;
  justify-content: center;
}

.iv-block {
  background: url(../img/green-bg.png) fixed top;
  text-align: center;
  color: var(--white);
}

.iv-block h2 {
  margin-bottom: 20px;
}

.iv-block p {
  color: var(--white);
}

.drip-box {
  background: var(--white);
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  margin: 20px;
  width: 100%;
  text-align: center;
}

.owl-carousel .owl-item img {
  width: auto;
}

.drip-box img {
  margin: 0px auto;
  text-align: center;
}

.drip-box h3 {
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0;
}

.testimonials {
  background: var(--light-yellow);
}

.card-style-2 {
  background: var(--white);
  padding: 30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  margin: 20px;
  display: flex;
}

.card-style-2 p {
  font-size: 14px;
  line-height: 26px;
  font-style: italic;
  font-size: 14px;
}

.profile-pic {
  margin-right: 15px;
  border-radius: 100%;
}

.profile-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.card-style-2 h6 {
  font-size: 16px;
  color: var(--tangerine);
}

.footer-form {
  margin: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
}

.fot-info {
  display: flex;
  align-items: center;
}

.fot-info img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.fot-info p {
  line-height: 28px;
  font-size: 17px;
}

.fot-info h6 {
  font-size: 16px;
}

.fot-info a {
  color: #000;
  font-weight: normal;
}

ul.list-fot li {
  margin-bottom: 10px;
}

ul.list-fot p {
  margin-bottom: 0px;
}

.card-style-3 {
  background: var(--light-yellow);
  padding: 35px 30px;
}

ul.social-media {
  margin: 25px 0 0 0;
}

ul.social-media li {
  display: inline-block;
  margin-right: 10px;
}

ul.social-media li a {
  width: 40px;
  height: 40px;
  background: var(--white);
  padding: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  border-radius: 100%;
  display: block;
  text-align: center;
}

ul.social-media li a i {
  color: var(--light-green);
  text-align: center;
  margin-top: 9px;
}

ul.social-media li a:hover {
  background: var(--light-green);
}

ul.social-media li a:hover i {
  color: var(--white);
}

.fot-form {
  background: var(--white);
}

ul.copy-right {
  margin: 60px auto 0;
  text-align: center;
}

ul.copy-right li {
  text-align: center;
  display: inline-block;
  margin: 0 25px 0 0;
}

ul.copy-right li a {
  color: #000;
}

.drip-slider .owl-nav {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.drip-slider .owl-nav button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid #ac6d42;
  color: #ac6d42;
  font-size: 36px;
  background: url(../img/carosel-arrow.svg) no-repeat;
  background-size: 13px;
  position: absolute;
  bottom: 50%;
  transition: all ease-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.drip-slider .owl-nav button.owl-prev {
  left: -78px;
  transform: rotate(180deg);
  border: 1px solid var(--tangerine);
  background: url(../img/carosel-arrow.svg) no-repeat center;
  background-size: 10px;
}

.drip-slider .owl-nav button.owl-next {
  right: -78px;
  transform: rotate(-0deg);
  border: 1px solid var(--tangerine);
  background: url(../img/carosel-arrow.svg) no-repeat center;
  background-size: 10px;
}

.drip-slider .owl-stage-outer {
  position: relative;
  z-index: 2;
}

.drip-slider .owl-nav button:hover {
  border-color: #edada1;
}

.testimonials-slider.owl-nav {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.testimonials-slider .owl-nav button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid #ac6d42;
  color: #ac6d42;
  font-size: 36px;
  background: url(../img/carosel-arrow.svg) no-repeat;
  background-size: 13px;
  position: absolute;
  bottom: 50%;
  transition: all ease-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonials-slider .owl-nav button.owl-prev {
  left: -78px;
  transform: rotate(180deg);
  border: 1px solid var(--tangerine);
  background: url(../img/carosel-arrow.svg) no-repeat center;
  background-size: 10px;
}

.testimonials-slider .owl-nav button.owl-next {
  right: -78px;
  transform: rotate(-0deg);
  border: 1px solid var(--tangerine);
  background: url(../img/carosel-arrow.svg) no-repeat center;
  background-size: 10px;
}

.testimonials-slider .owl-stage-outer {
  position: relative;
  z-index: 2;
}

.testimonials-slider .owl-nav button:hover {
  border-color: #edada1;
}

.whatsapp-icon {
  position: fixed;
  z-index: 9999;
  bottom: 5%;
  right: 3%;
}

.eui-widget-title {
  display: none !important;
}

.testimonials-slider .card-style-2 {
  height: 100%;
}

.testimonials-slider .owl-stage {
  display: flex;
}

.testimonials-slider .owl-stage .item {
  height: 100%;
}

.keeps-apart-block .card-style-1 {
  height: 100%;
}

.limited-offer-in h2 {
  font-size: 30px !important;
  font-weight: 800;
}

.new-banner {}