<footer>
  <div class="first-row">
    <div class="brand">
      <a href="/" class="footer-logo"
        ><img src="../../assets/img/logo.png" alt="logo" height="38px"
      /></a>
      <p class="text-white">
        Premium At Home Healthcare in Dubai | Expert IV therapy, comprehensive lab tests, and
        personalized wellness solutions delivered directly to your home.
      </p>
    </div>
    <div class="govt-logos">
      <img src="../../assets/icons/fda.svg" alt="fda" height="60px" />
      <img src="../../assets/icons/dha.svg" alt="dha" height="60px" />
      <img src="../../assets/icons/nabidh.svg" alt="nabidh" height="60px" />
    </div>
    <div class="rating">
      <div href="#" class="google-reviews" style="display: flex; align-items: center">
        <div class="google-review">
          <img
            width="136"
            height="61"
            class="img-fluid"
            src="../../assets/icons/google-review.svg"
            alt=""
          />
          <div class="review-item">
            <h5>5.0</h5>
            <span>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
          </div>
          <a
            href="https://www.google.com/search?q=healthcarebia&oq=healthcarebia+&gs_lcrp=EgZjaHJvbWUyDAgAEEUYORiABBiiBDIKCAEQABiABBiiBDIHCAIQABjvBTIGCAMQRRg8MgYIBBBFGDwyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQg2MDM4ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8#vhid=zephyr:1&vssid=atritem-&lrd=0x3e5f437ad48ce8ab:0x1441da8daee852a8,1,,,,"
            target="_blank"
            >Based on 49 reviews
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="second-row list">
    <div class="main-links">
      <ul class="text-uppercase">
        <li><a href="/">home</a></li>
        <li><a href="/about-us">about us</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/contact-us">contact us</a></li>
        <li><a href="/faqs">FAQs</a></li>
      </ul>
    </div>

    <div class="test-links">
      <ul>
        <li><a href="/intimacy-and-wellness">STD Test Dubai</a></li>
        <li><a href="/dna-test">DNA Test Dubai</a></li>
        <li><a href="/allergy-and-intolerance-test">Food Intolerance Test</a></li>
        <li><a href="/blood-test">Custom Blood Test</a></li>
      </ul>

      <div class="social d-flex gap-3 mt-3">
        <a href="https://www.facebook.com/healthcarebia/"
          ><i class="fa-brands fa-facebook-f fs-5"></i
        ></a>
        <a href="https://www.instagram.com/healthcarebia/"
          ><i class="fa-brands fa-instagram fs-5"></i
        ></a>
        <a href="https://www.linkedin.com/company/healthcarebia/"
          ><i class="fa-brands fa-linkedin-in fs-5"></i
        ></a>
        <a href="https://www.youtube.com/@Healthcarebia"
          ><i class="fa-brands fa-youtube fs-5"></i
        ></a>
      </div>
    </div>

    <div class="drip-links">
      <ul>
        <li><a href="/iv-drip-dubai">IV Therapy Dubai</a></li>
        <li><a href="/nad-plus-drip">NAD IV Drip Dubai</a></li>
        <li><a href="/post-party-drip">Post party IV Drip</a></li>
        <li><a href="/gut-health-drip">Gut Health IV Drip</a></li>
        <li><a href="/good-sleep-drip">Good Sleep IV Drip</a></li>
        <li><a href="/energy-focus-drip">Energy &amp; Focus IV Drip</a></li>
        <li><a href="/myers-drip">Myers Cocktail IV Drip</a></li>
        <li><a href="/immune-drip">Immune System Boost IV Drip</a></li>
      </ul>
    </div>

    <div class="ebook-block">
      <div class="col-12 ebook-form">
        <h5 style="font-size: 18px; color: white; text-align: center">
          Stay on top of your health!
        </h5>
        <form
          action="/ebooks/download"
          method="POST"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 100%;
            gap: 1em;
          "
          class="mt-4"
          id="ebookForm"
        >
          <div class="col-md-12 mb-3">
            <input
              class="form-input"
              type="email"
              placeholder="Enter your email"
              name="email"
              required
              style="
                width: 100%;
                height: 100%;
                padding: 13px 32px;
                border-radius: 30px;
                border: none;
              "
            />
          </div>
          <p>Your <a href="/">Privacy</a> is important to us.</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="yes"
              id="consent"
              name="consent"
            />
            <label class="form-check-label" for="consent">
              <span style="color: white; font-size: 14px; text-align: start">
                I Consent to receive more information about the products, services, news &amp;
                offers
              </span>
            </label>
          </div>
          <button
            class="mt-3 ebook-btn"
            id="ebookSubmit"
            type="submit"
            style="
              padding: 8px 26px;
              border-radius: 30px;
              background-color: var(--primary);
              color: white;
              border: none;
              width: 100%;
            "
          >
            Get my free E-Guide
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="copyright">
    <ul>
      <li>
        <a href="/">Copyright © 2025 healthcarebia | All rights reserved.</a>
      </li>
      <li><a href="/terms-and-conditions">Terms and conditions</a></li>
      <li><a href="/patients-rights">Patients Rights</a></li>
      <li><a href="/refund">Cancellation/Refund policy</a></li>
    </ul>
  </div>
</footer>
