<link rel="stylesheet" href="/assets/css/floating-block.css" />
<nav class="navbar" id="header">
  <div class="logo">
    <a href="/"><img src="/assets/img/logo.png" alt="brand logo" /></a>
    <button class="mobile-nav-button">
      <img
        src="/assets/icons/hamburger-icon.svg"
        alt="hamburger icon"
        height="30px"
        class="hamburger-icon"
      />
      <img src="/assets/icons/cross-icon.svg" alt="close icon" height="40px" class="cross-icon" />
    </button>
  </div>
  <div class="menu">
    <a href="/">Home</a>
    <a href="/about-us">About us</a>

    <!-- First dropdown -->
    <div class="dropdown">
      <div class="dropdown-block">
        <a href="/iv-drip-dubai">IV & Wellness</a>
        <img src="/assets/icons/down-arrow-white-without-bg.svg" alt="down arrow" height="30px" />
      </div>
      <div class="dropdown-items">
        <a href="/nad-plus-drip">NAD+ Drip</a>
        <a href="/post-party-drip">Post Party IV</a>
        <a href="/gut-health-drip">Gut Health IV</a>
        <a href="/good-sleep-drip">Good Sleep IV</a>
        <a href="/energy-focus-drip">Energy & Focus IV</a>
        <a href="/myers-drip">Myers Cocktail IV</a>
        <a href="/immune-drip">Immune System Boost IV</a>
        <a href="/oxygen-therapy">Oxygen Therapy</a>
        <a href="/tele-consultation">Tele Consultation</a>
        <a href="/nurse-at-home">Nurse At Home</a>
      </div>
    </div>

    <!-- Second dropdown (now same structure as first) -->
    <div class="dropdown">
      <div class="dropdown-block">
        <a href="/lab-test-at-home">Lab Test at Home</a>
        <img src="/assets/icons/down-arrow-white-without-bg.svg" alt="down arrow" height="30px" />
      </div>
      <div class="dropdown-items">
        <a href="/allergy-and-intolerance-test">Allergy Intolerance Test</a>
        <a href="/common-and-functional-test">Common Test</a>
        <a href="/blood-test">Custom Blood Test</a>
        <a href="/dna-test">DNA Test</a>
        <a href="/general-health-test">General Test</a>
        <a href="/intimacy-and-wellness">Intimacy & Wellness</a>
        <a href="/mens-health">Men’s Health</a>
        <a href="/womens-health">Women’s Health</a>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropdown-block">
        <a href="#">Resources</a>
        <img src="/assets/icons/down-arrow-white-without-bg.svg" alt="down arrow" height="30px" />
      </div>
      <div class="dropdown-items">
        <a href="/blog">Blog</a>
        <a href="/faqs">FAQs</a>
        <!-- <a href="/common-and-functional-test">Common Test</a>
        <a href="/blood-test">Custom Blood Test</a>
        <a href="/dna-test">DNA Test</a>
        <a href="/general-health-test">General Test</a>
        <a href="/intimacy-and-wellness">Intimacy & Wellness</a>
        <a href="/mens-health">Men’s Health</a>
        <a href="/womens-health">Women’s Health</a> -->
      </div>
    </div>
    <a href="/contact-us">Contact us</a>
    <a href="https://wa.me/971547077476" target="_blank" class="btn book-now">Book now</a>
  </div>
</nav>

<script src="/assets/js/navbar.js"></script>
<%- include('floating-block.ejs') %>
