<link rel="stylesheet" href="/assets/css/floating-block.css" />
<nav class="navbar navbar-expand-lg sticky-top navbar-light" id="header">
  <a class="navbar-brand" href="/">
    <img src="../../assets/img/logo.png" alt="logo" height="38px" width="271px" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    id="toggle"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto align-items-lg-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about-us">About us</a>
      </li>

      <!-- IV Drips -->
      <li class="nav-item dropdown d-sm-flex align-items-center">
        <a class="nav-link" href="/iv-drip-dubai">IV & WELLNESS</a>
        <a
          class="nav-link dropdown-toggle dropdown-toggle-split"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="visually-hidden">Toggle dropdown</span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/nad-plus-drip">NAD+ Drip</a></li>
          <li><a class="dropdown-item" href="/post-party-drip">Post Party IV</a></li>
          <li><a class="dropdown-item" href="/gut-health-drip">Gut Health IV</a></li>
          <li><a class="dropdown-item" href="/good-sleep-drip">Good Sleep IV</a></li>
          <li><a class="dropdown-item" href="/energy-focus-drip">Energy & Focus IV</a></li>
          <li><a class="dropdown-item" href="/myers-drip">Myers Cocktail IV</a></li>
          <li><a class="dropdown-item" href="/immune-drip">Immune System Boost IV</a></li>
          <li><a class="dropdown-item" href="/oxygen-therapy">Oxygen Therapy</a></li>
          <li><a class="dropdown-item" href="/tele-consultation">Tele Consultation</a></li>
          <li><a class="dropdown-item" href="/nurse-at-home">Nurse At Home</a></li>
        </ul>
      </li>

      <!-- Lab Tests -->
      <li class="nav-item dropdown d-sm-flex align-items-center">
        <a class="nav-link" href="/lab-test-at-home">Lab Test at home</a>
        <a
          class="nav-link dropdown-toggle dropdown-toggle-split"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="visually-hidden">Toggle dropdown</span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="/allergy-and-intolerance-test"
              >Allergy Intolerance Test</a
            >
          </li>
          <li><a class="dropdown-item" href="/common-and-functional-test">Common Test</a></li>
          <li><a class="dropdown-item" href="/blood-test">Custom Blood Test</a></li>
          <li><a class="dropdown-item" href="/dna-test">DNA Test</a></li>
          <li><a class="dropdown-item" href="/general-health-test">General Test</a></li>
          <li><a class="dropdown-item" href="/intimacy-and-wellness">Intimacy & Wellness</a></li>
          <li><a class="dropdown-item" href="/mens-health">Men’s Health</a></li>
          <li><a class="dropdown-item" href="/womens-health">Women’s Health</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact-us">Contact us</a>
      </li>
      <li class="nav-item">
        <a href="https://wa.me/971547077476"
          ><button class="btn book-now py-2 px-4 ms-lg-3 mt-2 mt-lg-0">Book now</button></a
        >
      </li>
    </ul>
  </div>
</nav>
<%- include('floating-block.ejs') %>
