



@media (min-width:1366px) and (max-width:1600px) { 



   .about-block{background-position: -260px -30px !important;}

}



@media (min-width:1200px) and (max-width:1366px) { 



   .about-block{background-position: -260px -30px !important;}

   .services-title {

      bottom: 25px;

    }

    .why-choose {

      background-position: -182px -259px;

    }



    .main-banner {overflow: hidden;}

    .main-banner video {  object-fit: cover;

      background-size: cover;

      width: 100%;

      height: 130%;



     

    }

    

}





/* ==========================================================================

    (Medium Desktop, 1400px and up)*

    ========================================================================== */

@media (max-width: 1400px) {

   

}

 

 

/* ==========================================================================

   *Medium devices (tablets, 1200px and down)*

   ========================================================================== */

@media (max-width: 1200px) {

  .main-menu > ul > li { margin-right: 10px; padding-bottom: 0;}
  .logo { display: inline-block; max-width: 180px;}
  .main-menu > ul > li > a { font-size: 13px;}
  .main-menu > ul > li > a.white-btn { font-size: 13px !important;}

}

 

 

/* ==========================================================================

   *Medium devices (tablets, 991px and down)*

   ========================================================================== */

 @media (max-width: 991px) {

   .main-menu { display:none;}

   .mobile-menu { display:block; background:#000000; position: relative; z-index: 9999;}

   .mobile-menu .menu-toggle {

      display: block;

      z-index: 9999999;

      position: absolute;

      top: 15px;

      right: 17px;

    }

    .mobile-menu .menu-toggle.active{top: 7px;}

   .mobile-menu ul.menu-list{display:none;}

   .mobile-menu > ul > li > span { display:none;}

   .mobile-menu > ul.menu-list > li > a.login { color: #fff; display:block; width:100%; font-size: 14px; text-transform: uppercase; padding: 8px 0; background:none; display: inline-block; line-height: normal; position: relative;  top:0px;  border-radius: 0px;}

   .mobile-menu > ul > li > a.active { color: #fff;}

   .header-right { margin-right: 50px;}

   .mobile-menu > ul.menu-list { padding: 10px 0;}

   .mobile-menu > ul > li > a { font-size: 14px; text-transform: uppercase;}

   .mobile-menu ul.menu-list > li > ul > li > a { font-size: 14px;}



   /* Menu Second Level 21-01-2021 */

   .mobile-menu ul.menu-list > li > ul{padding: 0;}

   .mobile-menu ul.menu-list > li > ul > li >ul{ display:none; background: #505050; padding: 0;}

   .mobile-menu ul.menu-list > li > ul > li >ul >li>a{font-size: 14px; text-align: left;}

   .mega-item ul li{padding: 0px;}

 

   /* Menu Second Level END 21-01-2021 */



   .mega-drop { padding: 0 15px; position: relative; z-index: 3; left: inherit !important; top: inherit !important; right: inherit !important; bottom: inherit !important; width: 100% !important; display: none;  opacity: 1; transform: scale(1); pointer-events: auto; background: #1b1a1a; border-radius: 0px;}

   .mobile-menu ul > li > a { font-weight: 400;}

   .drop-links > li > a { font-size: 14px;}

   .drop-links li a:before { position: static; display: inline-block; margin-right: 20px;}

   .header-top-block { padding: 10px 0;}

   .counter-box{padding: 10px; background: var(--default-grey); margin-bottom: 25px;}

   .mega-drop{background: var(--white);}

   .mega-item{text-align: left;}

   .mega-item ul li{display: flex;}

   .mega-item ul li a{margin-left: 0px;padding: 8px 10px;}

   .mega-item ul li::before{margin: 10px 0 0 0;}



   .main-banner video{object-fit: cover;}



   .services-slider.owl-carousel .owl-item img {

    width: 100% !important;

    margin: 0px auto;

  }

  .why-choose-out h4{font-size: 25px;}

   

 }

 





 



 

/* ==========================================================================

   *Small devices (landscape phones, less than 768px)*

   ========================================================================== */ 

@media (max-width: 767px) {

   h1{font-size: 45px;}

   h2{font-size: 35px;}

   h5{font-size: 20px;}

   .no-soacing-bottom{padding-bottom: 0;}

   .small-banner{background-image: center !important;}

   .small-banner .col-12 {

    left: 0;

  }

  ul.breadcrumb-blog li.active{display: block; margin-top: 10px;}

  .small-banner .overlay{background-color: #568259e5;}

  .small-banner .breadcrumb li.active{background: var(--white); color: var(--green);}

  .small-banner-inner {

    min-height: 75px !important;

  }

   .main-banner {

      width: 100%;

      height: 482px;

      overflow: hidden;

    }

    

    .main-banner video {  object-fit: cover;

      background-size: cover;

      width: 100%;

      height: 100%;

      transform: scale(1.3);

    }

    .main-banner .overlay{z-index: 999;}

    .statistics span, .statistics i{font-size: 25px;}

    .about-text, .banner-inner{text-align: center;}

    .about-block{background-image: none;}



    .logo img{width:260px;}





    .services-title {

      position: absolute;

      z-index: 99999;

      width: 80%;

      bottom: 20px;

      padding: 20px 30px;

    }

   .why-choose{text-align: center;}

   .choose-item {

      display: block;

      width: 100%;

      margin: 0px auto;

      text-align: center;

    }

    .choose-item .item-icon {

      margin: 0px auto 20px;

      text-align: center;

      align-items: center;

      display: flex;

      justify-content: center;

    }

    .why-choose {

      background-color: var(--default-grey); background-image: none !important;}

      .choose-item{padding: 15px; background: var(--white); margin-top: 20px;-webkit-border-radius: 10px;

         -moz-border-radius: 10px;

         border-radius: 10px;}



         .choose-item .item-icon span{background: var(--default-grey);}   

         footer{background: rgb(86,130,89);

            background: linear-gradient(180deg, rgba(86,130,89,1) 0%, rgba(103,170,107,1) 100%); height: auto;}

         footer .overlay {

            height: auto;

            padding: 20px 0 0 0;

            background: rgb(86,130,89);

background: linear-gradient(180deg, rgba(86,130,89,1) 0%, rgba(103,170,107,1) 100%);

          }

         footer video{display: none;}

         footer{text-align: center;}

         .copy-right{position: relative;}

         .healing-body .phone-nmber .inner span{width: 45px; height: 45px;}

         .healing-body .phone-nmber .inner img{width: 25px;}

         .healing-body a {

            font-size: 15px;

            padding: 10px 45px;

            margin: 25px auto;

          }

          .healing-body{min-height: 330px;}

          .copy-right{margin-top: 30px;}





          .healing-body .phone-nmber .inner{display: block;}

          .google-review{margin: 0px auto;}



          .healing-body .phone-nmber .inner span {

            margin: 0px auto 10px;

          }



          .mob-inner-banner{ background-position: center; background-repeat: no-repeat; text-align: center;}

          .sub-banner{ background-position: center; background-repeat: no-repeat; min-height: 350px; text-align: center; background-image: none !important;}

          .sub-banner .container{width: 100%;}

          .sub-banner .container .row{width: 100%; margin: 0px auto;}

          .breadcrumb {

            margin: 0px auto;

            text-align: center;

            display: inline-flex;

            justify-content: center;

          }

          .why-choose-therapy{background-image: none !important;}

          .why-choose-therapy h2 {

            text-align: center;

          }

          .therapy-choose-item {

            display: block;

            text-align: center;

            width: 85%;

            margin: 0px auto;

          }



          .therapy-choose-item .img {

    

            margin: 0px auto 15px;

    

          }

          .what-therapy-bg{background-image: none !important;}

          ul.listing-item4 li{display: block;}

          .breadcrumb-item + .breadcrumb-item {

            padding-left: var(--bs-breadcrumb-item-padding-x);

            margin-left: 2px;

          }

          .breadcrumb li:last-child{display: block; width: 100%;}

          .sub-banner-3{background-image: url(../img/sub-banner-3.png) !important;}



          .about-counter{margin-bottom: 20px;}

         .about-counter .counter-box{background: none;margin-bottom: 0px;}

         .about-counter img{margin-bottom: 0px;}



         .card-style5{margin-bottom: 15px;}



         .sub-banner .container {

          align-items: center;

          display: block;

          height: 100%;

          padding-top: 150px;

        }





        .banner-inner {

          margin: 75px 0 0 0;

        }



        .top-bar-info div {

          margin: 0 10px;

        }

        .small-banner-inner{min-height:100px !important; }

        .mobile-off{display: none;}



        .booking-btn{margin: 10px 0; width: 100%; text-align: center;}

         

         

}



/* ==========================================================================

   *Extra small devices (portrait phones, less than 576px)*

   ========================================================================== */ 

@media (max-width: 575px) {

   

}





/* ==========================================================================

   *Extra small devices (portrait phones, less than 480px)*

   ========================================================================== */ 

@media (min-width:320px) and (max-width:480px) { 

  

}



