@media (min-width:1366px) and (max-width:1600px) {
  .about-block {
    background-position: -260px -30px !important
  }
}

@media (min-width:1200px) and (max-width:1366px) {
  .about-block {
    background-position: -260px -30px !important
  }

  .services-title {
    bottom: 25px
  }

  .why-choose {
    background-position: -182px -259px
  }

  .main-banner {
    overflow: hidden
  }

  .main-banner video {
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 130%
  }
}

@media (max-width:1200px) {
  .main-menu>ul>li {
    margin-right: 10px;
    padding-bottom: 0
  }

  .logo {
    display: inline-block;
    max-width: 180px
  }

  .main-menu>ul>li>a {
    font-size: 13px
  }

  .main-menu>ul>li>a.white-btn {
    font-size: 13px !important
  }
}

@media (max-width:991px) {

  .mobile-menu>ul.menu-list>li>a.login,
  .mobile-menu>ul>li>a {
    text-transform: uppercase;
    font-size: 14px
  }

  .main-menu,
  .mobile-menu ul.menu-list,
  .mobile-menu>ul>li>span {
    display: none
  }

  .mobile-menu {
    display: block;
    background: #000;
    position: relative;
    z-index: 9999
  }

  .mobile-menu .menu-toggle {
    display: block;
    z-index: 9999999;
    position: absolute;
    top: 16px;
    right: 25px
  }

  .mobile-menu .menu-toggle.active {
    top: 7px
  }

  .mobile-menu>ul.menu-list>li>a.login {
    color: #fff;
    width: 100%;
    padding: 8px 0;
    background: 0 0;
    display: inline-block;
    line-height: normal;
    position: relative;
    top: 0;
    border-radius: 0
  }

  .mobile-menu>ul>li>a.active {
    color: #fff
  }

  .header-right {
    margin-right: 50px
  }

  .header-top-block,
  .mobile-menu>ul.menu-list {
    padding: 10px 0
  }

  .drop-links>li>a,
  .mobile-menu ul.menu-list>li>ul>li>a {
    font-size: 14px
  }

  .mobile-menu ul.menu-list>li>ul {
    padding: 0
  }

  .mobile-menu ul.menu-list>li>ul>li>ul {
    display: none;
    background: #505050;
    padding: 0
  }

  .mobile-menu ul.menu-list>li>ul>li>ul>li>a {
    font-size: 14px;
    text-align: left
  }

  .mega-item ul li {
    padding: 0;
    display: flex
  }

  .mega-drop {
    padding: 0 15px;
    position: relative;
    z-index: 3;
    left: inherit !important;
    top: inherit !important;
    right: inherit !important;
    bottom: inherit !important;
    width: 100% !important;
    display: none;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    background: #1b1a1a;
    border-radius: 0
  }

  .mobile-menu ul>li>a {
    font-weight: 400
  }

  .drop-links li a:before {
    position: static;
    display: inline-block;
    margin-right: 20px
  }

  .counter-box {
    padding: 10px;
    background: var(--default-grey);
    margin-bottom: 25px
  }

  .mega-drop {
    background: var(--white)
  }

  .mega-item {
    text-align: left
  }

  .mega-item ul li a {
    margin-left: 0;
    padding: 8px 10px
  }

  .mega-item ul li::before {
    margin: 10px 0 0
  }

  .main-banner video {
    object-fit: cover
  }

  .services-slider.owl-carousel .owl-item img {
    width: 100% !important;
    margin: 0 auto
  }

  .why-choose-out h4 {
    font-size: 25px
  }

  .why-choose-heading-one {
    display: block;
    text-align: center;
    ;
  }

  .why-choose-heading-two {
    display: none !important;
  }

  .service-block2 {
    display: block;
    height: 720px;
  }

  .service-block1 {
    display: none;
  }

  .main-banner h1 {
    font-size: 75px
  }

  .services-slider .owl-nav button.owl-prev {
    left: 30px;
  }

  .services-slider .owl-nav button.owl-next {
    right: 30px;
  }

  .testimonials-slider .owl-nav button.owl-next {
    right: 50px;
  }

  .testimonials-slider .owl-nav button.owl-prev {
    left: 50px;
  }

  footer .overlay {
    height: 600px;
  }

  .footer-banner>img {
    height: 27px;
    width: 200px;
  }

  .review-item h5 {
    display: none;
  }

  .why-choose-item {
    width: 300px;
  }

  .why-image-wrap {
    display: none;
  }

  .face-image {
    display: none;
  }
}

@media (max-width:768px) {

  .about-text,
  .banner-inner,
  .choose-item,
  .why-choose,
  .why-choose-therapy h2 {
    text-align: start
  }

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why-choose {
    min-height: 520px
  }

  .why-choose-heading-one {
    display: block;
    text-align: center;
    ;
  }

  .why-choose-heading-two {
    display: none;
  }

  .why-image-wrap {
    display: none;
  }

  .choose-item,
  .healing-body .phone-nmber .inner,
  ul.listing-item4 li {
    display: block
  }

  h1 {
    font-size: 45px !important;
  }

  h2 {
    font-size: 35px !important;
  }

  h5 {
    font-size: 20px !important;
  }

  .no-soacing-bottom {
    padding-bottom: 0
  }

  .small-banner {
    background-image: center !important
  }

  .small-banner .col-12 {
    left: 0
  }

  ul.breadcrumb-blog li.active {
    display: block;
    margin-top: 10px
  }

  .small-banner .overlay {
    background-color: #568259e5
  }

  .small-banner .breadcrumb li.active {
    background: var(--white);
    color: var(--green)
  }

  .main-banner {
    width: 100%;
    height: 100vh;
    overflow: hidden
  }

  .main-banner video {
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.3)
  }

  footer,
  footer .overlay {
    height: auto;
  }

  .main-banner .overlay {
    z-index: 999
  }

  .statistics i,
  .statistics span {
    font-size: 25px
  }

  .about-block {
    background-image: none;
    padding: 20px !important;
  }

  .logo img {
    width: 260px
  }

  .services-title {
    position: absolute;
    z-index: 99999;
    width: 80%;
    bottom: 20px;
    padding: 20px 30px
  }

  .why-choose {
    background-color: var(--default-grey);
    background-image: none !important
  }

  /* .choose-item {
    width: 100%;
    margin: 20px auto 0;
    padding: 15px;
    background: var(--white);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
  } */
  .why-choose-item {
    margin: 10px;
    height: 200px;
    width: 40%;
    padding: 15px;
    background-color: white;
  }

  .choose-item h3 {
    font-size: 14px;
    text-align: center;
  }

  .mob-inner-banner,
  .sub-banner {
    background-position: center;
    background-repeat: no-repeat;
    text-align: center
  }

  .sub-banner,
  .what-therapy-bg {
    background-image: none !important
  }

  .choose-item .item-icon {
    margin: 0 auto 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center
  }

  .choose-item .item-icon span {
    background: var(--default-grey)
  }

  footer {
    /* background: linear-gradient(to bottom, #1d2618 0%, #2c3129 100%) !important; */
    text-align: center
  }

  .mobile-off,
  footer video {
    display: none
  }

  .copy-right {
    position: relative;
    margin-top: 30px
  }

  .healing-body .phone-nmber .inner span {
    width: 45px;
    height: 45px;
    margin: 0 auto 10px
  }

  .healing-body .phone-nmber .inner img {
    width: 25px
  }

  .healing-body a {
    font-size: 15px;
    padding: 10px 45px;
    margin: 25px auto
  }

  .healing-body {
    min-height: 330px
  }

  .google-review {
    margin: 0 10px;
    background-color: transparent;
  }

  .google-review a {
    display: none;
  }

  .review-item h5 {
    display: none
  }

  .review-item span .fa-star {
    font-size: 10px;
  }

  .sub-banner {
    min-height: 600px
  }

  .sub-banner .container .row {
    width: 100%;
    margin: 0 auto
  }

  .breadcrumb {
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    justify-content: center
  }

  .breadcrumb li:last-child,
  .sub-banner .container {
    display: block;
    width: 100%
  }

  .therapy-choose-item {
    display: flex;
    gap: 10px;
    text-align: center;
    width: 85%;
    margin: 0 auto
  }

  .therapy-choose-item .text p {
    display: block;
  }

  .therapy-choose-item .img {
    margin: 0 auto 15px
  }

  .breadcrumb-item+.breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
    margin-left: 2px
  }

  .sub-banner-3 {
    background-image: url(../img/sub-banner-3.png) !important
  }

  .about-counter {
    margin-bottom: 20px
  }

  .about-counter .counter-box {
    background: 0 0;
    margin-bottom: 0
  }

  .about-counter img {
    margin-bottom: 0
  }

  .card-style5 {
    margin-bottom: 15px
  }

  .sub-banner .container {
    align-items: center;
    height: 100%;
    padding-top: 70px
  }

  .banner-inner {
    margin: 75px 0 0
  }

  .top-bar-info div {
    margin: 0 10px
  }

  .small-banner-inner {
    min-height: 100px !important
  }

  .booking-btn {
    margin: 10px 0;
    width: 100%;
    text-align: center
  }

  .service-block2 {
    display: block;
    height: 650px;
  }

  .services-slider-item {
    width: 90% !important;
  }

  .owl-item .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-block1 {
    display: none;
  }

  .trust-section {
    display: none;
  }

  .google,
  .fda {
    transform: scale(1) !important;
    height: 100px;
  }

  .dha,
  .nabidh {
    height: 40px !important;
  }

  .text p {
    display: none;
  }

  .about-us-right .image {
    display: none;
  }

  .services-slider .owl-nav button.owl-prev {
    left: 60px;
  }

  .services-slider .owl-nav button.owl-next {
    right: 60px;
  }

  .testimonials-slider .owl-nav button.owl-next {
    right: 60px;
  }

  .testimonials-slider .owl-nav button.owl-prev {
    left: 60px;
  }

  ul#downArrow {
    display: flex;
  }

  .ebook-form {
    margin-top: 10px !important
  }

  #ebookFormDesktop {
    display: none;
  }

  #ebookFormMobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #ebookFormMobile form {
    max-width: 70%;
  }

  #ebookFormMobile h6 {
    color: var(--green) !important;
  }

  #ebookFormMobile form {
    display: block !important;
  }

  #ebookFormMobile form input {
    border: 1px solid var(--green) !important;
  }

  #ebookFormMobile .form-check span {
    color: var(--green) !important;
  }

  .google-review img {
    width: 70px;
    height: 27px;
  }

  .trust-section-mobile .item div p {
    display: none;
  }

  .trust-section-mobile .item div h3 {
    display: none;
  }

  .trust-section-mobile .owl-item .item div {
    width: 90%;
    border-radius: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .google-reviews {
    flex-direction: column;
  }

  .footer-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media(max-width: 576px) {
  #ebookFormMobile form {
    max-width: 90%;
  }

  .footer-banner .images img {
    height: 30px;
  }
}