:root {
  --white: #ffffff;
  --black: hsl(0, 0%, 0%);
  --green: #568259;
  --red-hover: #fd2c2c;
  --default-grey: #f0f5f8;
  --light-grey: #fafafb;
  --middle-dark: #3b3b3b;
  --p-color: #28322e;
  --light-blue: #d2e5ed;
  --light-green: #eff9f1;
}

html,
body {
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: 400;
  list-style: none;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
  color: var(--black);
  line-height: normal;
  line-height: 1.1;
  font-weight: 500;
}

a {
  color: #018aff;
  text-decoration: none;
  transition: all ease-out .3s;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
}

a:hover {
  text-decoration: none;
  color: #3ba4ff;
}

label {
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--black);
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-bottom: 15px;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

focus {
  outline: 0;
}

.primary-btn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 13px 32px;
  display: table;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

img {
  vertical-align: text-bottom
}

/*========================== Commen styles ========================*/
h1 {
  font-family: 'Marcellus', serif;
  font-size: 65px;
  font-weight: 300;
}

h2 {
  font-family: 'Marcellus', serif;
  font-size: 60px;
  font-weight: 300;
  color: var(--green);
}

h4 {
  font-size: 35px;
  font-family: 'Marcellus', serif;
  color: var(--green)
}

h5 {
  font-size: 30px;
  font-family: 'Marcellus', serif;
  color: var(--green);
}

h6 {
  font-size: 25px;
  font-family: 'Marcellus', serif;
}

p {
  font-size: 17px;
  font-family: 'Marcellus', serif;
  color: var();
}

.minus-top10 {
  margin-top: -10px;
}

.border-btn {
  border: 1px solid var(--white);
  background-color: none;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-right:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.small-btn {
  padding: 8px 20px !important;
}

.white-color {
  color: var(--white);
}

.white-btn {
  background: var(--white);
  color: var(--green) !important;
}

.white-btn:hover {
  color: var(--white) !important;
}

.no-btn-bg {
  background: none !important;
  color: var(--white);
}

.no-btn-bg:hover {
  color: var(--green);
}

.no-btn-bg:before {
  background: var(--white);
}

.white-btn:before {
  background: var(--green);
  color: var(--white);
}

.white-btn2:before {
  background: var(--white);
}

.white-btn2:hover {
  color: var(--green);
}

.book-now-btn1 {
  border: 2px solid var(--white);
  background: none;
  color: var(--white);
  padding: 7px 15px;
}

.green-btn {
  background: var(--green);
  color: var(--white);
}

.green-btn:hover {
  color: var(--white);
}

.green-btn:before {
  background: var(--black);
  color: var(--white);
}

.white-bg {
  background-color: var(--white) !important;
}

.menu-line:before {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 37, 129, 0) 100%);
}

.menu-line2:before {
  background: rgb(86, 130, 89);
  background: linear-gradient(90deg, rgba(86, 130, 89, 0.7091211484593838) 0%, rgba(0, 0, 0, 0) 100%);
}

.hvr-fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.section-gap {
  padding: 60px 0;
}

.more-space-bottom {
  padding-bottom: 100px !important;
}

header {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.no-bottom {
  padding-bottom: 0;
}

.header-main-menu {
  display: block;
  padding: 20px;
}

.header-main-menu>.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ==========================================================================

   Menu with dropdown menu begin

   ========================================================================== */
.main-menu {
  display: block;
}

.main-menu>ul {
  display: block;
}

.main-menu>ul>li {
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 8px;
}

.main-menu>ul>li>a {
  color: #ffffff;
  display: block;
  font-size: 15px;
  position: relative;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-menu>ul>li>a::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background: var();
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 0;
  margin: auto;
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.main-menu>ul>li>a:hover::after {
  width: 100%;
}

.main-menu>ul>li:hover>a,
.main-menu>ul>li.active>a {
  color: var();
}

.main-menu>ul>li:hover a::after,
.main-menu>ul>li.active>a::after {
  width: 100%;
}

.main-menu>ul>li.dropdown>a::before {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 14px;
  color: var(--black);
  display: inline-block;
  position: absolute;
  right: -8px;
  top: 9px;
}

.main-menu>ul>li.dropdown:hover>a::before {
  color: var();
}

.main-menu>ul>li>ul {
  display: block;
  position: absolute;
  top: 37px;
  left: 0px;
  background-color: var();
  width: 200px;
  font-weight: 400;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all ease-out 0.3s;
  transform: translateY(10px);
}

.main-menu>ul>li>ul>li {
  display: block;
  border-top: 1px solid #f34b4b;
}

.main-menu>ul>li>ul>li:first-child {
  border-top: none;
}

.main-menu>ul>li>ul>li>a {
  display: block;
  color: #d1e1f4;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.main-menu>ul>li>ul>li>a:hover {
  background: var();
  color: #ffffff;
}

.main-menu>ul>li:nth-child(4)>ul {
  left: inherit;
  right: 0px;
}

.main-menu>ul>li>ul.normal-sub-menu {
  width: 250px;
}

.main-menu>ul>li>ul {
  max-height: 350px;
  overflow-y: auto;
  scrollbar-color: #f34b4b #363232;
  scrollbar-width: thin;
}

.main-menu>ul>li>ul::-webkit-scrollbar {
  width: 8px;
}

.main-menu>ul>li>ul::-webkit-scrollbar-track {
  background: var();
}

.main-menu>ul>li>ul::-webkit-scrollbar-thumb {
  background-color: var();
  outline: none;
}

.main-menu>ul>li:hover>ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

/* Menu Second Level  */
.main-menu>ul>li>ul>li {
  position: relative;
  display: block;
}

.main-menu>ul>li>ul>li>a.hoverClass {
  color: var(--white);
}

.main-menu>ul>li>ul>li.dropdown>a:after {
  content: "\f107";
  position: absolute;
  top: 8px;
  right: 15px;
  font-family: 'FontAwesome';
  transition: all ease 0.2s;
}

.main-menu>ul>li>ul>li.dropdown>a.hoverClass:after {
  color: var(--white);
  transform: rotate(-90deg);
}

.main-menu>ul>li>ul>li>ul {
  display: block;
  transition: all ease 0.2s;
  position: absolute;
  top: 0px;
  left: 220px;
  background-color: var();
  width: 200px;
  font-weight: 400;
  opacity: 0;
}

.main-menu>ul>li>ul>li>ul.pull-ul {
  right: 200px;
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

.main-menu>ul>li>ul>li>ul>li {
  display: block;
  border-top: 1px solid #615f5f;
}

.main-menu>ul>li>ul>li>ul>li:first-child {
  border-top: none;
}

.main-menu>ul>li>ul>li ul>li>a {
  display: block;
  color: #a6a6ac;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  text-align: left;
}

.main-menu>ul>li>ul>li ul>li>a:hover {
  color: #fff;
}

.main-menu>ul>li:last-child {
  margin-right: 0px;
}

/*======================================== Menu Style End =======================================*/
.mobile-menu ul.menu-list {
  padding: 5px 0;
}

.mobile-menu ul.menu-list>li>a:hover {
  background: var(--green);
  color: #FFF;
}

.mobile-menu ul.menu-list>li>ul {
  display: none;
  margin-left: 0;
  padding: 10px 0;
  background: #2b2a2a;
}

.mobile-menu ul.menu-list>li a.open,
.mobile-menu ul.menu-list>li>ul>li a:hover {
  background: var(--green);
  color: var(--white);
}

.mobile-menu ul.menu-list>li>ul>li a {
  color: #FFF;
  padding: 10px 10px;
  display: block;
  font-size: 16px;
  transition: all ease-out .2s;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -ms-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  text-align: center;
}

.menu-toggle {
  position: absolute;
  display: none;
  width: 40px;
  height: 40px;
  top: 8px;
  right: 20px;
  padding-top: 6px;
  box-sizing: border-box;
  border: none;
  background: none;
  padding: 0;
}

.menu-toggle span.line {
  position: relative;
  width: 65%;
  height: 2px;
  background: #ffffff;
  margin: 6px auto;
  display: block;
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s
}

.menu-toggle.active span.line {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: center center;
}

.menu-toggle.active span.line.a {
  transform: rotate(45deg)
}

.menu-toggle.active span.line.c {
  transform: rotate(-45deg)
}

.menu-toggle.active span.line.b {
  opacity: 0
}

.mobile-menu {
  display: none;
}

.mobile-menu>ul {
  padding: 10px 0
}

.mobile-menu ul>li {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.mobile-menu ul>li:first-child {
  border-top: none;
}

.mobile-menu ul>li>a {
  display: block;
  color: var(--white);
  font-size: 16px;
  padding: 8px 20px;
}

.mobile-menu ul>li>a>img {
  display: none;
}

.mobile-menu ul>li.dropdown>a {
  position: relative;
}

.mobile-menu ul>li.dropdown>a:after {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 14px;
  color: var(--white);
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 8px;
}

.mobile-menu ul>li.drp>a {
  position: relative;
}

.mobile-menu ul>li.drp>a:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: 6px solid #fff;
  border-color: var(--white) transparent transparent transparent;
  position: absolute;
  right: 15px;
  top: 15px;
}

.mobile-menu ul>li.drp>a.open:after {
  border: 6px solid var(--white);
  border-color: transparent transparent var(--white) transparent;
  top: 10px;
}

/*======================================== Menu Style End =======================================*/
.mega-drop {
  border-top: none;
  position: absolute;
  width: 100%;
  top: 53px;
  left: 0;
  display: block;
  opacity: 0;
  pointer-events: none;
  /*overflow: hidden;*/
  transition: all ease 0.3s;
  transform: scale(0.96);
  text-align: left;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.144);
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(2px);
  z-index: 9;
  padding: 50px 15px;
}

.mega-drop.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  z-index: 9;
}

.mega-drop-main {
  display: block;
  overflow: hidden;
}

.main-menu>ul>li:hover>.mega-drop {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  z-index: 9;
}

/* ==========================================================================

  Menu with dropdown menu End

  ========================================================================== */
.main-banner {
  width: 100%;
  height: 800px;
  background: #000;
  position: relative;
}

.overlay {
  background: rgb(86, 130, 89);
  background: linear-gradient(180deg, rgba(86, 130, 89, 1) 0%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
}

.social-media ul li {
  display: inline-block;
  margin: 0 5px;
}

.social-media ul li a i {
  color: var(--white);
}

.social-media ul li a:hover i {
  opacity: 0.4;
}

.banner-inner {
  margin: 0 0 0 0;
}

.main-banner .container {
  height: 100%;
  align-items: center;
  display: flex;
}

.main-banner h1 {
  color: var(--white);
}

.main-banner p {
  color: var(--white);
}

.about-block {
  background: url(../img/about-bg.webp) no-repeat right;
}

.about-block h2 {
  color: var(--green);
}

.about-block h5 {
  color: var(--green);
  margin-bottom: 0px;
}

.about-block p {
  color: var(--p-color);
}

.statistics {
  font-size: 40px;
  font-family: 'Marcellus', serif;
  color: var(--green);
  margin: 20px 0;
}

.statistics span {
  color: var(--green);
}

.statistics i {
  color: var(--green) !important;
  font-style: normal;
}

.statistics h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.services-block {
  height: 720px;
  overflow: hidden;
  position: relative;
}

.services-block h2 {
  color: var(--white);
}

.services-slider {
  width: 100%;
}

.services-slider-item {
  height: 450px;
}

.services-title {
  position: absolute;
  z-index: 99999;
  width: 80%;
  bottom: 20px;
  padding: 20px 30px;
}

.services-title h3 {
  text-align: left;
  font-size: 30px;
  font-family: 'Marcellus', serif;
  color: var(--white);
  margin-bottom: 0px;
}

.services-slider .owl-nav {
  display: block;
  position: relative;
  bottom: -55px;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services-slider .owl-nav button {
  width: 70px;
  height: 25px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid var(--white);
  font-size: 36px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 30px !important;
  position: absolute;
  bottom: 50%;
  transition: all ease-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-slider .owl-nav button.owl-prev {
  border: 2px solid var(--white);
  margin-left: -80px;
  background-image: url(../img/arrow-left.svg) !important;
}

.services-slider .owl-nav button.owl-next {
  border: 2px solid var(--white);
  background-image: url(../img/arrow-right.svg) !important;
  margin-right: -80px;
}

.services-slider .owl-stage-outer {
  position: relative;
  z-index: 2;
}

.services-slider .owl-nav button:hover {
  border-color: var(--green);
  background: var(--green);
}

.why-choose {
  background-color: var(--default-grey);
  background-repeat: no-repeat;
  background-position: left;
}

.why-choose h2 {
  color: var(--green);
}

.choose-item {
  display: flex;
  width: 100%;
  margin-top: 35px;
}

.choose-item h4 {
  font-family: 'Marcellus', serif;
}

.choose-item .item-icon {
  margin-right: 20px;
}

.choose-item .item-icon span {
  width: 100px;
  height: 100px;
  background: var(--white);
  border-radius: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  display: flex
}

.choose-item .item-icon span img {
  width: 60px;
}

.choose-item p {
  font-size: 15px;
}

.choose-item h4 {
  font-size: 25px;
}

.testimonials-img-out {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-box {
  position: relative;
  text-align: center;
  margin: 0px auto;
}

.testimonials-box img {
  text-align: center;
  margin: 0px auto;
}

.testimonials h2 {
  color: var(--green);
}

.testimonials-text {
  margin: 0px 30px;
  position: relative;
  z-index: 99999;
  color: var(--black);
  background-color: var(--green);
  top: -45px;
  width: auto;
  padding: 40px 40px 60px 40px;
  background: var(--white);
  box-shadow: 1px 9px 19px -3px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 1px 9px 19px -3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 1px 9px 19px -3px rgba(0, 0, 0, 0.16);
}

.testimonials-text h4 {
  text-align: left;
  font-family: 'Marcellus', serif;
}

.testimonials-text p {
  text-align: left;
}

.testimonials-box .play {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: var(--green);
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999999999;
  padding: 16px;
}

.testimonials-box .play:hover {
  background: var(--p-color);
}

.testimonials-slider .owl-nav {
  display: block;
  position: relative;
  bottom: -60px;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.testimonials-slider .owl-nav button {
  width: 70px;
  height: 25px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid var(--white);
  font-size: 36px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 30px !important;
  position: absolute;
  bottom: 50%;
  transition: all ease-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonials-slider .owl-nav button.owl-prev {
  border: 2px solid var(--green);
  margin-left: -80px;
  background-image: url(../img/arrow-left2.svg) !important;
}

.testimonials-slider .owl-nav button.owl-next {
  border: 2px solid var(--green);
  background-image: url(../img/arrow-right2.svg) !important;
  margin-right: -80px;
}

.testimonials-slider .owl-nav button.owl-next:hover {
  background-image: url(../img/arrow-right2-hv.svg) !important;
}

.testimonials-slider .owl-nav button.owl-prev:hover {
  background-image: url(../img/arrow-left2-hv.svg) !important;
}

.testimonials-slider .owl-stage-outer {
  position: relative;
  z-index: 2;
}

.testimonials-slider .owl-nav button:hover {
  border-color: var(--green);
  background: var(--green);
}

.healing-body {
  background: url(../img/healing-body-bg.webp) no-repeat center #e7eded;
  min-height: 450px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.healing-body h2 {
  color: var(--green);
}

.healing-body a {
  font-size: 20px;
  padding: 10px 10px;
  margin: 50px auto;
}

.healing-body .phone-nmber {
  display: table;
  margin: 0px auto;
}

.healing-body .phone-nmber .inner {
  display: flex;
  align-items: center;
}

.healing-body .phone-nmber .inner span {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: var(--green);
  align-items: center;
  display: flex;
  text-align: center;
  margin: 0px 15px;
}

.healing-body .phone-nmber .inner h5 {
  color: var(--green);
  margin-bottom: 0px;
  font-size: 25px;
}

.healing-body .phone-nmber .inner img {
  margin: 0px auto;
  text-align: center;
  width: 35px;
}

footer {
  height: 400px;
  overflow: hidden;
}

footer .overlay {
  height: 400px;
  padding: 60px 0 0 0;
}

footer .overlay .container {
  position: relative;
  z-index: 2;
}

footer p {
  color: var(--white);
}

ul.fot-link li {
  padding: 3px 0;
}

ul.fot-link li a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.copy-right {
  background: var(--green);
  padding: 10px 0;
  margin-top: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 16px;
}

.copy-right p {
  margin-bottom: 0px;
  font-size: 16px;
}

.copyright-list li {
  display: inline-block;
}

.copyright-list li a {
  color: var(--white);
  margin-right: 20px;
}

.mega-item {
  padding: 25px;
  border-radius: 11px;
  background: linear-gradient(180deg, #E3F8E4 0%, rgba(209, 209, 208, 0.00) 100%);
  border: 1px solid #E3F8E4;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
}

.mega-item .hed {
  display: flex;
}

.mega-item .hed .img {
  margin-right: 15px;
}

.mega-item .hed .img img {
  border-radius: 10px;
  width: 85px;
}

.mega-item .hed h4 {
  font-weight: 700;
  font-size: 16px;
  color: var(--green);
  margin-bottom: 10px;
}

.mega-item .hed p {
  font-size: 13px;
  color: var(--middle-dark);
  margin-bottom: 0px;
}

.mega-item .hed a {
  display: flex;
  width: 100%;
}

.mega-item ul {
  margin-top: 5px;
}

.mega-item ul li {
  padding: 4px 0 4px 0;
  position: relative;
}

.mega-item ul li a {
  font-size: 13px;
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
}

.mega-item ul li:before {
  content: "\f105";
  font-family: 'FontAwesome';
  font-size: 12px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
}

ul.contact-info-list li {
  display: inline-flex;
}

.book-now {
  padding: 8px 25px !important;
}

.google-review {
  display: table;
  width: auto;
  margin-top: 20px;
  background: var(--white);
  padding: 10px;
  border-radius: 10px;
}

.google-review img {
  width: 80px;
}

.review-item {
  display: flex;
}

.review-item i {
  color: #f6ad01;
}

.review-item h5 {
  color: var(--green);
  font-weight: 600;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
}

.google-review a {
  color: var(--green);
  font-size: 14px;
  text-decoration: underline;
}

.floating-block {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 999999;
}

.whatsapp-icon {
  background: #39be50;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-icon i {
  color: var(--white);
  font-size: 30px;
}

.whatsapp-icon:hover {
  background: var(--green);
}

.phone-icon {
  background: var(--green);
}

.sub-banner {
  min-height: 450px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sub-banner h2 {
  color: var(--white);
}

.sub-banner .container {
  align-items: center;
  display: block;
  height: 100%;
  padding-top: 210px;
}

.breadcrumb {
  margin-bottom: 0px;
  ;
}

.breadcrumb li::before {
  content: "\f111";
  font-family: 'FontAwesome';
  color: var(--white);
  font-size: 7px;
  align-items: center;
  margin: 9px 10px 0 0;
}

.breadcrumb li {
  padding: 0 15px 0 0;
}

.breadcrumb li a {
  color: var(--white);
}

.breadcrumb li.active {
  background: #5682599e;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: var(--white);
  padding: 3px 15px;
}

.breadcrumb li:last-child:before {
  display: none;
}

.why-choose-therapy {
  background-color: var(--light-blue);
  height: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.why-choose-therapy h2 {
  color: var(--green);
}

.therapy-choose-item {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.therapy-choose-item .img {
  border-radius: 100%;
  background: var(--white);
  width: 80px;
  height: 80px;
  display: block;
  margin-right: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 14px;
}

.therapy-choose-item p {
  margin-bottom: 0px;
}

.therapy-choose-item p {
  font-size: 15px;
}

.what-therapy-bg {
  background-color: var(--light-green);
  background-repeat: no-repeat;
  background-position: right;
}

.what-therapy-bg h2 {
  color: var(--green);
}

ul.listing-item li {
  display: block;
  padding: 0 0 15px 25px;
  font-size: 17px;
}

ul.listing-item li::before {
  content: '\f138';
  margin-left: -22px;
  font-family: 'FontAwesome';
  color: var(--green);
  position: absolute;
}

.iv-drip-block h2 {
  color: var(--green);
}

.drip-box {
  display: flex;
}

.drip-box .img-inner {
  width: 150px;
}

ul.listing-item2 li {
  font-family: 'Marcellus', serif;
  padding: 5px 0 0 13px;
}

ul.listing-item2 li::before {
  content: "\f111";
  font-family: 'FontAwesome';
  font-size: 8px;
  color: var(--green);
  margin: 6px 0 0 -12px;
  position: absolute;
}

.price-blockl h3 {
  font-family: 'Marcellus', serif;
}

.price-blockl span {
  font-family: 'Marcellus', serif;
}

.light-bg-color {
  background: var(--light-green);
}

.drip-at-home {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.drip-at-home-inner h2 {
  color: var(--green);
}

.drip-at-home-inner {
  background: var(--white);
  padding: 45px;
}

.drip-at-home-inner h3 {
  font-family: 'Marcellus', serif;
}

.drip-at-home-inner ul {
  font-family: 'Marcellus', serif;
}

.drip-at-home-inner ul li {
  padding: 0 0 15px 25px;
  font-size: 17px;
}

.faq-block {
  display: block;
  background: var(--light-green) url(../img/question.png) no-repeat right !important;
}

.faq-block h2 {
  color: var(--green)
}

.faq-block .accordion-box {
  margin-bottom: 20px;
  background: var(--white);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  border-radius: 15px 0px;
}

.faq-block .accordion-box .accordion-item {
  display: block;
  border: none;
  padding: 20px 25px;
  padding-right: 75px;
  border-bottom: 1px solid #e7dfd4;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  border-radius: 15px 0px;
}

.plus-minus {
  width: 41px;
  height: 41px;
  display: block;
  border-radius: 100%;
  border: 1px solid var(--green);
  position: absolute;
  right: 20px;
  top: 15px;
}

.plus-minus::before {
  content: '';
  width: 60%;
  height: 2px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--green);
}

.plus-minus::after {
  content: '';
  width: 2px;
  height: 60%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--green);
}

.faq-block .accordion-box .accordion-item.open .plus-minus::after {
  display: none;
}

.faq-block .accordion-box .accordion-item h5 {
  margin-bottom: 0;
  padding-left: 40px;
  line-height: 27px;
  font-size: 20px;
}

.faq-block .accordion-box .accordion-item h5 span {
  width: 34px;
  height: 34px;
  background: var(--green);
  border-radius: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
  color: #ffffff;
  font-size: 15px;
  margin: 0 0 0 -46px;
  position: absolute;
}

.faq-block .accordion-box .data {
  display: none;
  padding: 30px;
}

.inner-page-right .price-tag {
  background-color: var(--default-grey);
  border: 1px solid var(--green);
  font-family: 'Marcellus', serif;
  padding: 8px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: var(--green);
  font-size: 30px;
}

ul.listing-item3 li {
  padding: 5px 0;
  display: flex;
}

ul.listing-item3 li img {
  width: 30px;
  margin-right: 10px;
}

ul.listing-item4 li {
  display: block;
  margin-right: 20px;
  font-family: 'Marcellus', serif;
}

ul.listing-item4 li:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: var(--green);
  font-weight: 300;
  margin-right: 10px;
}

.tabs-block {
  background-color: var(--light-green);
}

.tabs-design .nav-tabs .nav-link {
  border: none;
  background-color: none;
}

.tabs-design .nav-tabs .nav-link.active {
  border-bottom: 1px solid var(--green);
}

.nav-tabs {
  border: 0px !important;
}

.tabs-design .nav-tabs .nav-link.active {
  background: none !important;
}

.tabs-design .nav-tabs .nav-link {
  font-size: 22px;
  font-family: 'Marcellus', serif;
}

.tabs-design .tab-content {
  padding: 20px 0;
}

.tabs-design .nav-tabs .nav-link {
  font-size: 22px;
  font-family: 'Marcellus', serif;
  margin: 4px 40px 0 0;
  padding: 0;
  color: var(--black);
}

ul.listing-item5 li {
  display: flex;
  margin-right: 20px;
  font-family: 'Marcellus', serif;
}

ul.listing-item5 li:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: var(--green);
  font-weight: 300;
  margin-right: 10px;
}

.light-blue {
  background-color: var(--light-blue);
}

.light-green {
  background-color: var(--light-green);
}

.card-style1 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: var(--white);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  padding: 25px;
  text-align: center;
}

.card-style1 p {
  margin-bottom: 0px;
  font-size: 15px;
}

.card-style2 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: var(--white);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  padding: 35px;
}

.card-style3 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: var(--white);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  padding: 20px;
}

.inner-box-style img {
  width: 60px;
}

.inner-box-style h6 {
  font-size: 16px;
  margin-top: 10px;
  color: var(--black);
}

.team-block {
  background: var(--white);
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  margin-top: 90px;
}

.team-block h4 {
  margin-bottom: 0px;
  color: var(--black);
  font-size: 25px;
}

.team-block h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.team-block img {
  width: 150px;
  margin: -100px 0 20px 0;
}

.no-testimonials-box .play {
  position: relative;
  margin: 0 auto 0;
}

.no-testimonials-box .testimonials-text {
  padding: 25px;
  text-align: center !important;
}

.no-testimonials-box .testimonials-text h4,
.no-testimonials-box .testimonials-text p {
  text-align: center;
}

.no-testimonials-box .testimonials-text p {
  margin-bottom: 0px;
}

.no-testimonials-box .play {
  top: 30px;
}

.about-counter span {
  font-size: 35px;
  font-family: 'Marcellus', serif;
  color: var(--green);
}

.about-counter i {
  font-style: normal;
  font-size: 35px;
  font-family: 'Marcellus', serif;
  color: var(--green);
}

.about-counter h6 {
  font-size: 18px;
  margin-bottom: 0px;
}

.about-counter img {
  width: 60px;
  margin-bottom: 20px;
}

.card-style5 {
  border-radius: 8px;
  padding: 20px;
  background: var(--white);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
}

.card-style5 img {
  border-radius: 7px;
  margin-bottom: 15px;
}

.card-style5 h5 {
  margin-top: 15px;
}

.small-banner {
  min-height: 260px !important;
}

.card-style3 h6 {
  font-size: 18px;
}

.card-style4 {
  display: block;
}

.card-style4 p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.card-style4 img {
  margin-bottom: 20px;
}

.card-style4:hover {
  box-shadow: none;
}

.card-style4 h6 {
  color: var(--green);
}

.card-style4 img {
  border-radius: 6px;
}

.small-banner .container {
  display: block;
  overflow: hidden;
  position: relative;
}

.small-banner .col-12 {
  position: absolute;
  bottom: 35px;
  overflow: hidden;
}

.small-banner-inner {
  min-height: 105px !important;
}

ul.breadcrumb-blog {
  margin-bottom: 20px;
  background-color: var(--light-grey);
  padding: 15px 20px;
  border-radius: 15px;
}

ul.breadcrumb-blog li {
  display: inline;
  color: var(--black);
  padding-right: 20px;
}

ul.breadcrumb-blog li a {
  color: var(--green);
}

ul.breadcrumb-blog li.active {
  background: #5682599e;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: var(--white);
  padding: 3px 15px;
  font-size: 14px;
}

.card-style5 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-style5 span {
  border-radius: 100%;
  width: 78px;
  height: 78px;
  background: var(--light-green);
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
}

.card-style5 span img {
  width: 50px;
  align-content: center;
  justify-self: center;
  margin-bottom: 0px;
}

.card-style5 h6 {
  font-size: 15px;
  color: var(--green);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.card-style5 h5 {
  font-size: 20px;
  margin: 0px;
  color: var(--black);
}

.card-style5 h5 a {
  color: var(--black);
}

.card-style6 {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}

.contact_form input {
  width: 100%;
  border-bottom: 1px solid var(--green);
  border-left: none;
  border-top: none;
  border-right: none;
  height: 50px;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
}

.contact_form textarea {
  width: 100%;
  border-bottom: 1px solid var(--green);
  border-left: none;
  border-top: none;
  border-right: none;
  height: 100px;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  resize: none;
}

.contact_form select {
  border: none;
  border-bottom: 1px solid var(--green);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  outline: none;
}

.contact_form select:focus {
  outline: none;
  box-shadow: none;
}

.contact_form select option[disabled] {
  color: rgb(118, 118, 118);
}

.primary-btn-submit span {
  border: none;
  color: var(--white) !important;
}

.primary-btn-submit {
  border: none;
  color: var(--white);
}

.map-block iframe {
  width: 100%;
  height: 320px;
  border-radius: 6px;
}

.card-style6 {
  display: block;
}

.card-style6 h5 {
  margin-bottom: 10px;
  color: var(--green);
  font-size: 22px;
}

.main-menu>ul>li.drp>a {
  padding-right: 20px;
}

.main-menu>ul>li.drp>a::after {
  content: "\f107";
  font-family: "FontAwesome";
  position: absolute;
  left: 85% !important;
  bottom: 19px;
  transition: all ease-out 0s;
}

.main-menu>ul>li:hover.drp>a::after {
  content: "\f106";
  font-family: "FontAwesome";
  position: absolute;
  left: 90% !important;
  bottom: 19px;
  transition: all ease-out 0s;
}

.top-bar {
  background-color: #0000004a;
  position: absolute;
  z-index: 9999;
  width: 100%;
  z-index: 9999;
  margin-bottom: 20px;
  padding: 5px 0 5px 0;
}

.top-bar-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar-info ul.social-media {
  display: inline-flex;
}

.top-bar-info div {
  margin: 0 15px;
}

.top-bar-info i {
  color: var(--white);
}

.number {
  color: var(--white);
}

.top-bar-info ul.social-media li {
  margin: 0 5px;
}

.top-bar-info ul.social-media li a i {
  color: var(--white) !important;
  font-size: 12px;
}

.top-bar-info .book-now-btn {
  color: var(--white);
}

ul.commen-listing li {
  padding: 5px 0;
  position: relative;
}

ul.commen-listing li::before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 15px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
  color: var(--white);
}

ul.commen-listing li {
  padding: 5px 0 5px 28px;
  position: relative;
}

.no-testimonials-box .testimonials-text {
  top: 0;
  margin: 10px;
}

.about-pra p {
  text-align: justify;
}

.vision-mission {
  display: block;
  align-items: normal;
  text-align: center;
  margin: 0px auto;
  padding: 25px;
}

.vision-img {
  width: 60px;
  margin: 0px auto;
}

.phone-icon2 i {
  font-size: 20px;
}

.phone-icon2 .number-showing {
  opacity: 0;
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.phone-icon2:hover .number-showing {
  opacity: 1;
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.number-showing {
  position: absolute;
  background: #ffffffd6;
  left: -60px;
  right: 0;
  padding: 6px 8px;
  border-radius: 18px;
  z-index: 99999;
  width: 160px;
  top: 32px;
  text-align: center;
  font-size: 13px;
  color: var(--green);
}

.services-slider.owl-carousel .owl-item img {
  width: auto !important;
}

.why-choose-out {
  background: var(--white);
  padding: 25px;
  border-radius: 15px;
}

.same-height {
  height: 100%;
}

.banner-inner {
  position: relative;
  z-index: 9;
}

.copy-right {
  background: #356438;
}

.about-block h2 span {
  color: var(--green);
  font-size: 30px;
  font-family: 'Marcellus', serif;
  display: block;
}

.main-menu>ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-menu>ul>li>a.white-btn {
  background: var(--white);
  color: var(--green) !important;
  padding: 8px 20px !important;
  font-size: 14px;
}

.main-menu>ul>li>a.white-btn:hover {
  color: var(--white) !important;
}

.drip-box i {
  font-size: 12px;
}

/* Styles for the about-text headings */
.about-text h2 {
  font-size: 50px;
  margin-bottom: 7px;
}

.about-text h3 {
  font-size: 35px;
  font-family: 'Marcellus', serif;
  color: var(--green);
  margin-bottom: 5px;
}