:root {
  --white: #ffffff;
  --black: #000000;
  --golden: #f3e9dc;
  --primary-color: #568259;
  --primary-hover: #87b38a;
  --default-grey: #f7f7f7;
  --grey: #ededed;
  --paragraph-color: #010101;
  --dark-grey: #404040;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0;	padding: 0;	border: 0; vertical-align: baseline; font-family: 'Poppins', sans-serif; font-weight: 400; list-style: none; color: var(--paragraph-color);}
* { box-sizing: border-box;}
a:focus,button:focus,input:focus,textarea:focus { outline:0; text-decoration:none;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; -webkit-font-smoothing:antialiased; margin-bottom:15px; color:var(--primary-color); line-height: normal; font-family: 'Marcellus', serif;}
h1 { font-size: 85px; line-height: 1.1;}
h2 { font-size: 65px; line-height: 1.1;}
h3 { font-size: 40px;}
h4 { font-size: 24px; line-height: 1.1;}
a { color:#018aff; text-decoration:none; transition:all ease-out .3s; -webkit-transition:all ease-out .3s; -moz-transition:all ease-out .3s;-ms-transition:all ease-out .3s; -o-transition:all ease-out .3s;}
a:hover { text-decoration:none;color:#3ba4ff;}
label { font-weight:400;margin:0;}
p { font-size: 16px; line-height:24px; color: var(--paragraph-color); margin:0; padding:0; font-weight:400; margin-bottom:15px;}
li,ol,ul { list-style:none; margin:0; padding:0;}
focus { outline:0;}

/*========================== Commen styles ========================*/
.primary-btn { background: var(--primary-color); color: var(--white); display: inline-block; font-size: 14px; padding: 15px 30px; line-height: 16px; font-weight: 500; transition: all ease-out 0.3s; border: none;}
.primary-btn:hover { background: var(--primary-hover); color: var(--white);}
section { display: block;}
/*========================== Commen styles ========================*/

.header { display: block; width: 100%; position: absolute; left: 0; top: 0; z-index: 10; padding: 20px;}
.header .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.logo { max-width: 118px; display: inline-block;}
.logo img { display: block;}
.header-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.header-right li { display: block; margin-left: 65px;}
.header-right li a.link { color: var(--white); font-size: 28px; font-family: 'Marcellus', serif;}
.header-right li a.link:hover { color: var(--primary-hover);}
.header-right li a.link i { color: var(--white); transition: all ease-out 0.3s;}
.header-right li a.link:hover i { color: var(--primary-hover);}
.header-right li a.primary-btn { background: var(--white); color: var(--black); border-radius: 30px; font-size: 20px; font-weight: 500; padding: 20px 35px; cursor: pointer;}
.header-right li a.primary-btn:hover { background: var(--primary-color); color: var(--white);}

.banner { display: block; background: var(--dark-grey); position: relative; background-repeat: no-repeat !important; background-size: cover !important; background-position: center top !important;}
.banner-section { display: block; position: relative; background-repeat: no-repeat !important; background-size: cover !important; background-position: center top !important;}
.banner-section::before { content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgb(71,92,71); background: linear-gradient(0deg, rgba(71,92,71,1) 5%, rgba(0,0,0,0) 100%);}
.banner-section::after { content: ''; width: 100%; height: 45%; position: absolute; left: 0; top: 0; background: rgb(71,92,71); background: linear-gradient(0deg, rgba(71,92,71,1) 5%, rgba(0,0,0,0) 100%); transform: rotate(180deg);}
.banner-video { width: 100%; height: 90vh; object-fit: cover; background-repeat: no-repeat !important; background-size: cover !important; background-position: center top !important;}
.banner-main { position: absolute; left: 0; bottom: 0; right: 0; margin: auto; max-width: 1300px; width: 100%; z-index: 2;}
.banner h1, .banner h3 { color: var(--white);}
.hero-special { margin-top: 15%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.hero-special li { display: block; position: relative; padding-left: 80px; padding-right: 28px; width: 25%;}
.hero-special li .icon { display: inline-block; position: absolute; left: 0; top: 0;}
.hero-special li p { margin-bottom: 0; color: var(--white); font-size: 16px; line-height: 24px; font-weight: 300;}
.hero-special li p span { color: var(--white); font-weight: 600;}
.hero-special li .off-ribbon { display: inline-block; background: var(--white); color: var(--primary-color); font-size: 11px; font-weight: 500; padding: 4px 10px; margin-top: 4px; line-height: 14px;}

.mobile-text { display: block; width: 100%; position: absolute; left: 0; bottom: 0; z-index: 2;}

.owl-carousel .owl-item img { width: auto;}
.infusion-therapy { display: block; background-repeat: no-repeat !important; background-size: cover !important; background-position: left top !important; padding-top: 80px;}
.infusion-head { max-width: 900px; display: block; text-align: center; margin: auto;}
.subinner-head { max-width: 100%; display: block; text-align: center; margin: auto;}
.infusion-head h2 { margin-bottom: 35px;}
.infusion-head h5 { color: var(--black); font-family: 'Poppins', sans-serif; font-size: 22px; font-weight: 500; margin-bottom: 20px;}
.infusion-head p { margin-bottom: 35px;}
.video-btn { background: var(--white); width: 85px; height: 85px; padding: 28px; display: inline-flex; justify-content: center; align-items: center; border-radius: 100%; overflow: hidden;}
.video-btn:hover { box-shadow: 0 0 15px 0 #0000001f; transform: scale(1.1);}
.infusion-carosel { display: block; margin-top: 45px;}
.infusion-carosel .owl-stage { display: -webkit-box; display: -ms-flexbox; display: flex;}
.infusion-item { display: block; text-align: center; padding-bottom: 35px; height: 100%; position: relative;}
.infusion-item::before { content: ''; width: 1px; height: 100%; display: block; position: absolute; left: 0; top: 0; background: rgb(220,197,167); background: linear-gradient(0deg, rgba(220,197,167,1) 62%, rgba(0,0,0,0) 88%);}
.infusion-item .icon { display: inline-block; height: 64px}
.infusion-item h5 { font-size: 23px; color: var(--black); line-height: 36px;}

.commen-head { display: block; text-align: center;}
.iv-therapy { display: block; padding: 97px 0 50px; background-repeat: no-repeat !important; background-size: cover !important; background-position: right top !important;}
.iv-therapy .commen-head { max-width: 615px; margin: auto; padding-bottom: 25px;}
.iv-item { min-height: 540px; position: relative; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; flex-direction: column; justify-content: center;}
.iv-item h3 { font-weight: 500; font-size: 30px; font-family: 'Poppins', sans-serif;}
.iv-item .drip { display: inline-block; position: absolute; left: 0; top: 0; z-index: 2; max-width: 250px; width: 100%;}
.iv-item-cont { display: block; padding: 25px 20px; box-shadow: 2px 0 11px 0 #00000015; margin: 20px; margin-top: -185px; margin-left: 100px; border-radius: 10px; padding-left: 26%; min-height: 230px; background: #ffffffa1;}
.iv-item-cont h3 { line-height: 38px;}
.iv-item-cont h4 { font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 20px; color: var(--black);}
.iv-item-cont h4 span { font-size: 28px; font-weight: 700; color: var(--primary-color);}
.iv-therapy-caroosel .owl-dots { display: flex; justify-content: center; align-items: center;}
.iv-therapy-caroosel .owl-dots .owl-dot { width: 6px; height: 6px; display: block; background: var(--grey); border-radius: 100%; margin: 0 4px;}
.iv-therapy-caroosel .owl-dots .owl-dot.active { background: var(--primary-color); width: 10px; height: 10px;}

.commen-list { display: block;}
.commen-list li { display: block; font-size: 14px; font-weight: 500; padding: 3px 0; padding-left: 28px; position: relative;}
.commen-list li::before { content: ''; width: 8px; height: 8px; display: block; border-radius: 100%; position: absolute; left: 0; top: 9px; background: var(--primary-color);}

.why-choose-us { display: block; background-repeat: no-repeat !important; background-size: cover !important; background-position: center bottom !important; padding: 70px 0;}
.why-choose-main { max-width: 1060px;}
.margin-top { margin-top: 75px;}
.why-choose-box { display: block; background: var(--white); padding: 28px 28px 15px 28px; padding-top: 77px; height: 100%; border-radius: 10px; box-shadow: 2px 0 11px 0 #00000015; position: relative;}
.why-choose-box .icon { width: 104px; height: 104px; background: var(--white); border-radius: 100%; border: 1px dashed var(--primary-color); display: flex; justify-content: center; align-items: center; position: absolute; left: 28px; top: -55px;}
.why-choose-box h4 { font-family: 'Poppins', sans-serif; font-size: 23px; font-weight: 500;}
.why-choose-box p { font-size: 16px; line-height: 31px;}

.how-it-work { display: block; padding: 80px 0;}
.how-it-list { position: relative; max-width: 925px; margin: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.how-it-list::before { content: ''; width: 708px; height: 84px; display: block; position: absolute; left: 0; top: 45px; right: 0; margin: auto; background: url(../img/line.webp) no-repeat center top; z-index: 1;}
.how-it-list li { max-width: 140px; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 40px; position: relative; z-index: 2;}
.how-it-list li .icon { width: 112px; height: 112px; border: 2px solid var(--primary-color); border-radius: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 25px; background: var(--white); position: relative;}
.how-it-list li p { margin-bottom: 0; color: var(--primary-color); font-size: 18px; line-height: 28px; font-weight: 500;}
.how-it-list li:first-child,
.how-it-list li:last-child { margin-top: 0;}
.how-it-list li .icon .step { display: none; width: 22px; height: 22px; line-height: 22px; border-radius: 100%; background: var(--primary-color); color: var(--white); position: absolute; right: -11px; top: 0; bottom: 0; margin: auto; z-index: 2; font-size: 12px; font-weight: 700;}
.how-it-list li .icon::before { content: ''; width: 35px; height: 11px; display: none; background: url(../img/arrow.svg) no-repeat left top; position: absolute; left: -60px; top: 0; bottom: 0; margin: auto; z-index: 3;}
.how-it-list li:first-child .icon::before { display: none;}

.testimonial-block { display: block; background: var(--golden); padding: 75px 0;}
.testimonial-caroosel .owl-stage { display: -webkit-box; display: -ms-flexbox; display: flex; margin: auto;}
.testimonial { position: relative; min-height: 504px; background-repeat: no-repeat !important; background-size: cover !important; background-position: center top !important; display: flex; justify-content: space-between; align-items: end;}
.testimonial::before { content: ''; width: 100%; height: 50%; display: block; position: absolute; left: 0; bottom: 0; right: 0; margin: auto; background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 79%);}
.testi-body { position: relative; z-index: 2; padding: 30px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.testimonial h5 { display: flex; align-items: center; margin-bottom: 0; min-height: 58px; padding-left: 75px; position: relative;}
.testimonial h5 .avatar { width: 58px; height: 58px; display: block; overflow: hidden; border-radius: 100%; position: absolute; left: 0; top: 0;}
.testimonial h5 .avatar img { width: 100%; height: 100%; display: block;}
.play-btn { width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 100%; background: var(--white);}
.play-btn img { width: 9px; height: 13px;}

.our-gallery { display: block; padding: 75px 0;}
.gallery-caroosel .owl-carousel .owl-item img { width: 100%;}

.footer { display: block; padding: 80px 0; background: var(--grey);}
.contact-form { display: block; background: var(--white); padding: 30px; border-radius: 10px;}
.form-input { width: 100%; height: 53px; border: none; background: #f5f5f5; padding: 0 15px;}
.form-textarea { width: 100%; height: 123px; border: none; background: #f5f5f5; padding: 10px 15px; resize: none;}
.form-input::-webkit-input-placeholder,
.form-textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: var(--black); font-size: 13px;}
.form-input::-moz-placeholder, 
.form-textarea::-moz-placeholder { /* Firefox 19+ */ color: var(--black); font-size: 13px;}
.form-input:-ms-input-placeholder, 
.form-textarea::-ms-input-placeholder { /* IE 10+ */ color: var(--black); font-size: 13px;}
.form-input:-moz-placeholder, 
.form-textarea::-moz-placeholder { /* Firefox 18- */ color: var(--black); font-size: 13px;}
.contact-form .primary-btn { font-size: 16px; font-weight: 400; padding: 17px 35px; line-height: 18px;}
.footer-right { display: block;}
.footer-right h4 { font-size: 25px; margin-bottom: 25px;}
.footer-contact { display: block;}
.footer-contact li { display: block; margin-bottom: 25px;}
.footer-contact li a { display: block; color: var(--black); font-size: 16px; font-weight: 500;}
.footer-contact li a i { display: inline-block; width: 30px; color: var(--primary-color);}
.footer-contact li a i.fa-angle-right { width: 20px;}
.footer-contact li a:hover { color: var(--primary-color);}

.social-media { display: flex; padding-top: 25px; margin-bottom: 80px;}
.social-media a { width: 54px; height: 54px; background: var(--primary-color); border-radius: 100%; display: flex; justify-content: center; align-items: center; margin-right: 17px;}
.social-media a i { color: var(--white); font-size: 24px;}
.social-media a:hover { background: var(--primary-hover);}
.copy-right { color: #777777; font-size: 14px; display: block;}

.contact-form-block .contact-form h4 { font-size: 36px;}
.whatsapp-icon { position: fixed; z-index: 9999; bottom: 2%; right: 2%;}
.whatsapp-icon a { display: block; width: 55px; height: 55px; border-radius: 100%; background: #39be50; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 100%; -webkit-transition: all .3s ease; -ms-transition: all .3s ease; transition: all .3s ease;}
.whatsapp-icon a i { color: var(--white); font-size: 28px; font-weight: 400;}
.whatsapp-icon a:hover { background: #28993b; color: #ffffff;}
.tc-apply { display: inline-block; position: absolute; right: 10px; bottom: 5px; color: var(--white); font-size: 12px; margin-bottom: 0;}


.phone-number { width: 55px; height: 55px; position: fixed; bottom: 20px; left: 1%; z-index: 99; background: var(--white); color: var(--primary-color); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 25px; border-radius: 100%; -webkit-animation: yellow 2s infinite; -moz-animation: yellow 2s infinite; -o-animation: yellow 2s infinite; animation: yellow 2s infinite;}
.phone-number:hover { background: var(--white); color: var(--primary-hover);}
@keyframes yellow {
  0%, 100% { -webkit-box-shadow: 0 0px 0 4px var(--primary-color); -moz-box-shadow: 0 0px 0 4px var(--primary-color); -ms-box-shadow: 0 0px 0 4px var(--primary-color); -o-box-shadow: 0 0px 0 4px var(--primary-color); box-shadow: 0 0px 0 4px var(--primary-color);}
  50% { -webkit-box-shadow: 0 0px 0 0px var(--primary-color); -ms-box-shadow: 0 0px 0 0px var(--primary-color); -o-box-shadow: 0 0px 0 0px var(--primary-color); -moz-box-shadow: 0 0px 0 0px var(--primary-color); box-shadow: 0 0px 0 0px var(--primary-color);} 
}
.phone-number i { display: inline-block; -webkit-transition: all .3s ease; -ms-transition: all .3s ease; transition: all .3s ease; -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out; animation: phonering-alo-circle-img-anim 1s infinite ease-in-out; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; color: var(--primary-color);}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% { -webkit-transform: rotate(0) scale(1) skew(1deg)}
  10% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg)}
  20% { -webkit-transform: rotate(25deg) scale(1) skew(1deg)}
  30% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg)}
  40% { -webkit-transform: rotate(25deg) scale(1) skew(1deg)}
  50% { -webkit-transform: rotate(0) scale(1) skew(1deg)}
  100% { -webkit-transform: rotate(0) scale(1) skew(1deg)}
}
.phone-number::before { content: ''; width: 87px; height: 87px; top: -16px; left: -16px; position: absolute; background-color: transparent; border-radius: 100%; border: 2px solid var(--primary-color);
 -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out; animation: phonering-alo-circle-anim 1.2s infinite ease-in-out; transition: all .5s; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; opacity: .5}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
      -webkit-transform: rotate(0) scale(.5) skew(1deg); -webkit-opacity: .1
  }
  30% {
      -webkit-transform: rotate(0) scale(.7) skew(1deg); -webkit-opacity: .5
  }
  100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg); -webkit-opacity: .1
  }
}



.limited-offer{background: var(--grey);padding: 80px 0;}
.limited-offer-in{display: block; background: var(--white); padding: 25px}
.limited-offer-in h3{font-size: 25px;}
.limited-offer-in h2{ font-size:30px !important; font-weight: 800;}
.limited-offer-in h5{  background: var(--primary-color);
  display: table;
  padding: 5px 10px;
  color: #fff;
}

.new-banner{background: url(../img/banner-img.jpg) no-repeat center top; height: 820px; position: relative;}
.banner-contant{padding:155px 0 0 0;}
.new-banner .form-box{background: #fff;}
.new-banner .overly{background: #03270599;height: 100%;}
.new-banner .banner-text{margin:140px 0 0 0;}


.new-banner .form-input {
  width: 100%;
  height: 53px;
  border: none;
  background: #f5f5f5;
  padding: 0 15px;
}

.new-banner .hero-special{margin-top: 60px;}
.new-banner .hero-special li:last-child{padding-right: 0px;}
.cut-price{color: var(--primary-color);}

.item-center{text-align: center; margin: 0px auto; padding:25px;}
.item-center span{left: 0 !important; right: 0 !important; margin: 0px auto; position: relative;}
.item-center h5{font-size:20px; line-height: 28px;}
.item-center .icon{position: relative; top: 0; margin-bottom: 15px;}


.skin-brightening{padding: 80px 0; background: url(../img/leaf-1.png) no-repeat top left, var(--grey) !important;}
.white-bg{background: var(--white);}
.new-drip-block .drip {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  max-width: 170px !important;
  width: 100%;
}

.new-drip-block .iv-item-cont{margin-left: 70px;}
.new-drip-block .iv-item-cont h3 {
  font-weight: 500;
  font-size: 20px !important;
  font-family: 'Poppins', sans-serif;
  line-height: normal !important;
}
.new-drip-block .iv-item-cont h4 span {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}




.drip-box {
  display: flex;
  
}
.drip-box .img-inner {
  width: 152px;
}
.drip-box h6{font-size: 25px;}

ul.listing-item2 li{padding-left: 15px; font-size: 13px;}

ul.listing-item2 li::before {
  width: 7px;
  height: 7px;
  margin: 6px 0 0 -16px;
  content: "";
  position: absolute;
  background: var(--primary-color);
  border-radius: 100%;
}
.drip-box h3 {
  margin-bottom: 0px;
  font-size: 21px;
  font-weight: 600;
}
.drip-box i {
  font-size: 12px;
}

.light-green{background-color: #eff9f1;}


.card-style2 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: var(--white);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.09);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.09);
  padding: 35px 35px 0px 35px;
}
.card-style2 img{width: 240px; text-align: center; margin: 0px auto;}
.card-style2 h3{margin-top:50px;}
.hangover-bg{background: url(../img/hangover-bg1.png) right no-repeat #f6f4f2 !important;}

/* :root {
  --white: #ffffff;
  --black: #000000;
  --golden: #f3e9dc;
  --primary-color: #568259;
  --primary-hover: #87b38a;
  --default-grey: #f7f7f7;
  --grey: #ededed;
  --paragraph-color: #010101;
  --dark-grey: #404040;
} */