<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="At Healthcarebia, relationships and clinical excellence go hand in hand. That's what makes our one-on-one home health services special for patients."
    />
    <title>404 | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div
      class="banner"
      style="background-image: url(/assets/img/policies-banner.webp)"
    >
      <h1>404!</h1>
    </div>
    <%- include("partials/footer.ejs") %> <%-
    include("partials/footer-tags.ejs") %>
  </body>
</html>
