<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="We can’t find that page. Explore IV drips, wellness care, and lab tests in Dubai, or return home to browse services and book a visit."
    />
    <title>Error | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="banner" style="background-image: url(/assets/img/policies-banner.webp)">
      <h1>404!</h1>
    </div>
    <section>
      <h1 class="p-5 m-5 border rounded text-center" style="background-color: #d3d4d3e8">
        Page Not Found
      </h1>
    </section>
    <%- include("partials/footer.ejs") %> <%- include("partials/footer-tags.ejs") %>
  </body>
</html>
