<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthcarebia | About Us</title>
    <%- include('partials/header-tags.ejs') %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <section class="about-us">
      <div class="banner">
        <img src="" alt="about us banner" height="" width="100%" />
      </div>
    </section>
    <%- include("partials/footer.ejs") %> <%-
    include("partials/footer-tags.ejs") %>
  </body>
</html>
