<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Find answers on home IV drips, wellness services, and lab tests in Dubai. Review safety, booking, and pricing. Need help? Chat and book now."
    />
    <title>FAQs: IV Drips & Wellness | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="banner" style="background-image: url(/assets/img/policies-banner.webp)">
      <h1>FAQs</h1>
    </div>
    <%- include("partials/footer.ejs") %> <%- include("partials/footer-tags.ejs") %>
  </body>
</html>
