<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Choose custom IV drips delivered at home by licensed nurses in Dubai. Boost energy, immunity, and recovery. View options and book now."
    />
    <title>IV Therapy Dubai | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
    <link rel="stylesheet" href="../../assets/css/iv-drips-dubai.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="banner" style="background-image: url(assets/img/iv-drips-banner.jpg)">
      <h1>IV Therapy Dubai</h1>
      <div class="breadcrumb"><a href="/">Home</a>/ IV Therapy Dubai</div>
    </div>
    <section class="why-choose">
      <h1 class="mt-5 text-center pt-3">Why choose Healthcarebia <br />for IV Therapy?</h1>
      <div class="why-choose-items mt-5 p-5 pt-0">
        <div class="item col-md-6 col-lg-4 col-12">
          <div class="icon">
            <img src="../../assets/icons/Offer.svg" alt="offer-icon" class="img-scale" />
          </div>
          <div class="desc">
            20% Off on IV Drip with Free Oxygen Therapy & Light Therapy on Your First Booking!
          </div>
        </div>
        <div class="item col-md-6 col-lg-4 col-12">
          <div class="icon">
            <img src="assets/icons/Doctor.svg" alt="doctor-icon" class="img-scale-lg" />
          </div>
          <div class="desc">Free Home Visit & Free Doctor Consultation</div>
        </div>
        <div class="item col-md-6 col-lg-4 col-12">
          <div class="icon">
            <img src="../../assets/icons/dha.svg" alt="offer-image" />
          </div>
          <div class="desc">100% DHA and MOH Certified, fresh and active ingredients.</div>
        </div>
        <div class="item col-md-6 col-lg-4 col-12">
          <div class="icon">
            <img src="../../assets/icons/Complete.svg" alt="offer-image" class="img-scale" />
          </div>
          <div class="desc">Complete attention to care and customer satisfaction.</div>
        </div>
        <div class="item col-md-6 col-lg-4 col-12">
          <div class="icon">
            <img src="../../assets/icons/Home.svg" alt="offer-image" class="img-scale" />
          </div>
          <div class="desc">Specialized in IV Therapy and Home Health Care Services.</div>
        </div>
        <div class="item col-md-6 col-lg-4 col-12">
          <div class="icon">
            <img src="../../assets/icons/Location.svg" alt="offer-image" class="img-scale" />
          </div>
          <div class="desc">Tailored IV Drip home service anywhere in Dubai.</div>
        </div>
        <div class="item col-md-6 col-lg-4 col-12">
          <div class="icon">
            <img src="../../assets/icons/Certified.svg" alt="offer-image" class="img-scale" />
          </div>
          <div class="desc">DHA Certified Team with 30+ years of collective experience</div>
        </div>
        <div class="item col-md-6 col-lg-4 col-12">
          <div class="icon">
            <img
              src="../../assets/icons/Health.svg"
              alt="offer-image .img-scale-md"
              class="img-scale"
            />
          </div>
          <div class="desc">Your health is our priority.</div>
        </div>
      </div>
    </section>
    <section class="what-is">
      <h1 class="mt-5 pt-3">What is IV Therapy ?</h1>
      <p class="mt-5 text-center">
        IV infusion is like a superhero cape for your body! It's when we sneakily deliver fluids,
        medications, or essential nutrients directly into your bloodstream through a tiny tube that
        goes right into one of your veins. Think of it as a VIP expressway for all the good stuff
        your body needs to feel its best! No matter which IV Drip you select, the procedure is
        straightforward, and our DHA registered team will guide you through every step of the way.
        In the usual setting, you will be requested to seat yourself in a relaxed and comfortable
        manner. With the necessary paperwork completed, your DHA registered nurse will inspect the
        IV site and ensure its sanitation. Our nurses are specially trained for IV Therapy to ensure
        a safe and enjoyable service. A simple prick and insertion of the IV cannula will allow your
        IV Drip to commence. Once your IV Therapy session is complete, the cannula will be removed
        and discarded. It’s truly as simple as that!
      </p>
      <div class="row d-flex mb-5">
        <div class="col-md-6 bullet-points p-5">
          <h2>Why IV Therapy Works</h2>
          <ul class="mt-5 d-flex gap-5 flex-column">
            <li>
              <img
                src="/assets/icons/right-arrow-white.svg"
                alt="right arrow"
                height="20px"
                width="20px"
              />
              <span>Rapid and direct delivery of fluids and nutrients into the bloodstream.</span>
            </li>
            <li>
              <img
                src="/assets/icons/right-arrow-white.svg"
                alt="right arrow"
                height="20px"
                width="20px"
              />
              <span>99% immediate absorption and availability of substances.</span>
            </li>
            <li>
              <img
                src="/assets/icons/right-arrow-white.svg"
                alt="right arrow"
                height="20px"
                width="20px"
              />
              <span>Improves your overall health and well-being.</span>
            </li>
            <li>
              <img
                src="/assets/icons/right-arrow-white.svg"
                alt="right arrow"
                height="20px"
                width="20px"
              />
              <span>Helps replenish electrolytes, vitamins, minerals and more.</span>
            </li>
            <li>
              <img
                src="/assets/icons/right-arrow-white.svg"
                alt="right arrow"
                height="20px"
                width="20px"
              />
              <span>Supports immune system function.</span>
            </li>
            <li>
              <img
                src="/assets/icons/right-arrow-white.svg"
                alt="right arrow"
                height="20px"
                width="20px"
              />
              <span>Quick, efficient, and easy IV Therapy at home.</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6 image p-5">
          <img src="assets/img/why-iv-drip.webp" alt="services image" />
        </div>
      </div>
    </section>
    <section class="drips pb-5">
      <div class="drip-block pt-3">
        <h1 class="text-center pt-3 mt-5">Immunity & Preventive<br />Wellness</h1>
        <div class="carousel-slick px-2 py-5" id="carousel-slick">
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <a href=""></a>
            <div class="drip-img">
              <img src="../assets/img/myers-cocktail.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Mayers Cocktail</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Immunity booster</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Increased vitality & energy</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Improved digestion</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 2,300*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/immune-booster-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Immunity Mega Boost Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Improved immunity</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Enhanced healing ability</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Prevents infections</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,105*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/cold-flu-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Cold & Flu Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Eases congestion & fatigue</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Strengthens immunity</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Slows virus replication</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,800*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/mega-c-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Mega C Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Reduced fatigue</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Detox</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Increased immunity</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,500*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/good-sleep-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Good Sleep Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Encourages deep sleep</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Relaxes muscles & joints</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Supports collagen & heart rhythm</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,300*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/her-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Her Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Relieves cramps & bloating</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Balances mood & sleep</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Replenishes minerals & electrolytes</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,500*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/jet-lag-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Jet Lag Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Regulates sleep</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Helps with fatigue</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Boost energy</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,500*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="drip-block pt-3">
        <h1 class="text-center pt-3 mt-5">
          Detox, Hydration & Recovery <br />
          Renewal
        </h1>
        <div class="carousel-slick px-2 py-5" id="carousel-slick">
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/ultra-detox.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Ultra Detox Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Fights harmful molecules</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Powerful antioxidant</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Improved organ functions</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,300*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/hydration-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Swift Hydration Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Rapid skin hydration</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Increase in energy</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Reduced skin inflammation</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 400*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/hangover-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Hangover Recovery Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Relief of nausea, headache & body pains</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Alcohol detoxification</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Energy increase</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,600*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/sunburn-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Sunburn Recovery Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Cools inflammation</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Helps skin</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Recovery from sun exposure</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,800*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/gut-health-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Gut Health Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Soothes digestive upset</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Helps with acidity</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Lowers inflammation</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,600*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/immune-booster-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Weight Loss Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Aids fat metabolism</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Boosts energy</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Energy during weightloss</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,600*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/immune-booster-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Custom Drip – Price on assessment</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Tailored detox formulas based on your lifestyle and needs</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>Contact us for prices</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="drip-block pt-3">
        <h1 class="text-center pt-3 mt-5">Anti-Aging, Longevity & Performance Optimization</h1>
        <div class="carousel-slick px-2 py-5" id="carousel-slick">
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/nad-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>NAD⁺ Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Reverse the biological clock</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Promotes healthy brain function</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Repairs damaged DNA</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,900*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/energy-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Energy Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Improved energy</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Improved cognitive function</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Boosts mental clarity</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,100*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <!-- Concentration and memory -->
          <!-- Muscle drip -->
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/beauty-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Beauty Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Improved skin & hair health</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Fights free radicals</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Radiant & glowing skin</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 900*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/glow-skin-iv-drip.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Glow Skin Drip</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Improves skin hydration</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Reduces fine lines & wrinkles</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Powerful antioxidant</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 1,600*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
          <div class="drip-box col-12 col-md-6 col-lg-4 d-flex m-1 p-3">
            <div class="drip-img">
              <img src="../assets/img/myers-cocktail.webp" alt="iv-drip" />
            </div>
            <div class="drip-text d-flex flex-column justify-content-between">
              <div class="head">
                <h4>Mayers Cocktail Drip (anti-aging use)</h4>
                <ul class="d-flex flex-column gap-2">
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Immunity booster</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Increased vitality & energy</span>
                  </li>
                  <li class="d-flex gap-2">
                    <img
                      src="/assets/icons/check-mark-white.svg"
                      alt="right arrow"
                      height="20px"
                      width="20px"
                    /><span>Improved digestion</span>
                  </li>
                </ul>
              </div>
              <div class="price d-flex flex-column gap-0">
                <p>From AED 2,300*</p>
                <span>*T&C apply</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="what-is">
      <h1 class="mt-5 pt-3">IV Drip at Home Dubai</h1>
      <p class="mt-5 text-center">
        IV Drip at Home services in Dubai offers convenient and personalized intravenous treatments
        in the comfort of your own residence. These services are provided by trained medical
        professionals who bring all the necessary equipment and supplies to administer intravenous
        therapies safely and efficiently. IV Drip at home in Dubai is becoming increasingly popular
        due to its numerous benefits.
      </p>
      <div class="row d-flex mb-5 flex-row-reverse">
        <div class="col-md-6 bullet-points p-5">
          <h2>Benefits of IV Therapy</h2>
          <ul class="mt-5 d-flex gap-5 flex-column">
            <li class="d-flex">
              <img
                src="../assets/icons/convienence.svg"
                alt="benefits of iv therapy"
                height="100px"
                width="100px"
              />
              <p class="fst-normal">
                Convenience : Patients can receive IV treatments without the need to visit a
                hospital or clinic, saving time and reducing hassle.
              </p>
            </li>
            <li class="d-flex">
              <img
                src="../assets/icons/Comfort.svg"
                alt="benefits of iv therapy"
                height="100px"
                width="100px"
              />
              <p class="fst-normal">
                Comfort : Being in a familiar environment promotes relaxation and can enhance the
                overall experience of receiving intravenous therapies.
              </p>
            </li>
            <li class="d-flex">
              <img
                src="../assets/icons/Personalised.svg"
                alt="benefits of iv therapy"
                height="100px"
                width="100px"
              />
              <p class="fst-normal">
                Personalized Care : IV Drip at Home allows for personalized treatment plans tailored
                to individual needs and conditions.
              </p>
            </li>
            <li class="d-flex">
              <img
                src="../assets/icons/Privacy.svg"
                alt="benefits of iv therapy"
                height="100px"
                width="100px"
              />
              <p class="fst-normal">
                Privacy : Patients can maintain their privacy and confidentiality while receiving IV
                therapy at home.
              </p>
            </li>
            <li class="d-flex">
              <img
                src="../assets/icons/Time.svg"
                alt="benefits of iv therapy"
                height="100px"
                width="100px"
              />
              <p class="fst-normal">
                Time saving : By avoiding travel and waiting times, IV Drip at Home saves valuable
                time for patients with busy schedules.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-6 image p-5">
          <img src="../../assets/img/benefits-of-iv.jpg" alt="services image" />
        </div>
      </div>
    </section>
    <section
      class="professional d-flex justify-content-center align-items-center flex-column px-2 px-sm-5"
    >
      <h1 class="mt-5 pt-3 text-center">Professional IV Therapy at Home in Dubai</h1>
      <p class="mt-4 mb-5 pb-2 text-center fst-italic">
        Healthcarebia offers exceptional IV Therapy home service in Dubai, designed to deliver
        optimal wellness and convenience directly to your doorstep. Our skilled and DHA-certified
        medical team provides customized IV drips at home, making sure each therapy is tailored to
        your personal health and wellness goals. Experience revitalization, hydration, immunity
        boost, and enhanced energy levels through our trusted and convenient home IV therapy
        services across Dubai.
      </p>
    </section>
    <section class="faqs pb-5">
      <h1 class="my-5 pt-3 text-center">Frequently Asked Questions</h1>
      <div class="row mx-5">
        <div class="accordion col-md-6 col-12 p-3" id="accordion">
          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingOne">
              <button
                class="accordion-button d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How long does IV Therapy take?</span>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Our IV Drips can take up to 1 hour and 30 minutes to complete. Although our Swift
                Drip can hydrate and replenish you in as low as 15 minutes!
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingTwo">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Where can I have IV Therapy?</span>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Our IV Therapy services are available across all of Dubai. Whether it's at home,
                your office, a friend’s house, or even a hotel, our team is certified to care for
                your health.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingThree">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Does IV Therapy Really Work?</span>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Yes! IV Therapy is backed by science, as it allows for 100% absorption of vitamins
                and nutrients, bypassing the digestive system. Many people report immediate
                benefits, including increased energy, improved hydration, and enhanced immunity.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingFour">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Can IV Therapy Be Customized?</span>
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Absolutely! IV Therapy can be tailored to individual needs, allowing healthcare
                providers to create custom blends of vitamins, minerals, and medications to address
                specific health concerns or wellness goals.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingFive">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span
                  >What Is the Difference Between Medical IV Therapy and Wellness IV Therapy?</span
                >
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Medical IV Therapy is used in hospitals to treat conditions like dehydration,
                vitamin deficiencies, or certain diseases, while Wellness IV Therapy focuses on
                enhancing energy, hydration, detoxification, and overall health maintenance.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingSix">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Who is an ideal candidate for IV therapy?</span>
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Ideal candidates are adults who have nutrient deficiencies, chronic fatigue,
                frequent dehydration from illness. It’s also beneficial for people seeking a quick
                nutrient boost.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion col-md-6 col-12 p-3" id="accordionB">
          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingOneB">
              <button
                class="accordion-button d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOneB"
                aria-expanded="true"
                aria-controls="collapseOneB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How soon can I see effects?</span>
              </button>
            </h2>
            <div
              id="collapseOneB"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOneB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                The effects of IV Therapy are immediate, although we recommend allowing a couple of
                hours for your body to fully benefit and absorb the nutrients.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingTwoB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwoB"
                aria-expanded="false"
                aria-controls="collapseTwoB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Does it hurt and is it safe?</span>
              </button>
            </h2>
            <div
              id="collapseTwoB"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwoB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                Rest assured our team of DHA-registered nurses and doctors are carefully trained and
                have many years of experience in IV Therapy. A small prick and it’ll be over before
                you know it! Plus, our ingredients are 100% DHA and MOH approved, ensuring the
                highest safety standards.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingThreeB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThreeB"
                aria-expanded="false"
                aria-controls="collapseThreeB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Is IV Therapy FDA-approved?</span>
              </button>
            </h2>
            <div
              id="collapseThreeB"
              class="accordion-collapse collapse"
              aria-labelledby="headingThreeB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                While IV drips containing vitamins and hydration fluids are widely used and safe,
                their approval varies based on local healthcare regulations. It’s important to
                choose certified providers who use FDA-approved ingredients.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingFourB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFourB"
                aria-expanded="false"
                aria-controls="collapseFourB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How do I know which IV Drip is best for me?</span>
              </button>
            </h2>
            <div
              id="collapseFourB"
              class="accordion-collapse collapse"
              aria-labelledby="headingFourB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                Not sure? Don’t worry, our friendly team is just one call away to assist you in
                making the best decision for your optimum well-being.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingFiveB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFiveB"
                aria-expanded="false"
                aria-controls="collapseFiveB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How Is IV Therapy Different from Drinking Water and Taking Supplements?</span>
              </button>
            </h2>
            <div
              id="collapseFiveB"
              class="accordion-collapse collapse"
              aria-labelledby="headingFiveB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                Unlike drinking water or taking supplements, IV Therapy bypasses the digestive
                system, ensuring 100% absorption of nutrients directly into the bloodstream. This
                makes it faster, more effective, and longer-lasting in addressing hydration and
                nutrient deficiencies.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingSixB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSixB"
                aria-expanded="false"
                aria-controls="collapseSixB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How often should I receive IV therapy to maintain optimal benefits?</span>
              </button>
            </h2>
            <div
              id="collapseSixB"
              class="accordion-collapse collapse"
              aria-labelledby="headingSixB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                The ideal frequency varies based on your individual needs and goals. For acute
                issues like dehydration or illness, a single session may suffice. For ongoing
                maintenance, such as immune support, athletic recovery, or chronic nutrient
                deficiencies, many people start with weekly or biweekly sessions and then taper to
                monthly tune-ups.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="testimonials">
      <!-- Swiper -->
      <div class="swiper myTestimonials">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide slide1">
            <h1 class="mt-5">What our clients say</h1>
            <div class="testimonial-item">
              <div class="testimonial-video-div">
                <div class="testimonial-video-wrapper">
                  <iframe
                    class="testimonial-video"
                    src="https://www.youtube.com/embed/Cke0_5vsi8Q"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="testimonial-copy">
                <h3>Mo Aziz</h3>
                <p>
                  “I just had a NAD+ drip via Healthcarebia’s IV drip home service in Dubai, and I
                  feel absolutely incredible. Their IV therapy is efficient, reliable, and truly
                  top-notch, making a real difference in my productivity and energy level.”
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide slide2">
            <h1>What our clients say</h1>
            <div class="testimonial-item">
              <div class="testimonial-video-div">
                <div class="testimonial-video-wrapper">
                  <iframe
                    class="testimonial-video"
                    src="https://www.youtube.com/embed/ipUMjVFkipc"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="testimonial-copy">
                <h3>Gala</h3>
                <p>
                  “After trying Healthcarebia’s immune booster IV drip, I experienced a noticeable
                  boost in energy and overall wellness. The treatment was effective, professionally
                  administered, and made me feel confident about my health journey.”
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide slide3">
            <h1>What our clients say</h1>
            <div class="testimonial-item">
              <div class="testimonial-video-div">
                <div class="testimonial-video-wrapper">
                  <iframe
                    class="testimonial-video"
                    src="https://www.youtube.com/embed/AkeO7vjzBYQ"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="testimonial-copy">
                <h3>Jeremy Gwyer</h3>
                <p>
                  “I've had IV drips consistent for 4 years & this was the first time with active
                  ingredients ! Noticeable difference compared to premixed bags. You can definitely
                  feel effect of this IV therapy, Highly recommend the Myer's Cocktail”
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- navigation arrows -->
        <div class="swiper-button-prev" id="prev"></div>
        <div class="swiper-button-next" id="next"></div>
      </div>
    </section>
    <%- include("partials/footer.ejs") %> <%- include("partials/footer-tags.ejs") %>
    <script>
      $(document).ready(function () {
        $(".carousel-slick").slick({
          slidesToShow: 3,
          autoplay: false,
          autoplaySpeed: 2000,
          dots: true,
          arrows: false,
          centerMode: false,
          infinite: true,
          touchMove: true,
          touchThreshold: 10,
          responsive: [
            {
              breakpoint: 1190,
              settings: {
                slidesToShow: 2,
                centerMode: false,
              },
            },
            {
              breakpoint: 720,
              settings: {
                slidesToShow: 1,
                centerMode: false,
              },
            },
          ],
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  </body>
</html>
