<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="At Healthcarebia, relationships and clinical excellence go hand in hand. That's what makes our one-on-one home health services special for patients."
    />
    <title>Lab Test at Home | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
    <link rel="stylesheet" href="../../assets/css/lab-test-at-home.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <!-- <section class="about-us-page"> -->
    <div
      class="banner"
      style="background-image: url(../assets/img/iv-drips-banner.jpg)"
    >
      <h1>Lab Test At Home</h1>
      <div class="breadcrumb"><a href="/">Home</a>/ Lab Test At Home</div>
    </div>
    <%- include("partials/footer.ejs") %> <%-
    include("partials/footer-tags.ejs") %>
    <script src="../assets/js/home.js" defer></script>
  </body>
</html>
