<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Book blood and lab tests at home with sample collection across Dubai. Fast results and clear pricing. Choose a test and book today."
    />
    <title>Lab Test at Home | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
    <link rel="stylesheet" href="/assets/css/lab-test-at-home.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="banner" style="background-image: url(/assets/img/lab-test-at-home-banner.jpg)">
      <h1>Lab Test At Home</h1>
      <div class="breadcrumb"><a href="/">Home</a>/ Lab Test At Home</div>
    </div>
    <section class="home-diagnostics d-flex justify-content-center align-items-center flex-column">
      <h1 class="my-3 pt-5 pb-3">Home diagnostic test</h1>
      <p class="mb-3">
        At Healthcarebia, we provide the convenience of access to lab testing right at the comfort
        of your home. Get tested within the safety and privacy of your own space with results
        delivered quickly and securely.
      </p>
      <div class="tests d-flex flex-wrap justify-content-center align-items-center py-3">
        <a href="/common-and-functional-test" class="test-link col-md-6 col-lg-4 col-12 p-5">
          <div
            class="test-box d-flex flex-column align-items-center w-100 h-100 justify-content-center p-3"
          >
            <img src="/assets/img/gloved-hand.png" alt="Lab test at home" />
            <div class="test-title d-flex align-items-center mt-3">
              <div class="test-icon">
                <img
                  src="/assets/icons/Common and functional test.svg"
                  alt="Test icon"
                  height="100%"
                />
              </div>
              <h5 class="ms-2">Common <br />&amp; Functional Tests</h5>
            </div>
            <p class="test-desc">
              Comprehensive routine checks to assess overall health, detect common issues early, and
              support long-term wellness goals effectively.
            </p>
            <p>Read more</p>
          </div>
        </a>

        <a href="/allergy-and-intolerance-test" class="test-link col-md-6 col-lg-4 col-12 p-5">
          <div
            class="test-box d-flex flex-column align-items-center w-100 h-100 justify-content-center p-3"
          >
            <img src="/assets/img/allergy-intolerence.png" alt="Lab test at home" />
            <div class="test-title d-flex align-items-center mt-3">
              <div class="test-icon">
                <img src="/assets/icons/Food & Alrgyy.svg" alt="Test icon" height="100%" />
              </div>
              <h5 class="ms-2">Allergy <br />& Food Intolerance</h5>
            </div>
            <p class="test-desc">
              Identify food sensitivities and environmental triggers to make informed diet and
              lifestyle choices for better daily health and
              <br />comfort.
            </p>
            <p>Read more</p>
          </div>
        </a>

        <a href="/dna-test" class="test-link col-md-6 col-lg-4 col-12 p-5">
          <div
            class="test-box d-flex flex-column align-items-center w-100 h-100 justify-content-center p-3"
          >
            <img src="/assets/img/dna-test.png" alt="Lab test at home" />
            <div class="test-title d-flex align-items-center mt-3">
              <div class="test-icon">
                <img src="/assets/icons/DNA.svg" alt="Test icon" height="100%" />
              </div>
              <h5 class="ms-2">DNA <br />& Genetic Testing</h5>
            </div>
            <p class="test-desc">
              Discover your unique genetic profile to gain personalized health insights,
              <br />assess potential risks, and optimize your well-being.
            </p>
            <p>Read more</p>
          </div>
        </a>

        <a href="/blood-test" class="test-link col-md-6 col-lg-4 col-12 p-5">
          <div
            class="test-box d-flex flex-column align-items-center w-100 h-100 justify-content-center p-3"
          >
            <img src="/assets/img/custom.png" alt="Lab test at home" />
            <div class="test-title d-flex align-items-center mt-3">
              <div class="test-icon">
                <img src="/assets/icons/costm blood test.svg" alt="Test icon" height="100%" />
              </div>
              <h5 class="ms-2">Custom Blood Testing</h5>
            </div>
            <p class="test-desc">
              Create a tailored panel of blood tests designed to address your specific health
              concerns, track progress, and support ongoing care.
            </p>
            <p>Read more</p>
          </div>
        </a>

        <a href="/general-health-test" class="test-link col-md-6 col-lg-4 col-12 p-5">
          <div
            class="test-box d-flex flex-column align-items-center w-100 h-100 justify-content-center p-3"
          >
            <img src="/assets/img/general-test.png" alt="Lab test at home" />
            <div class="test-title d-flex align-items-center mt-3">
              <div class="test-icon">
                <img src="/assets/icons/General health test.svg" alt="Test icon" height="100%" />
              </div>
              <h5 class="ms-2">General Health Tests</h5>
            </div>
            <p class="test-desc">
              Essential health screenings to <br />monitor key metrics, maintain balance, and detect
              early signs of potential wellness concerns.
            </p>
            <p>Read more</p>
          </div>
        </a>

        <a href="/intimacy-and-wellness" class="test-link col-md-6 col-lg-4 col-12 p-5">
          <div
            class="test-box d-flex flex-column align-items-center w-100 h-100 justify-content-center p-3"
          >
            <img src="/assets/img/intimacy-test.png" alt="Lab test at home" />
            <div class="test-title d-flex align-items-center mt-3">
              <div class="test-icon">
                <img src="/assets/icons/Intimacy wellness.svg" alt="Test icon" height="100%" />
              </div>
              <h5 class="ms-2">
                Intimacy <br />
                & Wellness
              </h5>
            </div>
            <p class="test-desc">
              Assess hormonal and wellness factors affecting intimacy, with targeted recommendations
              to enhance confidence and overall quality of life.
            </p>
            <p>Read more</p>
          </div>
        </a>

        <a href="/mens-health" class="test-link col-md-6 col-lg-4 col-12 p-5">
          <div
            class="test-box d-flex flex-column align-items-center w-100 h-100 justify-content-center p-3"
          >
            <img src="/assets/img/men-test.png" alt="Lab test at home" />
            <div class="test-title d-flex align-items-center mt-3">
              <div class="test-icon">
                <img src="/assets/icons/Men health.svg" alt="Test icon" height="100%" />
              </div>
              <h5 class="ms-2">
                Men's Health<br />
                Screening
              </h5>
            </div>
            <p class="test-desc">
              Focused male health screenings to evaluate hormones, fitness markers, and preventive
              care for long-term vitality and
              <br />performance.
            </p>
            <p>Read more</p>
          </div>
        </a>

        <a href="/womens-health" class="test-link col-md-6 col-lg-4 col-12 p-5">
          <div
            class="test-box d-flex flex-column align-items-center w-100 h-100 justify-content-center p-3"
          >
            <img src="/assets/img/women-test.png" alt="Lab test at home" />
            <div class="test-title d-flex align-items-center mt-3">
              <div class="test-icon">
                <img src="/assets/icons/Women health.svg" alt="Test icon" height="100%" />
              </div>
              <h5 class="ms-2">
                Women's Health<br />
                & Screening
              </h5>
            </div>
            <p class="test-desc">
              Complete women’s health evaluations including hormonal balance, reproductive wellness,
              and proactive preventive screenings.
            </p>
            <p>Read more</p>
          </div>
        </a>
      </div>
    </section>
    <%- include("partials/footer.ejs") %> <%- include("partials/footer-tags.ejs") %>
  </body>
</html>
