<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="At Healthcarebia, relationships and clinical excellence go hand in hand. Here are the Patient Rights and Responsibilities you are entitled to as our valued patient."
    />
    <title>Patient Rights and Responsibilities | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div
      class="banner"
      style="background-image: url(/assets/img/policies-banner.webp)"
    >
      <h1>Patient Rights and Responsibilities</h1>
    </div>
    <section class="policy">
      <div class="policy-content">
        <p>
          By accessing, browsing and/or using (www.healthcarebia.ae) online
          payment gateway, you agree to the following terms. This page contains
          the Patient Rights and Responsibilities concerning your use of the
          Healthcarebia Home Healthcare Center online payment website or
          otherwise. By accessing this site, you agree to be bound by the
          following terms and conditions. As a valued patient at Healthcarebia,
          you and your family shall have the following rights.
        </p>
        <p>
          You are requested to fully understand and practice all your rights.
          If, for any reason, you are unable to understand them, please contact
          our customer service manager for any help.
        </p>

        <h3>Patient Rights</h3>
        <ul>
          <li>
            1. Receive impartial care and respect for your personal values and
            beliefs from all staff without discrimination, according to DHA's
            rules and regulations.
          </li>
          <li>
            2. Receive comprehensive medical care aiming at reaching proper
            medical diagnosis and treatment of your condition and/or illness
            and/or injury.
          </li>
          <li>
            3. Know the identity (Name & Specialty) of the physician responsible
            for your care.
          </li>
          <li>
            4. Receive comprehensive information about your diagnosis, proposed
            treatment, changes in your health status, alternative treatments,
            probabilities of treatment success or failure, advantages and
            disadvantages, and expected results in a simple manner.
          </li>
          <li>
            5. Have an interpreter or relative if language presents a barrier.
          </li>
          <li>
            6. Have a person of your own gender present during sensitive
            examinations or procedures, and not remain disrobed longer than
            necessary.
          </li>
          <li>
            7. Provide written General Consent for treatment upon committing to
            receiving services.
          </li>
          <li>
            8. Provide written informed consent before surgery, invasive
            procedures, anesthesia, transfusions, or other required procedures
            (as per DHA rules).
          </li>
          <li>
            9. Participate in care decision-making with physicians and nurses.
          </li>
          <li>
            10. Obtain medical reports and test results upon request, with
            applicable DHA fees.
          </li>
          <li>
            11. Expect privacy during examinations, procedures, and treatments,
            and confidentiality of all information.
          </li>
          <li>
            12. Choose the treating doctor upon availability and operational
            needs.
          </li>
          <li>
            13. Refuse treatment after being informed of the consequences and
            signing a refusal form.
          </li>
          <li>
            14. Refuse examination or follow-up by persons not directly
            responsible for your care without your permission.
          </li>
          <li>
            15. Be protected from physical, verbal, or psychological assault
            during treatment.
          </li>
          <li>
            16. Have a family member or guardian as an escort, depending on
            health status, as per DHA rules.
          </li>
          <li>17. Receive an itemized bill explaining all charges.</li>
          <li>
            18. Complain, suggest and comment on services to a customer service
            manager via verbal, written, website, call center, or post-discharge
            calls.
          </li>
          <li>19. Expect regular feedback on complaints handling.</li>
          <li>
            20. Receive acknowledgment of queries within 24 hrs and resolution
            communication within reasonable working days.
          </li>
          <li>
            21. View your medical record under supervision, as per DHA rules.
          </li>
          <li>
            22. Receive appropriate pain assessment and management through
            recognized therapies.
          </li>
          <li>
            23. Be informed if any new scientific research conducted by DHA
            pertains to your treatment.
          </li>
          <li>
            24. Receive compassionate care if terminally ill, as per DHA
            regulations.
          </li>
          <li>
            25. Obtain a second opinion without fear of compromise to your care.
          </li>
          <li>
            26. Express spiritual, religious, or cultural beliefs if they do not
            interfere with safety or operations.
          </li>
          <li>
            27. Receive full disclosure of the cost of services provided by
            Healthcarebia Home Healthcare Center.
          </li>
        </ul>

        <h3>Patient Responsibilities</h3>
        <ul>
          <li>
            1. Respect the center’s rules and regulations including visiting
            hours, food instructions, and smoking policies.
          </li>
          <li>
            2. Show consideration for others and treat patients and staff with
            respect.
          </li>
          <li>3. Respect the privacy and comfort of other patients.</li>
          <li>
            4. Provide complete and accurate information about current
            complaints, past illnesses, treatments, and allergies.
          </li>
          <li>5. Follow the treating doctor's instructions.</li>
          <li>
            6. Take responsibility for refusing or not following treatment plans
            after being informed of consequences.
          </li>
          <li>7. Book appointments promptly when requested by the doctor.</li>
          <li>
            8. Attend appointments on time or cancel at least 4 hours in
            advance.
          </li>
          <li>9. Respect priority given to emergency cases.</li>
          <li>
            10. Follow safety regulations including no-smoking, hygiene, and
            cleanliness policies.
          </li>
          <li>
            11. Ensure mentally imbalanced patients are always accompanied by a
            guardian or family member.
          </li>
          <li>
            12. Fulfill financial obligations due to DHA (if any) promptly.
          </li>
          <li>
            13. Provide requested samples and attend medical check-ups on time.
          </li>
          <li>
            14. Avoid leaving valuables during service, as Healthcarebia is not
            responsible for their loss or damage.
          </li>
        </ul>

        <p>
          The Center’s management is not responsible for any consequences
          resulting from non-adherence to the above instructions.
        </p>
      </div>
    </section>
    <%- include("partials/footer.ejs") %> <%-
    include("partials/footer-tags.ejs") %>
  </body>
</html>
