<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Healthcarebia Cancellation Policy – Learn about our terms for appointment abandonment, nurse dispatch, pre-payment, and package validity."
    />
    <title>Cancellation Policy | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div
      class="banner"
      style="background-image: url(/assets/img/policies-banner.webp)"
    >
      <h1>Cancellation Policy</h1>
    </div>
    <section class="policy">
      <div class="policy-content">
        <h3>Appointment Abandoned</h3>
        <p>
          If an appointment is abandoned, the client will be charged the full
          price of the reserved appointment. This fee applies in the following
          circumstances, including but not limited to:
        </p>
        <ul>
          <li>
            Nurse dispatched but client unable to receive service because
            information was not disclosed at the time of booking (example:
            alcohol withdrawal, drug abuse).
          </li>
          <li>
            Nurse dispatched but client unable to receive service because
            customer’s observations/vital signs are out of range.
          </li>
          <li>
            Nurse dispatched, service not completed due to the client’s physical
            or mental condition (example: could not tolerate it, vasovagaled and
            did not want to continue).
          </li>
          <li>
            Nurse dispatched but service not completed because of time
            constraints.
          </li>
          <li>Unsafe or unsanitary environment.</li>
        </ul>
        <p>
          This fee will also apply should the client facilitate a hostile or
          unsafe environment as perceived by the nurse during the visit. This
          provision does not apply if the session proceeds normally, in which
          case the client will only be liable for the normal cost of the
          service.
        </p>
        <p>
          <strong>In case of IV therapy:</strong> This fee will <u>NOT</u> apply
          if:
        </p>
        <ul>
          <li>
            Nurse dispatched but unable to start IV after 3 (three) attempts.
            Note: The nurse must be allowed to attempt the placement at least
            thrice.
          </li>
        </ul>
        <p>
          If the client chooses not to continue after the first or second
          attempts, then 50% of the fee will apply.
        </p>

        <h3>Nurse Dispatched and En Route</h3>
        <p>
          If a nurse has already been dispatched to the client’s location, or if
          you are not present at the given address within 10 minutes of the
          nurse’s arrival, you will be charged in full to the held card on file.
        </p>

        <h3>Pre-payment and Package Period of Validity</h3>
        <p>
          Any purchases, whether in part or in full, made towards any product or
          service offered by Healthcarebia Home Health Care Center are hereby
          void if not scheduled and completed within two months (2 Months).
        </p>
        <p>
          If the service is not scheduled and completed within that time frame,
          any payments made will not be considered valid, and are 100%
          non-refundable. The paying consumer accepts this condition upon
          release of any payment to Healthcarebia Home Health Care Center LLC.
        </p>
      </div>
    </section>
    <%- include("partials/footer.ejs") %> <%-
    include("partials/footer-tags.ejs") %>
  </body>
</html>
