<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Identify triggers with targeted allergy and food intolerance testing at home in Dubai. Explore options and schedule a visit."
    />
    <title>Allergy & Food Intolerance Test | Healthcarebia</title>
    <%- include('../partials/header-tags.ejs') %>
    <link rel="stylesheet" href="assets/css/lab-test-at-home.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="banner" style="background-image: url(../../assets/img/mens-health-banner.png)">
      <h1>Allergy & Food Intolerance Test</h1>
      <div class="breadcrumb">
        <a href="/">Home</a> / <a href="/lab-test-at-home">Lab Test At Home</a> / Allergy & Food
        Intolerance Tests
      </div>
    </div>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img
              src="../../assets/img/acne-investigation.png"
              alt="Acne Investigation Test image"
            />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Acne Investigation Test</h1>
          <p>
            An insightful exploration aiming to understand the multifaceted causes and potential
            remedies of acne. This comprehensive analysis sheds light on various factors
            contributing to the condition, fostering a deeper comprehension of its complexities and
            potential avenues for effective management.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>4 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-price">From AED 300</div>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>CBC</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>ALT</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Creatinine</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Cholesterol</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Related Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Persistent Acne</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Excessively Oily Skin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Excessive Inflammation</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Acne on face, back, shoulders, or other areas</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img src="../../assets/img/allergy.png" alt="Allergy Test - General image" />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Allergy Test - General</h1>
          <p>
            The General Allergy Test is a comprehensive diagnostic procedure designed to identify an
            individual's allergic sensitivities. By analysing a range of common allergens, this test
            aids medical professionals in understanding potential triggers and formulating
            appropriate management strategies. It plays a crucial role in promoting personal
            well-being through informed healthcare decisions.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>4 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-price">AED 700</div>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Complete Blood Count</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Immunoglobulin E (IgE) Total</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>UAE – Allergens Specific IgE Screening (40 Food Panel)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>UAE – Allergens Specific IgE Screening (40 Inhalant Panel)</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Related Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Adverse reactions to substances</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Early detection and prevention</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Family history of allergies</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Travelling to a new country / environment</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Persistent symptoms of sneezing, itchy eyes, skin rashes or digestive
                        issues</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Illness due to seasonal patterns</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img
              src="../../assets/img/food-intolerance.png"
              alt="Food Intolerance - Extended (200+ foods) Test image"
            />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Food Intolerance - Extended (200+ foods)</h1>
          <p>
            200+ Food Allergy Test. Uncover potential sensitivities and make informed dietary
            choices. This test provides valuable insights into your well-being without emphasizing
            sales, allowing you to prioritize your health and comfort.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>1 Biomarker tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-price">AED 1600</div>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Food Intolerance 200+ Foods</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Related Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Experience of digestive discomfort such as bloating</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Itchy eyes</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Skin issues</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Headaches</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("../partials/footer.ejs") %> <%- include("../partials/footer-tags.ejs") %>
    <script src="../../assets/js/accordion.js"></script>
  </body>
</html>
