<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Order common labs and functional tests with home collection across Dubai. View test list, pricing, and book easily."
    />
    <title>Common And Functional Health Test | Healthcarebia</title>
    <%- include('../partials/header-tags.ejs') %>
    <link rel="stylesheet" href="assets/css/lab-test-at-home.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="banner" style="background-image: url(/assets/img/lab-test-at-home-banner.jpg)">
      <h1>Common And Functional Health Test</h1>
      <div class="breadcrumb">
        <a href="/">Home</a> / <a href="/lab-test-at-home">Lab Test At Home</a> / Common And
        Functional Health Test
      </div>
    </div>
    <section class="test">
      <div class="row animate" data-animation="fadeInUp">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/cardiac.png" alt="Cardiac Risk Test image" />
          </div>
          <div class="test-price">AED 400</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Cardiac Risk Markers Test</h1>
          <p>
            A comprehensive diagnostic tool designed to assess your risk of cardiovascular disease.
            This test evaluates essential biomarkers associated with heart health, providing vital
            insights to help prevent and manage cardiac conditions.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>15 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Apolipoprotein A1 (APO-A1)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Apolipoprotein B (APO-B)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>High Sensitivity CRP (HsCRP)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Lipoprotein (Lpa)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Apolipoprotein B/A1 ratio (APO B/APO A1)</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Men or Women aged over 40 years old</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>
                        Family history of heart complications (Heart Attacks, Irregular Heart Rates)
                      </span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Medical history with cardiac medication</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Shortness of Breath</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Dizziness</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Blurry Vision</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row animate" data-animation="fadeInUp">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img src="../../assets/img/basic-immunity.png" alt="Basic Immunity Check image" />
          </div>
          <div class="test-price">AED 500</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Basic Immunity Check</h1>
          <p>
            A comprehensive assessment designed to gauge your body's natural defence mechanisms.
            Through a series of non-invasive evaluations, this test provides valuable insights into
            your immune system's foundational strength. Prioritizing your well-being, it aids in
            understanding and supporting your overall health.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>8 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>CBC</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>ESR</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>CRP C-Reactive Protein</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>IgG Total Antibody</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>IgM Total Serum</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Serum Iron</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Vitamin B12</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Vitamin D Total</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Persistent illness</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Overly ill health due to seasonal patterns</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Long/slow recovery period from diseases or wounds</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Diabetic Patients</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Family History</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row animate" data-animation="fadeInUp">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/liver-profile.png" alt="Liver Profile Test image" />
          </div>
          <div class="test-price">AED 350</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Liver Profile Test</h1>
          <p>
            The Liver Profile Test is a comprehensive medical assessment that gauges the health of
            the liver. Through a panel of blood tests, it examines enzyme levels, proteins, and
            bilirubin to aid in detecting liver conditions. This tool provides valuable insights
            into overall well-being and potential medical concerns.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>11 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Albumin Serum</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Alkaline Phosphatase</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Bilirubin Direct</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Bilirubin Indirect</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Bilirubin Total</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>GGTP Gamma GT</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Serum Albumin / Globulin Ratio</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Serum Globulin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>SGOT (AST)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>SGPT (ALT)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Protein Serum</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Fatigue</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Unexplained Weight Loss</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Abdominal Pain</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Jaundice – Yellowing of the skin or eyes</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Dark Urine</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Pale Stools</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Alcohol Consumption</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Family History</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row animate" data-animation="fadeInUp">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img src="../../assets/img/diabetes.png" alt="Basic Diabetes Screening image" />
          </div>
          <div class="test-price">AED 250</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Basic Diabetes Screening</h1>
          <p>
            A crucial step in proactive healthcare. This assessment aids in early detection of
            diabetes risk factors, focusing on key indicators like blood sugar levels and family
            history. Prioritize your well-being by staying informed about your health status and
            making informed decisions for a balanced lifestyle.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>3 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Fasting Blood Sugar (FBS)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>HbA1c</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Insulin</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Related Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Family History of Diabetes</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Overweight</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>High Blood Pressure</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Adults over 40 years should consider screening at least once every 3
                        years</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>More frequent urination</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Excessive Thirst</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Increased Hunger</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row animate" data-animation="fadeInUp">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/kidney.png" alt="Kidney Profile Test image" />
          </div>
          <div class="test-price">AED 300</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Kidney Profile Test</h1>
          <p>
            The Kidney Profile Test, a vital component of preventive healthcare, offers
            comprehensive insights into kidney function. By assessing key markers like creatinine,
            glomerular filtration rate, and electrolyte levels, this test aids in early detection of
            potential issues, allowing for timely medical intervention and informed decisions about
            one's well-being.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>8 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Creatinine</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Calcium</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Uric Acid</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Blood Urea Nitrogen (BUN)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Urea</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>CBC</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Serum Electrolytes (Sodium, Potassium, Chloride)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Urine Analysis</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Related Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Early detection of underlying Kidney problems</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>High Blood Pressure or Diabetes history</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Changes in Urine Colour and Smell</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Swelling in Legs and Feet</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Fatigue</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Changes in Appetite</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row animate" data-animation="fadeInUp">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img src="../../assets/img/arthritis.png" alt="Arthritis Profile Test image" />
          </div>
          <div class="test-price">AED 450</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Arthritis Profile Test</h1>
          <p>
            The Arthritis Test serves as a diagnostic tool to aid healthcare professionals in
            identifying potential arthritis symptoms. By assessing various indicators, the test
            contributes crucial insights to assist in accurate medical evaluations and tailored
            treatment recommendations for individuals experiencing joint-related concerns.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>6 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>CBC</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>CRP C-Reactive Protein</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Rheumatoid Factor (RF) Qualitative Test</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Anti-Nuclear Antibodies (ANA)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Anti-Streptolysin O (ASO)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Uric Acid</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Related Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Experience of joint pain, stiffness, swelling, and reduced joint
                        function</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Medical and family history of autoimmune disease or forms of
                        arthritis</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Sudden flare-up of pain in bones</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Routine Check Up</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("../partials/footer.ejs") %> <%- include("../partials/footer-tags.ejs") %>
    <script src="../../assets/js/accordion.js"></script>
  </body>
</html>
