<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tell us what you need and we’ll arrange tailored blood tests with home collection in Dubai. Get a quote and book."
    />
    <title>Custom Blood Test | Healthcarebia</title>
    <%- include('../partials/header-tags.ejs') %>
    <link rel="stylesheet" href="assets/css/lab-test-at-home.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="banner" style="background-image: url(../../assets/img/mens-health-banner.png)">
      <h1>Custom Blood Test</h1>
      <div class="breadcrumb">
        <a href="/">Home</a> / <a href="/lab-test-at-home">Lab Test At Home</a> / Custom Blood Test
      </div>
    </div>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/blood-test.png" alt="Custom Blood Test image" />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Custom Blood Test</h1>
          <p>
            The Custom Blood Test offers personalized insights into your health, providing a
            comprehensive analysis of various biomarkers. This non-invasive procedure helps
            healthcare professionals assess your well-being and identify potential concerns. By
            analysing your unique biochemistry, it empowers informed decisions and promotes
            proactive healthcare management.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Custom test</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-price">From AED 400</div>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-6">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      />
                      <span>
                        Our DHA registered Doctors can advise the best profiles and markers.
                        Following a doctor’s consultation ensures the most relevant results.
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-6">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("../partials/footer.ejs") %> <%- include("../partials/footer-tags.ejs") %>
    <script src="../../assets/js/accordion.js"></script>
  </body>
</html>
