<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Discover insights from DNA testing with guided reports and support. Book secure, at-home sample collection in Dubai."
    />
    <title>DNA Test | Healthcarebia</title>
    <%- include('../partials/header-tags.ejs') %>
    <link rel="stylesheet" href="assets/css/lab-test-at-home.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="banner" style="background-image: url(../../assets/img/mens-health-banner.png)">
      <h1>DNA Test</h1>
      <div class="breadcrumb">
        <a href="/">Home</a> / <a href="/lab-test-at-home">Lab Test At Home</a> / DNA Test
      </div>
    </div>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/food-intolerance-extended-test.png" alt="DNA Test image" />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>DNA test</h1>
          <p>
            Our DNA testing services are designed to provide you with accurate and comprehensive
            information about your genetics. Whether you're interested in optimizing your nutrition
            and fitness or uncovering potential health risks. Your health and well-being are our top
            priorities.
          </p>
          <p>
            Your genes hold the key to understanding your health. With our health DNA testing, you
            can uncover insights into your genetic predisposition to various health conditions. This
            knowledge empowers you to make informed decisions about your lifestyle, healthcare, and
            wellness strategies.
          </p>
          <div class="how">
            <h4 class="mb-5">How Our DNA Testing Service Works</h4>
            <ul class="d-flex flex-column gap-3">
              <li>
                <b>Sample Collection:</b> We collect a simple DNA sample, typically through a cheek
                swab or a saliva sample. No blood draws or invasive procedures are necessary.
              </li>
              <li>
                <b>Laboratory Analysis:</b> Your DNA sample is sent to a certified laboratory, where
                it is analyzed using state-of-the-art genetic testing technology.
              </li>
              <li>
                <b>Personalized Report:</b> Within a few weeks, you'll receive a detailed,
                easy-to-understand report that summarizes your genetic insights, including disease
                risk factors, nutritional recommendations, fitness guidelines, and more.
              </li>
              <li>
                <b>Consultation</b>: Our experienced healthcare professionals are available to
                review your results with you, answer any questions, and provide guidance on how to
                incorporate this newfound knowledge into your health and lifestyle choices.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs") %> <%- include("../partials/footer-tags.ejs") %>
    <script src="../../assets/js/accordion.js"></script>
  </body>
</html>
