<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Monitor key markers with convenient at-home blood test packages in Dubai. Compare panels and book your collection."
    />
    <title>General Health Tests | Healthcarebia</title>
    <%- include('../partials/header-tags.ejs') %>
    <link rel="stylesheet" href="assets/css/lab-test-at-home.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="banner" style="background-image: url(/assets/img/lab-test-at-home-banner.jpg)">
      <h1>General Health test</h1>
      <div class="breadcrumb">
        <a href="/">Home</a> / <a href="/lab-test-at-home">Lab Test At Home</a> / General Health
        tests
      </div>
    </div>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/alopecia.png" alt="test image" />
          </div>
          <div class="test-price">AED 700</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Alopecia Test</h1>
          <p>
            An informative tool designed to enhance your understanding of this complex condition.
            Delve into the world of alopecia, its types, causes, and emotional impact. This test
            aims to provide knowledge and awareness, supporting those affected by fostering empathy
            and insight.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>9 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span
                  ><img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Complete Blood Count</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Ferritin in Serum</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Iron in Serum</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Vitamin D</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Zinc In Plasma</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Anti Thyroid Peroxidase Abs</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>TSH</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Anti Nuclear Abs (ANA)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Thyroglobulin</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span
                  ><img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Sudden Hair loss</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Patches / Clumps of Hair fall</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Family or Personal History</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Auto-immune disorders</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Nutritional Deficiencies</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Medication reviews</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span
                  ><img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img src="../../assets/img/hair-loss.png" alt="Hair loss test image" />
          </div>
          <div class="test-price">AED 500</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Hair Loss Test</h1>
          <p>
            The Hair Loss Test offers insights into potential factors contributing to hair loss. It
            examines genetics, lifestyle, and health, providing a comprehensive understanding. This
            assessment aids in making informed decisions about hair care. Remember, hair health can
            reflect overall well-being.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>8 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>

            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Complete Blood Count</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Ferritin in Serum</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Iron in Serum</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>DHEA-S</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Vitamin B12</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Vitamin D</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Zinc in Plasma</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>TSH</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Related Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Duration and Severity of Hair Loss</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Stressed individuals</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Suffering hair, skin, and nail health decline</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Family or Personal History</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Diet and Nutrition Changes</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Medications</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/virtiligo.png" alt="Vitiligo test image" />
          </div>
          <div class="test-price">AED 650</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Vitiligo Test</h1>
          <p>
            The Vitiligo Test is a diagnostic tool designed to identify the presence of vitiligo, a
            skin condition causing loss of pigmentation. This test assists healthcare professionals
            in accurate assessments, aiding early detection and personalized management strategies
            for those potentially affected by vitiligo.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>8 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>

            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-6">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Complete Blood Count</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>TPO</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Vitamin B12</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Vitamin D</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>ANA</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Thyroglobulin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Zinc in Plasma</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>TSH</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-6">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img src="../../assets/img/psoriasis.png" alt="Psoriasis investigation test image" />
          </div>
          <div class="test-price">AED 700</div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Psoriasis Investigation</h1>
          <p>
            A medical assessment designed to aid in the diagnosis of psoriasis, a chronic skin
            condition. Through examination, this test provides valuable insights to healthcare
            professionals, helping them formulate accurate treatment plans and improve patients'
            quality of life.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>2 Biomarkers tested</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & lab partners</span>
            </li>

            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure, and confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers Tested -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>HLA B27</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Anti CCP Abs</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Related Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Experience of red, scaly patches of skin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Itchy and painful skin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Health History</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Flaky and irritated skin</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >State of the art incorporation of technology and equipment to ensure
                        maximum efficiency, accuracy, and quality of results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Customized end to end laboratory information system, co-developed with
                        expert Pathologists.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global Investigation Laboratories from around the world.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span
                        >Incorporating Next Gen Technologies – Genomics, Proteomics, Metabolomics,
                        Molecular Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img
              src="../../assets/img/annual-health-checkup.png"
              alt="Annual health checkup image"
            />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Annual Health Check-Up</h1>
          <p>
            Our convenient Annual Health Checkup Service brings comprehensive healthcare to the
            comfort of your home. With thorough tests, professional consultations, and a focus on
            prevention, you can take proactive steps toward a healthier and happier life.
          </p>
          <ul>
            <li>
              <img
                src="../../assets/icons/biomarkers.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Vital Signs & BMI Assessment</span>
            </li>
            <li>
              <img
                src="../../assets/icons/hormones.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Blood Tests – CBC, cholesterol, sugar & more</span>
            </li>
            <li>
              <img
                src="../../assets/icons/home-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>At-home blood sample collection</span>
            </li>
            <li>
              <img
                src="../../assets/icons/dha-test.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>DHA-licensed nurses & healthcare professionals</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40px"
                width="40px"
              />
              <span>Fast, secure & confidential results</span>
            </li>
          </ul>
          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- What's Included -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>What's Included</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Full Body Checkup – Heart, lungs & more</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Cardiovascular Screening – ECG & lipid profile</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Liver & Kidney Function Tests</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Cancer & Bone Density Screening (if needed)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Customized Health Consultation</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Benefits -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Benefits</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Early detection of health issues</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Convenient at-home service</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Personalized wellness plan</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Peace of mind with proactive care</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Guidance for a healthier lifestyle</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Why Healthcarebia -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20px"
                    width="20px"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>ISO 15189-2012 accredited labs</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Advanced technology & accurate results</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>DHA-licensed nurses & lab partners</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Global laboratory partnerships</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt="check mark"
                        height="20px"
                        width="20px"
                      /><span>Next-gen technologies: Genomics, Digital Pathology & more</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs") %> <%- include("../partials/footer-tags.ejs") %>
    <script src="../../assets/js/accordion.js"></script>
  </body>
</html>
