<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Check hormones, vitamins, and wellness markers with home sample collection in Dubai. Review packages and book a test."
    />
    <title>Men's health | Healthcarebia</title>
    <%- include('../partials/header-tags.ejs') %>
    <link rel="stylesheet" href="assets/css/lab-test-at-home.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <!-- Banner -->
    <div class="banner" style="background-image: url(../../assets/img/mens-health-banner.png)">
      <h1>Men's wellness</h1>
      <div class="breadcrumb">
        <a href="/">Home</a> / <a href="/lab-test-at-home">Lab Test At Home</a> / Men's health
      </div>
    </div>
    <!-- Male Cancer Screening -->
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/male-cancer-screening.png" alt="test image" />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Male Cancer Screening</h1>
          <p>
            Male Cancer Screening test is a vital tool for early detection and prevention. By
            prioritizing your well-being, this test offers a comprehensive assessment, contributing
            to informed decisions and timely interventions. Remember, knowledge is power in
            safeguarding your health.
          </p>
          <ul>
            <li>
              <img src="../../assets/icons/biomarkers.svg" alt="test icon" height="40" width="40" />
              <span>6 Biomarkers tested</span>
            </li>
            <li>
              <img src="../../assets/icons/hormones.svg" alt="test icon" height="40" width="40" />
              <span>Hormones, Cholesterol, Blood Sugar & More</span>
            </li>
            <li>
              <img src="../../assets/icons/home-test.svg" alt="test icon" height="40" width="40" />
              <span>At home blood sample collection</span>
            </li>
            <li>
              <img src="../../assets/icons/dha-test.svg" alt="test icon" height="40" width="40" />
              <span>DHA-licensed nurses & lab partners</span>
            </li>
            <li>
              <img
                src="../../assets/icons/results-icon.svg"
                alt="test icon"
                height="40"
                width="40"
              />
              <span>Fast, secure, and confidential results.</span>
            </li>
          </ul>
          <div class="test-price">AED 350</div>

          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Alpha Feto Protein (AFP)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>CA - 19.9</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Carcino Embryonic Antigen (CEA)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>PSA-total Prostate Specific Antigen, total</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Free PSA (Prostate Specific Antigen)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Beta HCG Quantitative</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Personal or Family History of Cancer</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Unusual Lumps</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Chronic Cough</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Unexplained Weight Loss</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Abnormal Bowel Habits</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Exposure to carcinogens – Smoking</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Why -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >State-of-the-art technology for efficiency, accuracy, and quality of
                        results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Custom end-to-end LIS co-developed with expert Pathologists.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Global Investigation Laboratories network.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >Next‑Gen Technologies – Genomics, Proteomics, Metabolomics, Molecular
                        Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /accordion -->
        </div>
      </div>
    </section>

    <!-- Thyroid Profile -->
    <!-- Stored in slack -->

    <!-- Male Fertility Profile -->
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img src="../../assets/img/male-fertility-test.png" alt="test image" />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Male Fertility Profile</h1>
          <p>
            The Male Fertility Profile is a comprehensive assessment designed to provide insights
            into reproductive health. Through a series of tests and analyses, it offers valuable
            information about factors that can influence male fertility. This profile aims to
            support informed decisions and promote overall well-being.
          </p>
          <ul>
            <li>
              <img src="../../assets/icons/biomarkers.svg" alt="" height="40" width="40" /><span
                >12 Biomarkers tested</span
              >
            </li>
            <li>
              <img src="../../assets/icons/hormones.svg" alt="" height="40" width="40" /><span
                >Hormones, Cholesterol, Blood Sugar & More</span
              >
            </li>
            <li>
              <img src="../../assets/icons/home-test.svg" alt="" height="40" width="40" /><span
                >At home blood sample collection</span
              >
            </li>
            <li>
              <img src="../../assets/icons/dha-test.svg" alt="" height="40" width="40" /><span
                >DHA-licensed nurses & lab partners</span
              >
            </li>
            <li>
              <img src="../../assets/icons/results-icon.svg" alt="" height="40" width="40" /><span
                >Fast, secure, and confidential results.</span
              >
            </li>
          </ul>
          <div class="test-price">AED 700</div>

          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Follicle Stimulating Hormone (FSH)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Luetinizing Hormone (LH)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Prolactin (PRL)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>TSH</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Blood Urea Nitrogen (BUN)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Creatinine</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Glucose (Random)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Sperm Antibody – Total (ASAB)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Testosterone (Total)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>CBC</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Chlamydia IgG</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Chlamydia IgM</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Couples planning for pregnancy</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Unsuccessful conception</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Age early 30s or over</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Concerns of andropause due to age</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Personal or family history related to fertility issues</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Why -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >State-of-the-art technology for efficiency, accuracy, and quality of
                        results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Custom end-to-end LIS co-developed with expert Pathologists.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Global Investigation Laboratories network.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >Next‑Gen Technologies – Genomics, Proteomics, Metabolomics, Molecular
                        Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /accordion -->
        </div>
      </div>
    </section>

    <!-- Male Weight Loss Profile -->
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img odd">
            <img src="../../assets/img/male-weight-loss.png" alt="test image" />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1>Weight Loss – Men</h1>
          <p>
            This insightful assessment aims to help Men understand their unique journey towards
            healthier living. Answer thought-provoking questions to gain personalized insights,
            fostering balanced and informed approaches to weight management. Empower yourself with
            knowledge to make sustainable lifestyle choices.
          </p>
          <ul>
            <li>
              <img src="../../assets/icons/biomarkers.svg" alt="" height="40" width="40" /><span
                >20 Biomarkers tested</span
              >
            </li>
            <li>
              <img src="../../assets/icons/hormones.svg" alt="" height="40" width="40" /><span
                >Hormones, Cholesterol, Blood Sugar & More</span
              >
            </li>
            <li>
              <img src="../../assets/icons/home-test.svg" alt="" height="40" width="40" /><span
                >At home blood sample collection</span
              >
            </li>
            <li>
              <img src="../../assets/icons/dha-test.svg" alt="" height="40" width="40" /><span
                >DHA-licensed nurses & lab partners</span
              >
            </li>
            <li>
              <img src="../../assets/icons/results-icon.svg" alt="" height="40" width="40" /><span
                >Fast, secure, and confidential results.</span
              >
            </li>
          </ul>
          <div class="test-price">AED 800</div>

          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <!-- Vitamins & glucose -->
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Vitamin D</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Fasting Insulin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Fasting Glucose</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>HBA1C</span>
                    </li>

                    <!-- Lipids -->
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – LDL/HDL Ratio</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – HDL (High Density Lipoprotein)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – LDL (Low Density Lipoprotein)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – Non‑HDL Cholesterol</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – TG / HDL Ratio</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – Total Cholesterol</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – Total Cholesterol/HDL Ratio</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – Tryglycerides</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Lipid Profile – VLDL (Very Low Density Lipoprotein)</span>
                    </li>

                    <!-- Thyroid -->
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Thyroid Profile – TSH</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Thyroid Profile – Thyroxine, Free (FT4)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Thyroid Profile – Triiodothyronine, Free (FT3)</span>
                    </li>

                    <!-- Hormones -->
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Male Hormone Profile – Testostorone (TOTAL)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Male Hormone Profile – SHBG (Sex Hormone Binding Globulin)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Male Hormone Profile – Free Androgen Index (FAI)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Estradiol (E2)</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Symptoms -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Related Symptoms</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Suffering from obesity</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Unexplained weight gain</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Avoiding yo‑yo dieting</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Concerns about diabetes</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Weight plateau despite diet/exercise</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >State-of-the-art technology for efficiency, accuracy, and quality of
                        results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Custom end-to-end LIS co-developed with expert Pathologists.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Global Investigation Laboratories network.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >Next‑Gen Technologies – Genomics, Proteomics, Metabolomics, Molecular
                        Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /accordion -->
        </div>
      </div>
    </section>

    <!-- Male Advanced Package -->
    <section class="test">
      <div class="row">
        <div class="test-img col-lg-4 col-md-6 col-12">
          <div class="img even">
            <img src="../../assets/img/male-advanced-test.png" alt="test image" />
          </div>
        </div>
        <div class="test-details col-lg-8 col-md-6 col-12">
          <h1 class="">Male Advanced Package</h1>
          <p class="">
            Designed for a deeper understanding of overall health. A wide lens on blood, metabolic,
            organ, thyroid and male hormone status.
          </p>
          <ul>
            <li>
              <img src="../../assets/icons/biomarkers.svg" alt="" height="40" width="40" /><span
                >53 Biomarkers tested</span
              >
            </li>
            <li>
              <img src="../../assets/icons/hormones.svg" alt="" height="40" width="40" /><span
                >Hormones, Cholesterol, Blood Sugar & More</span
              >
            </li>
            <li>
              <img src="../../assets/icons/home-test.svg" alt="" height="40" width="40" /><span
                >At home blood sample collection</span
              >
            </li>
            <li>
              <img src="../../assets/icons/dha-test.svg" alt="" height="40" width="40" /><span
                >DHA-licensed nurses & lab partners</span
              >
            </li>
            <li>
              <img src="../../assets/icons/results-icon.svg" alt="" height="40" width="40" /><span
                >Fast, secure, and confidential results.</span
              >
            </li>
          </ul>
          <div class="test-price">AED 900</div>

          <div class="test-accordion-box">
            <div class="row d-flex">
              <!-- Markers -->
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Markers Tested</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <!-- Vitamins -->
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Vitamin D</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Vitamin B12</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Magnesium</span>
                    </li>

                    <!-- CBC -->
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – Hematocrit (HCT)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – Hemoglobin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – MCHC</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – MCV</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – MCH</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – MPV</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – Platelets Count</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – RBC Count</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – Red Cell Distribution Width (RDW)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Complete Blood Profile – WBC (with differential)</span>
                    </li>

                    <!-- Glycaemic & inflammation -->
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>HbA1c & eAG (estimated Average Glucose)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>C‑Reactive Protein (CRP)</span>
                    </li>

                    <!-- Iron status -->
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Iron</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Total Iron Binding Capacity (TIBC)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Transferrin Saturation Index</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Blood Urea Nitrogen</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Creatinine</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Glomerular Filteration Rate (EGFR)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Urea (Serum)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>LDL/HDL Ratio</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>HDL</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>LDL</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Non‑HDL Cholesterol</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>TG / HDL Ratio</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Total Cholesterol</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Total Cholesterol/HDL Ratio</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Tryglycerides</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>VLDL</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>A/G Ratio</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>ALT (SGPT)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Albumin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>ALP</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>AST</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Bilirubin (Total & Direct)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>GGT</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Globulin</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Total Protein</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>TSH</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Free T4 (FT4)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Free T3 (FT3)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Testostorone (TOTAL)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>SHBG (Sex Hormone Binding Globulin)</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Free Androgen Index (FAI)</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="test-accordion col-lg-4">
                <div class="test-accordion-head">
                  <span>Why Healthcarebia</span>
                  <img
                    src="../../assets/icons/down-arrow.svg"
                    alt="Down arrow"
                    height="20"
                    width="20"
                  />
                </div>
                <div class="test-accordion-body">
                  <ul>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >First in the MENA region to achieve the ISO 15189-2012 accreditation.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >State-of-the-art technology for efficiency, accuracy, and quality of
                        results.</span
                      >
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Custom end-to-end LIS co-developed with expert Pathologists.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span>Global Investigation Laboratories network.</span>
                    </li>
                    <li>
                      <img
                        src="../../assets/icons/check-mark.svg"
                        alt=""
                        height="20"
                        width="20"
                      /><span
                        >Next‑Gen Technologies – Genomics, Proteomics, Metabolomics, Molecular
                        Biology, Digital Pathology.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("../partials/footer.ejs") %> <%- include("../partials/footer-tags.ejs") %>
    <script src="../../assets/js/accordion.js"></script>
  </body>
</html>
