<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Talk to a clinician online for IV drip advice and wellness care in Dubai. Get guidance and book your treatment from home."
    />
    <title>Tele-Consultation | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="banner" style="background-image: url(/assets/img/policies-banner.webp)">
      <h1>404!</h1>
    </div>
    <%- include("partials/footer.ejs") %> <%- include("partials/footer-tags.ejs") %>
  </body>
</html>
