

@media (min-width: 1401px) {
  .container { max-width: 1140px;}
}

/* ==========================================================================
    (Medium Desktop, 1400px and up)*
    ========================================================================== */
@media (max-width: 1400px) {
   .drip-slider .owl-nav button { z-index: 3;}
   .drip-slider .owl-nav button.owl-next { right: 0;}
   .drip-slider .owl-nav button.owl-prev { left: 0;}
   .testimonials-slider .owl-nav button { z-index: 3;}
   .testimonials-slider .owl-nav button.owl-prev { left: 0;}
   .testimonials-slider .owl-nav button.owl-next { right: 0;}
}
 
 
/* ==========================================================================
   *Medium devices (tablets, 1200px and down)*
   ========================================================================== */
@media (max-width: 1200px) {
  
}
 
 
/* ==========================================================================
   *Medium devices (tablets, 991px and down)*
   ========================================================================== */
 @media (max-width: 991px) {
   .about { padding: 40px 0 !important;}
   .about-img { margin-right: 0 !important;}
   .about-text { width: 100%;}
   .about-img { height: auto;}
   .iv-vitamin { padding: 40px 0;}
   .card-style-2 { flex-direction: column; padding: 20px;}
   .form-style-1 { padding: 25px;}
 }
 


 

 
/* ==========================================================================
   *Small devices (landscape phones, less than 768px)*
   ========================================================================== */ 
@media (max-width: 767px) {
h1{font-size: 40px; text-align: center;}
h2{font-size: 30px;}
h4{font-size: 20px; text-align: center;}
p{font-size: 13px; line-height: normal;}
  .banner-text, .form-style-1{margin-top: 20px;}
  .about-img{margin-right: 0px !important; height: auto;}

  .mob-space{padding: 50px 0 !important;}
  ul.listing li{font-size: 13px;}
  .card-style-1 .icon{margin: 0px auto; width: 88px; height: 88px; margin-bottom: 10px;}
  .card-style-1{text-align: center;}
  .drip-box{margin: 0px;}
  section{padding: 40px 0;}

  .hvr-underline-from-left::before { display: none;}
  ul.info-block li a { font-size: 0;}
  ul.info-block li i { font-size: 18px; margin-right: 0;}
  .top-block { padding-top: 20px !important;}
  .banner-text { margin-top: 0;}
  .p-bold { font-size: 16px;}
  .card-style-3 { padding: 25px;}
  ul.copy-right { margin-top: 30px;}
  .fot-info p { font-size: 15px; line-height: 24px;}
  .fot-info h6 { font-size: 14px;}

  .top-block { background-size: 269% !important; background-position: -110px 0px !important;}
  .testimonials-slider .owl-nav button  { position: static; margin: 0 10px;}
  .testimonials-slider .owl-nav { display: flex; justify-content: center; margin-top: 20px;}
  .testimonials-slider .card-style-2 { height: 100%;}
}

/* ==========================================================================
   *Extra small devices (portrait phones, less than 576px)*
   ========================================================================== */ 
@media (max-width: 575px) {

}


/* ==========================================================================
   *Extra small devices (portrait phones, less than 480px)*
   ========================================================================== */ 
@media (min-width:320px) and (max-width:480px) { 

}

