/* .blogs * {
  border: 1px solid;
} */
.blog-container {
  width: 100%;
  height: 100%;
}

.blog-box {
  border-radius: 10px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.blog-box .blog-img {
  max-height: 240px;
  background: url(../img/blog1.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey;
  max-width: 420px;
  border-radius: 10px;
}

.head {
  color: #a6a6a6;
}

.category {
  padding: 3px 12px;
  background-color: #eeeeee;
  border-radius: 10px;
  color: #a6a6a6;
  border: none;
}

.blog-body h5 {
  font-family: var(--body);
  color: black;
  font-style: normal;
}

.blog-body .blog-summary {
  color: #b4b4b4;
  font-family: var(--body);
  border-bottom: 2px solid #a6a6a6;
}

.blog-body .blog-posted span {
  font-size: 14px;
  color: #b4b4b4;
}

.blog-body .blog-posted .date {
  color: #737373;
  font-size: 16px;
}