.teams-health h1 {
  color: #422b1c;
  text-align: center;
  margin: 50px 30px 30px 30px;
}

.teams-health>p:first-of-type {
  color: #422b1c;
  text-align: center;
  padding: 10px;
  font-size: large;
  font-family: sans-serif;
}

.teams-health-image {
  padding: 20px;
}

.teams-health-image img {
  border-radius: 15px;
}

.teams-health-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.teams-health-list-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #dedbd3;
  border-radius: 15px;
  padding: 20px;
}

.teams-health-list-item h5 {
  font-family: var(--body);
  color: #422b1c;
  font-size: 1.1em;
  font-weight: 700;
}

.teams-health-list-item p {
  color: #422b1c;
  margin-bottom: 0;
  font-style: italic;
}

.dha-info {
  color: #422b1c;
}

.corporate-health-service {
  background-color: #dedbd3;
  padding: 70px 30px;
}

.corporate-health-service h1 {
  color: #422b1c;
  text-align: center;
  margin-bottom: 30px;
}

.corporate-services {
  padding: 0 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.corporate-service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafaf3;
  padding: 14px 10px;
  border-radius: 15px;
}

.corporate-service-item h5 {
  font-family: var(--body);
  color: #422b1c;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

.corporate-service-item p {
  color: #422b1c;
  margin-bottom: 0;
  font-style: italic;
  text-align: center;
}

.why-hca-for-corporate {
  color: white;
  height: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(/assets/img/why-hca-for-corporate.webp);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.why-hca-for-corporate p,
.why-hca-for-corporate h1 {
  color: white;
}

.why-hca-for-corporate p {
  font-style: italic;
  width: 70%;
}

.invest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  background: linear-gradient(rgba(250, 250, 243, 0), rgba(250, 250, 243, 0));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.invest h1 {
  color: #c2a977;
}

.invest p {
  color: #422b1c;
  margin-bottom: 0;
  font-style: italic;
  text-align: center;
  width: 70%;
}

.brown {
  background: linear-gradient(rgba(57, 23, 12, 0.9),
      rgba(66, 43, 28, 0.9));
}