/* .why-choose * {
  border: 1px solid;
} */
.why-choose {
  background-image: linear-gradient(rgba(234, 234, 234, 0.8)), url(../img/iv-drips-banner2.jpg);
  background-size: cover;
  background-position: center;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.why-choose-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.why-choose-items .item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2em;
  gap: 1em;
}

.why-choose-items .item .desc {
  color: var(--primary);
  flex: 1;
}

.why-choose-items .item .icon {
  height: 100px;
  width: 100px;
}

.why-choose-items .item .icon img {
  height: 100%;
  width: 100%;
}

.img-scale {
  transform: scale(1.5);
}

.img-scale-lg {
  transform: scale(1.9)
}

.what-is {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.what-is p {
  font-style: italic;
  width: 80%;
  color: var(--primary);
}

.bullet-points {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bullet-points ul {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.bullet-points ul li {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: var(--primary);
  font-size: 1.1em;
}

.bullet-points ul li:before {
  content: '';
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
}

.what-is .image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.drips {
  background-image: linear-gradient(rgba(234, 234, 234, 0.8)), url(../img/iv-drips-banner2.jpg);
  background-size: cover;
  background-position: center;
}

.professional {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../img/iv-drips-banner2.jpg);
  background-size: cover;
  background-position: center;
}

.professional p {
  width: 80%;
}

.drips-container a {
  text-decoration: none;
}

.drip-block .drip-box {
  flex-direction: row;
  padding: 1em;
  background-color: white;
  border-radius: 20px;
  gap: 10px;
  min-height: 350px;
}

.drip-box .drip-img {
  height: 270px;
  /* width: 160px; */
}

.drip-box .drip-img img {
  height: 100%;
  width: 100%;
}

.drip-box .drip-text {
  flex: 1;
}

.drip-text h4 {
  font-family: var(--body);
  font-style: normal;
}

.drip-text ul li {
  list-style: none;
  color: var(--primary);
}

.drip-text ul li .fa-check {
  background: #353f2a;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

.drip-text .price p {
  font-size: 22px;
  margin-bottom: 0;
}

.drip-text .price span {
  font-size: 16px;
  color: var(--primary);
}

/* Post party drip */
.post-party {
  padding: 4em;
  padding-bottom: 0;
}

.title p {
  font-style: italic;
  /* transform: skew(-8deg); */
  width: 60%
}

.desc-box img {
  flex: 1;
}

.desc {
  width: 60%;
}

.desc p {
  font-style: italic;
  width: 80%;
}