/* .why-choose * {
  border: 1px solid;
} */
.why-choose {
  background-image: linear-gradient(rgba(234, 234, 234, 0.8)), url(../img/iv-drips-banner2.jpg);
  background-size: cover;
  background-position: center;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.why-choose-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.why-choose-items .item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2em;
  gap: 1em;
}

.why-choose-items .item .desc {
  color: var(--primary);
  flex: 1;
}

.why-choose-items .item .icon {
  height: 100px;
  width: 100px;
}

.why-choose-items .item .icon img {
  height: 100%;
  width: 100%;
}

.img-scale {
  transform: scale(1.5);
}

.img-scale-lg {
  transform: scale(1.9)
}

.what-is {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.what-is p {
  font-style: italic;
  width: 80%;
  color: var(--primary);
}

.bullet-points {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bullet-points ul {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.bullet-points ul li {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: var(--primary);
  font-size: 1.1em;
}

.bullet-points ul li:before {
  content: '';
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
}

.what-is .image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.drips {
  background-image: linear-gradient(rgba(234, 234, 234, 0.8)), url(../img/iv-drips-banner2.jpg);
  background-size: cover;
  background-position: center;
}

.professional {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../img/iv-drips-banner2.jpg);
  background-size: cover;
  background-position: center;
}

.professional p {
  width: 80%;
}

.drips-container a {
  text-decoration: none;
}

.drip-block .drip-box {
  flex-direction: row;
  padding: 1em;
  background-color: white;
  border-radius: 20px;
  gap: 10px;
  min-height: 350px;
}

.drip-box .drip-img {
  height: 270px;
  /* width: 160px; */
}

.drip-box .drip-img img {
  height: 100%;
  width: 100%;
}

.drip-box .drip-text {
  flex: 1;
}

.drip-text h4 {
  font-family: var(--body);
  font-style: normal;
}

.drip-text ul li {
  list-style: none;
  color: var(--primary);
}

.drip-text ul li .fa-check {
  background: #353f2a;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

.drip-text .price p {
  font-size: 22px;
  margin-bottom: 0;
}

.drip-text .price span {
  font-size: 16px;
  color: var(--primary);
}

/* Post party drip */
.post-party {
  padding: 5em;
  padding-bottom: 0;
  background: url('../img/hangover-background.png');
}

.post-party h1 {
  font-weight: 500;
}

.title p {
  font-style: italic;
  /* transform: skew(-8deg); */
  width: 60%
}

.desc-box img {
  flex: 1;
}

.desc {
  /* width: 60%; */
}

.desc p {
  font-style: italic;
}

.symptoms-and-benefits {
  background: url("../img/hangover-background-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 10em;
}

.symptoms-and-benefits h2 {
  font-weight: 500;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.symptom-box,
.benefit-box {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
  gap: 2em;
  flex-wrap: wrap;
}

.benefit-box {
  width: 60%;
  justify-content: end;
  align-items: center;
}

.symptom,
.benefit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 20px;
  padding: 2px 16px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.symptom:hover,
.benefit:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(5px);
}

.symptom img,
.benefit img {
  margin-left: -5px;
}

.symptom p,
.benefit p {
  color: white;
  margin-bottom: 0;
}

.ingredients {
  padding: 5em 10em;
  padding-bottom: 0;
}

.ingredients h1 {
  font-weight: 500;
}

.ingredients ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredients .ingredient-list ul li {
  font-style: italic;
  list-style: none;
  font-size: 18px;
}

.hangover-drip-img {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.hangover-drip-img img {
  transform: rotate(-40deg);
}