.home-diagnostics {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/blog-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-diagnostics h1 {
  font-weight: 500;
  text-align: center;
}

.home-diagnostics p {
  font-style: italic;
  width: 70%;
  text-align: center;
}

.test-link {
  height: 700px;
  display: block;
}

.test-link:nth-of-type(2) {
  transition-delay: 200ms;
}

.test-link:nth-of-type(3) {
  transition-delay: 400ms;
}

.test-link:nth-of-type(4) {
  transition-delay: 600ms;
}

.test-link:nth-child(5) {}

.test-link:nth-child(6) {}

.test-link:nth-child(7) {}

.test-link:nth-child(8) {}

.home-diagnostics .test-link .test-box {
  border-radius: 15px;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: start !important;
  border: 1px solid rgb(237, 237, 237);
  padding: 2em !important;
}

.home-diagnostics .test-link .test-box:hover {
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.5);
}

.test-box>img {
  border-radius: 15px;
  width: 100%;
  height: 240px;
}

.home-diagnostics .tests .test-title {
  width: 100%;
  padding-bottom: 1em;
}

.tests .test-title .test-icon {
  height: 80px;
  width: 80px;
}

.tests .test-title .test-icon img {
  transform: scale(1.4);
}

.home-diagnostics .tests a div p {
  font-style: normal;
  width: 90%;
  text-align: start;
}

/* Test pages */
.test-intro {
  padding: 5em;
  background: url('../img/hangover-background-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .test-intro * {
  border: 1px solid;
} */
.test-intro h1,
.test-intro h3 {
  font-weight: 500;
}

.intro-img {
  height: 400px;
  width: 400px;
}

.intro-img img {
  height: 100%;
  width: 100%;
}

.test-intro .row {
  display: flex;
  justify-content: center;
}

.test-summary div p {
  font-style: italic;
  width: 50%;
}

/* .test * {
  border: 1px solid;
} */
.test {
  box-shadow: 0 -8px 10px -8px rgba(0, 0, 0.6, 0.5),
    0 8px 10px -8px rgba(0, 0, 0.6, 0.5);
  padding: 4em;
  background-color: #fffff7;
}

.test h1 {
  font-weight: 500;
}

.test p {
  font-style: italic;
}

.test-details h1 {
  margin: 0.8em 0;
}

.test-details p {
  margin-bottom: 1.5em;
}

.test-details ul {
  margin-bottom: 2em;
}

.test-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.test-img .img {
  height: 400px;
  width: 260px;
  position: relative;
  z-index: 1;
}

.test-img .img img {
  width: 100%;
  height: 100%;
}

.odd::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 60%;
  height: 60%;
  background-color: var(--primary);
  z-index: -1;
}

.even::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 60%;
  height: 60%;
  background-color: var(--primary);
  z-index: -1;
}

.test-details ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 18px;
  color: var(--primary);
}

.test-details ul li {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.test-price {
  background-color: var(--secondary);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.2em;
  min-width: 150px;
  box-shadow: 4px 4px 4px 2px var(--primary);
}

.test-accordion-box {
  width: 100%;
}

.test-accordion-box .row {
  width: 100%;
  display: flex;
}

.test-accordion {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.test-accordion-head,
.test-accordion-body {
  background-color: rgba(115, 115, 115, 0.4);
}

.test-accordion-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  color: var(--primary);
  margin-bottom: 5px;
}

.test-accordion-head img {
  transition: transform 0.3s ease;
}

.test-accordion-head img.rotate {
  transform: rotate(180deg)
}

.test-accordion-body {
  display: none;
  border-radius: 10px;
}

.test-accordion-body.visible {
  display: block;
}

.test-details .test-accordion-box .test-accordion .test-accordion-body ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
  margin-bottom: 0;
}

.test-accordion-body ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.how ul li {
  font-style: italic;
  display: block;
}

.how ul li img {
  /* margin-right: 5px; */
}

.test-accordion-body h5 {
  font-style: normal;
  font-family: var(--body);
  padding: 1em 1em 0 1em;
}