.odometer {
  display: inline-block;
  vertical-align: middle;
  /* *vertical-align: auto;
  *zoom: 1;
  *display: inline; */
  position: relative;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
  text-align: center;
}

.odometer-digit {
  display: inline-block;
  position: relative;
}

.odometer-digit-spacer {
  display: inline-block;
  visibility: hidden;
}

.odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.odometer-ribbon {
  display: block;
}

.odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.odometer-value {
  display: block;
  transform: translateZ(0);
}

.odometer-value.odometer-last-value {
  position: absolute;
}

.odometer.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  transform: translateY(-100%);
}

.odometer.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  transform: translateY(-100%);
}

.odometer.odometer-animating-down .odometer-ribbon-inner {
  transform: translateY(-100%);
}

.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  transform: translateY(0);
}