/* Small devices and up*/
@media (max-width: 577px) {
  .fab-btn {
    height: 50px !important;
    width: 50px !important;
  }

  .card {
    margin: 20px !important;
  }

  .card h3 {
    font-size: 26px !important;
  }

  /* drips */
  .head ul li i {
    display: none !important;
  }

  .hangover-drip-img {
    overflow: visible;
  }

  /* faqs */
  .faqs .row {
    margin: 0 !important;
  }

  /* about us */
  .about-hca .row-one {
    padding-bottom: 0 !important;
  }

  .title h1 {
    text-align: center;
  }

  .desc {
    text-align: center;
  }

  .discover-btn {
    margin-bottom: 1em;
  }

  .about-hca .row-one h1 {
    padding: 0 !important;
  }

  .about-hca .row-two {
    padding: 0 !important;
    justify-content: center !important;
  }

  .count-box {
    display: none !important;
  }

  .mission,
  .vision {
    max-width: 100% !important;
  }

  .mission p,
  .vision p {
    width: 100% !important;
  }

  .vision-and-mission .image {
    justify-content: center !important;
  }

  .philosophy h1,
  .operate h1 {
    text-align: center !important;
    width: 100% !important;
  }

  .philosophy p,
  .operate p {
    width: 100% !important;
  }

  .our-services p {
    width: 100% !important;
  }

  .our-services>.row>div:nth-child(1) {
    padding-top: 30px !important;
    padding-bottom: 0 !important;
  }

  .our-services>.row>div:nth-child(2) {
    padding-bottom: 30px !important;
    padding-top: 0 !important;
  }

  .our-services {
    padding: 1.2em !important;
  }

  .our-services .image {
    display: none !important;
  }

  .discover-btn {
    display: flex;
    justify-content: center;
  }

  /* footer */
  footer .row div {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .row a img {
    height: 30px;
    width: auto;
  }

  .contact form .row div {
    justify-content: center;
    align-items: center;
  }

  /* contact us */
  .contact-block {
    padding: 1em;
  }

  .contact-block h1 {
    padding-left: 0;
    text-align: center;
    margin-top: 40px;
  }

  /* .contact-block form .row div {
    padding: 1em;
    padding-top: 0;
  } */
  .contact-div-one input,
  .contact-div-two select,
  .contact-div-two textarea {
    padding: 1em;
    width: 100%
  }

  .contact {
    padding: 0;
  }

  .contact-div-two {
    margin-top: 1em;
  }

  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  /* .contact .contact-details .row {
    justify-content: center;
    ;
  }

  .contact .contact-details .contact-item {
    padding: 0.8em;
    width: 90%;
  } */
  .contact .contact-details .contact-item {
    padding: 0.8em;
    width: 90%;
  }

  .contact .contact-details {
    margin: 2em 0;
  }

  .map {
    margin-bottom: 1em;
    padding: 1em;
    margin-top: 0;
  }

  /* policy */
  .policy-content {
    padding: 1em;
    margin: 1em;
  }

  /* blog page */
  .blog-page {
    padding: 1em 1em;
  }

  /* lab test at home */
  .test-details h1 {
    text-align: center
  }

  .test-link {
    padding: 20px 1em !important;
    height: 600px !important;
  }

  /* footer */
  .brand,
  .rating,
  .govt-logos {
    width: 100%;
  }

  .brand p {
    width: 100%;
  }

  footer .first-row {
    padding: 4em 2em 1em 2em;
  }

  footer .second-row {
    padding: 4em 2em 1em 2em;
    padding-top: 0;
  }

  .govt-logos {
    gap: 0.2em;
    margin: 2em 0;
    justify-content: space-between;
  }

  .govt-logos img {
    height: 40px;
    width: auto;
  }

  .copyright ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.7em;
  }

  .copyright {
    padding: 1.2em;
  }

  .main-links,
  .drip-links,
  .test-links,
  .wellness-links {
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .main-links ul,
  .drip-links ul,
  .test-links ul,
  .wellness-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .ebook-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ebook-form {
    width: 100%;
  }

  .ebook-form form .form-input {
    width: 100%;
  }

  /* home page */
  .home {
    padding: 4em 1em;
  }

  .intro h1 {
    font-size: 3em;
    margin-top: 1em;
  }

  .intro p {
    width: 70%;
  }

  .count-box {
    /* flex-direction: column; */
    align-items: center;
    margin: 1em 0;
  }

  .count-box .count {
    justify-content: center;
  }

  .google-reviews,
  .google-review {
    width: 100%;
  }

  .google-review {
    padding: 1em
  }

  .why-choose-us-one {
    margin: 0 !important;
  }

  .why-choose-us .two div img {
    display: none;
  }

  .about-us-left {
    padding: 2em 3em;
    justify-content: center;
    align-items: center;
  }

  .about-us-left h1 {
    text-align: center;
  }

  .about-us-left p {
    text-align: center;
  }

  .services {
    padding: 1em;
  }

  .services a {
    margin: 0;
    padding: 0;
  }

  .services .service-card {
    width: 300px;
    height: 300px;
  }

  .intro p {
    font-size: 18px;
    width: 80%;
  }

  .intro {
    padding: 1em;
  }

  .intro .buttons button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .end-section {
    padding-top: 0;
  }

  .end-section button {
    font-size: 12px;
  }

  .end-section h1 {
    padding: 0 0.5em;
  }

  .why-choose-items {
    padding: 1em !important;
  }

  .why-choose-item {
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .why-choose-text {
    text-align: center;
  }

  .what-is h1 {
    text-align: center;
  }

  .what-is .bullet-points ul {
    padding: 0 3em;
  }

  .benefits-of-iv-list li {
    flex-direction: column !important;
  }

  .benefits-of-iv-list li p {
    text-align: center;
  }

  .bullet-points h2 {
    text-align: center;
  }

  .what-is .image {
    padding: 0 !important;
    padding-bottom: 1em !important;
  }

  .professional {
    padding: 1em;
  }

  .post-party {
    background-image: none !important;
    padding: 1em !important;
  }

  .title {
    padding: 1em !important;
    width: 100% !important;
    text-align: center !important;
    align-items: center;
  }

  .title p {
    width: 90% !important;
  }

  .symptoms-and-benefits {
    padding: 1em 2em 0 2em !important;
  }

  .symptom-box {
    width: 100% !important;
  }

  .benefit-box {
    width: 100% !important;
  }

  .ingredients {
    padding: 3em 2em 0 2em !important;
  }

  .ingredients h1 {
    text-align: center;
  }

  .ingredient-list {
    padding: 1em !important;
  }

  .hangover-drip-img {
    display: none !important;
  }

  .home-service-post-party>.row>div:nth-of-type(2) {
    padding: 0 3em !important;
    text-align: center !important;
  }

  .how-drip-works-left {
    padding: 2em 3em !important;
    text-align: center !important;
    align-items: center !important;
  }

  .how-drip-works-left h1 {
    margin: 20px 0 30px 0 !important;
  }

  .what-is-drip-section {
    padding: 0 2em !important;
  }

  .what-is-drip-section p,
  .what-is-drip-section h1 {
    margin: 1em 0 !important;
  }

  .home-service {
    text-align: center !important;
  }

  .home-service p {
    padding-bottom: 1em !important;
  }

  /* ensure positioning context */
  .navbar .nav-item.dropdown>.dropdown-menu {
    left: 0;
    right: auto;
    top: 100%;
  }

  .navbar .dropdown-menu {
    /* if some global CSS made it flex */
    flex-direction: column !important;
  }

  .navbar .dropdown-menu>li,
  .navbar .dropdown-menu .dropdown-item {
    display: block;
    /* force vertical list */
    width: 100%;
  }

  .navbar .navbar-brand .logo-desktop {
    height: 28px;
    width: auto;
  }

  .banner {
    height: 400px;
  }

  .talk-to-us .talk-to-us-right {
    display: none !important;
  }

  .review {
    padding: 1em !important;
    /* min-height: 400px; */
  }

  /* Header */
  #header {
    top: 2em;
    left: 1em;
    right: 1em;
  }

  .logo img {
    height: 28px;
  }

  .mobile-nav-button img {
    height: 26px;
  }

  .what-is-drip-section {
    padding: 0 2em !important;
  }

  .what-is-block .row>div {
    max-height: none !important;
  }

  .drip-page-image {
    display: none !important;
  }

  .what-is-drip-section .what-is-block .benefits-block {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 20px !important;
    padding: 20px !important;
  }

  .what-is-drip-section .what-is-block .row>img {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 0 !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .intro h1 {
    font-size: 3em;
    margin-top: 1em;
  }

  /* drips */
  .hangover-drip-img {
    overflow: visible;
  }

  /* contact us */
  .contact form .row div {
    justify-content: center;
    align-items: center;
  }

  /* contact us */
  .contact-block {
    padding: 1em;
  }

  .contact-block h1 {
    padding-left: 0;
    text-align: center;
  }

  /* .contact-block form .row div {
      padding: 1em;
      padding-top: 0;
    } */
  .contact-div-one input,
  .contact-div-two select,
  .contact-div-two textarea {
    padding: 1em;
    width: 100%
  }

  .contact {
    padding: 0;
  }

  .contact-div-two {
    margin-top: 1em;
  }

  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  /* .contact .contact-details .row {
      justify-content: center;
      ;
    }
  
    .contact .contact-details .contact-item {
      padding: 0.8em;
      width: 90%;
    } */
  .contact .contact-details .contact-item {
    padding: 0.8em;
    width: 90%;
  }

  .contact .contact-details {
    margin: 2em 0;
  }

  /* lab test at home */
  .test-details h1 {
    text-align: center
  }

  /* header */
  /* footer */
  .brand {
    width: 100%;
  }

  .govt-logos {
    width: 60%;
    justify-content: space-between;
  }

  .govt-logos img {
    height: 40px;
    width: auto;
  }

  .rating {
    width: 40%;
    padding-left: 20px;
  }

  footer .first-row {
    padding: 4em;
    padding-bottom: 1em;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .test-links,
  .wellness-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .main-links ul,
  .drip-links ul,
  .test-links ul,
  .wellness-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .social {
    justify-content: center;
    align-items: center;
  }

  footer .second-row {
    justify-content: center;
  }

  .two div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }

  .two div img {
    width: 60%;
    height: auto;
    border-radius: 15px;
  }

  .post-party {
    padding: 2em !important;
    background-image: none !important;
  }

  .title {
    width: 100% !important;
  }

  .title p {
    width: 100% !important;
  }

  .symptoms-and-benefits {
    padding: 3em 2em !important;
  }

  .symptom-box {
    width: 100% !important;
  }

  .benefit-box {
    width: 100% !important;
  }

  .ingredients {
    padding: 3em 2em !important;
  }

  .hangover-drip-img {
    padding-top: 0 !important;
    max-height: 600px !important;
  }

  .ingredients {
    text-align: center;
  }

  .how-drip-works-left {
    padding: 2em 3em !important;
  }

  /* about us */
  .count-box> :nth-child(2) {
    padding-left: 5px !important;
  }

  .count-box {
    gap: 10px !important;
  }

  .bullet-points h2 {
    text-align: center;
  }

  /* ensure positioning context */
  .navbar .nav-item.dropdown>.dropdown-menu {
    left: 0;
    right: auto;
    top: 100%;
  }

  .navbar .dropdown-menu {
    /* if some global CSS made it flex */
    flex-direction: column !important;
  }

  .navbar .dropdown-menu>li,
  .navbar .dropdown-menu .dropdown-item {
    display: block;
    /* force vertical list */
    width: 100%;
  }
}

/* Medium devices and  up*/
@media (min-width: 768px) and (max-width: 992px) {
  .two div img {
    display: none;
  }

  /* drips */
  .hangover-drip-img {
    overflow: visible;
  }

  .how-drip-works-left {
    padding: 2em 3em !important;
  }

  .how-drip-works-right {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-right: 1em;
  }

  .how-drip-works-right img {
    height: auto;
  }

  /* contact us */
  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  .contact .contact-details .contact-item {
    width: 45%;
  }

  .contact .contact-details .contact-item {
    margin-top: 1em;
  }

  .contact .contact-details {
    margin-left: 0;
  }

  /* footer */
  footer .first-row {
    padding: 4em 1em;
  }

  footer .first-row .govt-logos img {
    height: 40px;
    width: auto;
  }

  footer .brand p {
    width: 95%;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .test-links,
  .wellness-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  footer .second-row {
    justify-content: center;
  }

  .post-party {
    padding: 2em !important;
    background-image: none !important;
  }

  .title {
    width: 90% !important;
  }

  .title p {
    width: 100% !important;
  }

  .symptoms-and-benefits {
    padding: 3em 2em !important;
  }

  .symptom-box {
    width: 100% !important;
  }

  .benefit-box {
    width: 100% !important;
  }

  .hangover-drip-img {
    padding-top: 0 !important;
    max-height: 600px !important;
  }

  .ingredients {
    text-align: center;
  }

  .how-drip-works-right img {
    width: 350px;
  }

  /* about us */
  .count-box> :nth-child(2) {
    padding-left: 10px !important;
  }

  .count-box {
    gap: 20px !important;
  }

  /* ensure positioning context */
  .navbar .nav-item.dropdown>.dropdown-menu {
    left: 0;
    right: auto;
    top: 100%;
  }

  .navbar .dropdown-menu {
    /* if some global CSS made it flex */
    flex-direction: column !important;
  }

  .navbar .dropdown-menu>li,
  .navbar .dropdown-menu .dropdown-item {
    display: block;
    /* force vertical list */
    width: 100%;
  }

  /* home page */
  .about-us-right .image {
    display: none;
  }

  .about-us-left {
    padding: 4em;
  }

  .about-us-left h1,
  .about-us-left p {
    text-align: start;
  }

  .about-us-left a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .what-is-drip-section {
    padding: 0 1em !important;
  }

  .what-is-block .row>div {
    padding: 0 20px !important;
  }

  .benefits-block {
    padding: 0.5em;
  }

  .benefits-block h4 {
    font-size: 22px;
    padding-bottom: 10px !important;
  }

  .what-is-block ul {
    gap: 10px !important;
  }

  /* lab test at home */
  .test-link {
    padding: 20px 1em !important;
  }

  .home-service>.row>div:nth-of-type(2) {
    padding: 3em !important;
  }

  .title {
    padding: 0 !important;
  }
}

@media (min-width: 992px) and (max-width: 1210px) {
  footer .first-row {
    padding: 4em 3em;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .wellness-links,
  .test-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  footer .second-row {
    justify-content: center;
  }
}

@media (min-width: 991px) and (max-width: 1430px) {
  .book-now {
    display: none;
  }

  .logo img {
    height: 24px;
  }

  .menu a {
    font-size: 12px;
  }

  .menu {
    gap: 20px;
  }

  #header.scrolled {
    left: 1em;
    right: 1em;
  }
}

/* Header */
@media(max-width:991px) {

  /* #header {
    padding: 1em;
  } */
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mobile-nav-button {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    justify-content: start;
    align-items: start;
  }

  .dropdown-items {
    position: static;
    width: 100%;
    min-width: 0;
    white-space: normal;
    display: none;
    gap: 8px;
    background-color: var(--secondary);
  }

  /* .dropdown.open .dropdown-block .dropdown-items {
    display: flex;
  } */
  .dropdown-block {
    justify-content: start;
  }

  /* .dropdown.open .dropdown-block img {
    transform: rotate(180deg);
  } */
  .dropdown-block img {
    transition: transform 0.3s ease;
  }
}

@media(min-width:993px) and (max-width:1300px) {
  .what-is-block .row>div {
    width: 50% !important;
  }

  .what-is-drip-section {
    padding: 0 2em !important;
  }
}