/* @media (min-width: 1200px) {
  body {
    background: lightpink;
  }
}
@media (min-width: 1400px) {
  body {
    background: lightgray;
  }
} */
/* Small devices and up*/
@media (max-width: 577px) {

  /* header */
  .navbar .navbar-brand img {
    height: 20px;
    width: auto;
  }

  /* footer */
  footer .row div {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .row a img {
    height: 30px;
    width: auto;
  }

  /* contact us */
  .contact-block {
    padding: 1em;
  }

  .contact-block h1 {
    padding-left: 0;
    text-align: center;
  }

  .contact-block form .row div {
    padding: 1em;
  }

  .contact {
    padding: 2em;
  }

  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  .contact .contact-details .row {
    justify-content: center;
    ;
  }

  .contact .contact-details .contact-item {
    padding: 0.8em;
    width: 100%;
  }

  /* policy */
  .policy-content {
    padding: 1em;
    margin: 1em;
  }

  /* blog page */
  .blog-page {
    padding: 1em 1em;
  }

  /* lab test at home */
  .test-details h1 {
    text-align: center
  }

  /* footer */
  .brand,
  .rating,
  .govt-logos {
    width: 100%;
  }

  .brand p {
    width: 100%;
  }

  footer .first-row {
    padding: 4em 2em 1em 2em;
  }

  footer .second-row {
    padding: 0 0 2em 0;
  }

  .govt-logos {
    gap: 0.2em;
    margin: 2em 0;
    justify-content: space-between;
  }

  .govt-logos img {
    height: 40px;
    width: auto;
  }

  .copyright ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.7em;
  }

  .copyright {
    padding: 1.2em;
  }

  .main-links,
  .drip-links,
  .test-links {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-links ul,
  .drip-links ul,
  .test-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ebook-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ebook-form {
    width: 60%;
  }

  .ebook-form form .form-input {
    width: 100%;
  }

  /* home page */
  .home {
    padding: 4em 1em;
  }

  .intro h1 {
    font-size: 3em;
  }

  .intro p {
    width: 70%;
  }

  .count-box {
    flex-direction: column;
  }

  .why-choose-us .two div img {
    display: none;
  }

  .about-us-left {
    padding: 2em 3em;
  }

  .services p {
    padding: 0 2em;
  }

  .intro h1 {
    font-size: 2em;
  }

  .intro p {
    font-size: 18px;
    width: 80%;
  }

  .intro {
    padding: 1em;
  }

  .intro .buttons button {
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  /* contact us */
  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  .contact .contact-details .contact-item {
    width: 49%;
  }

  /* lab test at home */
  .test-details h1 {
    text-align: center
  }

  /* header */
  .nav-item.dropdown .dropdown-toggle-split {
    margin-left: 0;
  }

  /* footer */
  .brand {
    width: 100%;
  }

  .govt-logos {
    width: 60%;
    justify-content: space-between;
  }

  .govt-logos img {
    height: 40px;
    width: auto;
  }

  .rating {
    width: 40%;
    padding-left: 20px;
  }

  footer .first-row {
    padding: 4em;
    padding-bottom: 1em;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .test-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .main-links ul,
  .drip-links ul,
  .test-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .social {
    justify-content: center;
    align-items: center;
  }

  footer .second-row {
    justify-content: center;
  }
}

/* Medium devices and  up*/
@media (min-width: 768px) and (max-width: 992px) {

  /* contact us */
  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  .contact .contact-details .contact-item {
    width: 45%;
  }

  /* header */
  .nav-item.dropdown .dropdown-toggle-split {
    margin-left: 0;
  }

  /* footer */
  footer .first-row {
    padding: 4em 1em;
  }

  footer .first-row .govt-logos img {
    height: 40px;
    width: auto;
  }

  footer .brand p {
    width: 95%;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .test-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  footer .second-row {
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1210px) {
  .nav-link {
    font-size: 12px;
  }

  .navbar-brand img {
    height: 28px;
    width: auto;
  }

  #header .book-now {
    display: none;
  }

  footer .first-row {
    padding: 4em 3em;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .test-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  footer .second-row {
    justify-content: center;
  }
}