/* @media (min-width: 1200px) {
  body {
    background: lightpink;
  }
}
@media (min-width: 1400px) {
  body {
    background: lightgray;
  }
} */
/* Small devices and up*/
@media (min-width: 576px) {}

/* Medium devices and  up*/
@media (min-width: 768px) {}

/* Large devices and up */
@media (min-width: 992px) {}