/* @media (min-width: 1200px) {
  body {
    background: lightpink;
  }
}
@media (min-width: 1400px) {
  body {
    background: lightgray;
  }
} */
/* Small devices and up*/
@media (max-width: 577px) {

  /* drips */
  .head ul li i {
    display: none !important;
  }

  .hangover-drip-img {
    overflow: visible;
  }

  /* .drip-block .drip-box {
    flex-direction: column !important;
  }

  .drip-box .drip-img {
    height: auto !important;
  } */
  /* faqs */
  .faqs .row {
    margin: 0 !important;
  }

  /* about us */
  .about-hca .row-one h1 {
    padding: 0 !important;
  }

  .about-hca .row-two {
    padding: 0 !important;
    justify-content: center !important;
  }

  .count-box {
    display: none !important;
  }

  .mission p,
  .vision p {
    width: 100% !important;
  }

  .philosophy h1,
  .operate h1 {
    text-align: center !important;
    width: 100% !important;
  }

  .philosophy p,
  .operate p {
    width: 100% !important;
  }

  .our-services p {
    width: 100% !important;
  }

  .our-services>.row>div {
    padding: 0 1em !important;
  }

  .our-services {
    padding: 1.2em !important;
  }

  .our-services .image img {
    display: none !important;
  }

  .discover-btn {
    display: flex;
    justify-content: center;
  }

  /* header */
  .navbar .navbar-brand img {
    height: 20px;
    width: auto;
  }

  .nav-item.dropdown .dropdown-toggle-split {
    margin-left: 6px;
  }

  /* footer */
  footer .row div {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .row a img {
    height: 30px;
    width: auto;
  }

  /* contact us */
  .contact-block {
    padding: 1em;
  }

  .contact-block h1 {
    padding-left: 0;
    text-align: center;
  }

  .contact-block form .row div {
    padding: 1em;
  }

  .contact {
    padding: 2em;
  }

  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  .contact .contact-details .row {
    justify-content: center;
    ;
  }

  .contact .contact-details .contact-item {
    padding: 0.8em;
    width: 100%;
  }

  /* policy */
  .policy-content {
    padding: 1em;
    margin: 1em;
  }

  /* blog page */
  .blog-page {
    padding: 1em 1em;
  }

  /* lab test at home */
  .test-details h1 {
    text-align: center
  }

  /* footer */
  .brand,
  .rating,
  .govt-logos {
    width: 100%;
  }

  .brand p {
    width: 100%;
  }

  footer .first-row {
    padding: 4em 2em 1em 2em;
  }

  footer .second-row {
    padding: 0 0 2em 0;
  }

  .govt-logos {
    gap: 0.2em;
    margin: 2em 0;
    justify-content: space-between;
  }

  .govt-logos img {
    height: 40px;
    width: auto;
  }

  .copyright ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.7em;
  }

  .copyright {
    padding: 1.2em;
  }

  .main-links,
  .drip-links,
  .test-links {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-links ul,
  .drip-links ul,
  .test-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ebook-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ebook-form {
    width: 60%;
  }

  .ebook-form form .form-input {
    width: 100%;
  }

  /* home page */
  .home {
    padding: 4em 1em;
  }

  .intro h1 {
    font-size: 3em;
  }

  .intro p {
    width: 70%;
  }

  .count-box {
    /* flex-direction: column; */
    align-items: center;
    margin: 1em 0;
  }

  .count-box .count {
    justify-content: center;
  }

  .why-choose-us .two div img {
    display: none;
  }

  .about-us-left {
    padding: 2em 3em;
  }

  .about-us-left h1 {
    margin-top: 1em;
  }

  .services {
    padding: 1em;
  }

  .services p {
    padding: 0 2em;
  }

  .services a {
    margin: 0;
    padding: 0;
  }

  .intro h1 {
    font-size: 2em;
  }

  .intro p {
    font-size: 18px;
    width: 80%;
  }

  .intro {
    padding: 1em;
  }

  .intro .buttons button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .end-section {
    padding-top: 0;
  }

  .end-section button {
    font-size: 12px;
  }

  .end-section h1 {
    padding: 0 0.5em;
  }

  .why-choose-items .item {
    flex-direction: column;
  }

  .what-is h1 {
    text-align: center;
  }

  .bullet-points h2 {
    text-align: center;
  }

  .professional {
    padding: 1em;
  }

  .post-party {
    padding: 5em 2em !important;
    padding-bottom: 0 !important;
  }

  .title p {
    width: 100% !important;
  }

  .symptoms-and-benefits {
    padding: 3em 2em !important;
  }

  .symptom-box {
    width: 100% !important;
  }

  .benefit-box {
    width: 100% !important;
  }

  .ingredients {
    padding: 3em 2em !important;
  }

  .hangover-drip-img {
    padding-top: 0 !important;
    max-height: 600px !important;
  }

  .how-drip-works-left {
    padding: 2em 3em !important;
  }

  .what-is-drip-section {
    padding: 0 2em !important;
  }

  /* ensure positioning context */
  .navbar .nav-item.dropdown>.dropdown-menu {
    left: 0;
    right: auto;
    top: 100%;
  }

  .navbar .dropdown-menu {
    /* if some global CSS made it flex */
    flex-direction: column !important;
  }

  .navbar .dropdown-menu>li,
  .navbar .dropdown-menu .dropdown-item {
    display: block;
    /* force vertical list */
    width: 100%;
  }

  .banner {
    height: 400px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  /* drips */
  .hangover-drip-img {
    overflow: visible;
  }

  /* contact us */
  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  .contact .contact-details .contact-item {
    width: 49%;
  }

  /* lab test at home */
  .test-details h1 {
    text-align: center
  }

  /* header */
  .nav-item.dropdown .dropdown-toggle-split {
    margin-left: 0;
  }

  .nav-item.dropdown .dropdown-toggle-split {
    margin-left: 6px;
  }

  /* footer */
  .brand {
    width: 100%;
  }

  .govt-logos {
    width: 60%;
    justify-content: space-between;
  }

  .govt-logos img {
    height: 40px;
    width: auto;
  }

  .rating {
    width: 40%;
    padding-left: 20px;
  }

  footer .first-row {
    padding: 4em;
    padding-bottom: 1em;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .test-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .main-links ul,
  .drip-links ul,
  .test-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .social {
    justify-content: center;
    align-items: center;
  }

  footer .second-row {
    justify-content: center;
  }

  .two div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }

  .two div img {
    width: 60%;
    height: auto;
    border-radius: 15px;
  }

  .post-party {
    padding: 5em 2em !important;
    padding-bottom: 0 !important;
  }

  .title p {
    width: 100% !important;
  }

  .symptoms-and-benefits {
    padding: 3em 2em !important;
  }

  .symptom-box {
    width: 100% !important;
  }

  .benefit-box {
    width: 100% !important;
  }

  .ingredients {
    padding: 3em 2em !important;
  }

  .hangover-drip-img {
    padding-top: 0 !important;
    max-height: 600px !important;
  }

  .ingredients {
    text-align: center;
  }

  .how-drip-works-left {
    padding: 2em 3em !important;
  }

  /* about us */
  .count-box> :nth-child(2) {
    padding-left: 5px !important;
  }

  .count-box {
    gap: 10px !important;
  }

  .bullet-points h2 {
    text-align: center;
  }

  /* ensure positioning context */
  .navbar .nav-item.dropdown>.dropdown-menu {
    left: 0;
    right: auto;
    top: 100%;
  }

  .navbar .dropdown-menu {
    /* if some global CSS made it flex */
    flex-direction: column !important;
  }

  .navbar .dropdown-menu>li,
  .navbar .dropdown-menu .dropdown-item {
    display: block;
    /* force vertical list */
    width: 100%;
  }
}

/* Medium devices and  up*/
@media (min-width: 768px) and (max-width: 992px) {

  /* drips */
  .hangover-drip-img {
    overflow: visible;
  }

  .how-drip-works-left {
    padding: 2em 3em !important;
  }

  /* contact us */
  .contact form select {
    width: 100%;
    margin-top: 1em;
  }

  .contact .contact-details .contact-item {
    width: 45%;
  }

  /* header */
  .nav-item.dropdown .dropdown-toggle-split {
    margin-left: 0;
  }

  .nav-item.dropdown .dropdown-toggle-split {
    margin-left: 6px;
  }

  /* footer */
  footer .first-row {
    padding: 4em 1em;
  }

  footer .first-row .govt-logos img {
    height: 40px;
    width: auto;
  }

  footer .brand p {
    width: 95%;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .test-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  footer .second-row {
    justify-content: center;
  }

  .post-party {
    padding: 5em 2em !important;
    padding-bottom: 0 !important;
  }

  .title p {
    width: 100% !important;
  }

  .symptoms-and-benefits {
    padding: 3em 2em !important;
  }

  .symptom-box {
    width: 100% !important;
  }

  .benefit-box {
    width: 100% !important;
  }

  .hangover-drip-img {
    padding-top: 0 !important;
    max-height: 600px !important;
  }

  .ingredients {
    text-align: center;
  }

  .how-drip-works-right img {
    width: 350px;
  }

  /* about us */
  .count-box> :nth-child(2) {
    padding-left: 10px !important;
  }

  .count-box {
    gap: 20px !important;
  }

  /* ensure positioning context */
  .navbar .nav-item.dropdown>.dropdown-menu {
    left: 0;
    right: auto;
    top: 100%;
  }

  .navbar .dropdown-menu {
    /* if some global CSS made it flex */
    flex-direction: column !important;
  }

  .navbar .dropdown-menu>li,
  .navbar .dropdown-menu .dropdown-item {
    display: block;
    /* force vertical list */
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1210px) {
  .nav-link {
    font-size: 12px;
  }

  .navbar-brand img {
    height: 28px;
    width: auto;
  }

  #header .book-now {
    display: none;
  }

  footer .first-row {
    padding: 4em 3em;
  }

  footer .second-row {
    padding: 2em;
    padding-top: 0;
    align-items: start;
  }

  .main-links,
  .drip-links,
  .test-links,
  .ebook-block {
    width: 40%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  footer .second-row {
    justify-content: center;
  }
}