#header:hover {
  background-color: var(--primary);
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu a {
  text-transform: uppercase;
  color: white;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.dropdown-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dropdown-block img {
  transition: transform 0.5s ease;
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary);
  gap: 10px;
  width: max-content;
  min-width: 100%;
  white-space: nowrap;
  padding: 1em;
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-items:hover {
  color: grey
}

.dropdown.open .dropdown-items {
  display: flex;
}

.dropdown.open .dropdown-block img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@media (hover: hover) and (min-width: 992px) {

  .dropdown:hover .dropdown-items,
  .dropdown-items:hover {
    display: flex;
  }

  .dropdown:hover .dropdown-block img {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
  }
}