
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0;	padding: 0;	border: 0; vertical-align: baseline;list-style: none;}
* { box-sizing: border-box;}
a:focus,button:focus,input:focus,textarea:focus { outline:0; text-decoration:none;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; -webkit-font-smoothing:antialiased; margin-bottom:15px; color:#000000; line-height: normal;}
h1 { font-size:60px; line-height: 65px; font-family: var(--font1);}
h2 { font-size: 45px; font-family: var(--font1);}
h3 { font-size:36px;}
h4 { font-size:30x; line-height: 28px;}
h5{font-size: 25px;}
p{font-family: 'Quattrocento', serif; font-size: 17px; line-height:32px;}

a { color:#018aff; text-decoration:none; transition:all ease-out .3s; -webkit-transition:all ease-out .3s; -moz-transition:all ease-out .3s;-ms-transition:all ease-out .3s; -o-transition:all ease-out .3s;}
a:hover { text-decoration:none;color:#3ba4ff;}
label { font-weight:400;margin:0;}
li,ol,ul { list-style:none; margin:0; padding:0;}
focus { outline:0;}
textarea{resize: none;}


/*========================== Color styles ========================*/
:root {
    --color1:#f3e9dc;
    --color2:#c99669;
    --color3:#568259;
    --color4:#14342b;
    --balck:#000000;
    --white:#ffffff;
    --font1:'Source Serif 4', serif;
    --font2:'Quattrocento', serif;
  }


/*========================== Commen styles ========================*/
.green-text-color{color: var(--color3);}
.green-bg{background: var(--color3);}
.no-pace{padding: 0px;}
.small-text{font-size: 12px;}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--color3);
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover::before, .hvr-sweep-to-right:focus::before, .hvr-sweep-to-right:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .hvr-underline-from-left:hover::before, .hvr-underline-from-left:focus::before, .hvr-underline-from-left:active::before {
    right: 0;
  }

.primary-btn{padding: 6px 25px; border: none; font-family: var(--font2); font-weight: 600; background-color: var(--color3); color: var(--white);}


.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color2);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover::before, .hvr-sweep-to-right:focus::before, .hvr-sweep-to-right:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  section{padding: 60px 0;} 


.top-head { display: block;  background: var(--color1) url(../img/logo-patterns.png) no-repeat 0px 0px;}
.header-outer{width: 100%;}
ul.info-hed {float: right;}
ul.info-hed li{ display: inline-block; margin-right:25px;}
ul.info-hed li a{font-size: 22px; font-weight: 600; font-family: var(--font1); color:var(--balck); font-weight: normal; display:flex; padding-bottom: 10px;}
ul.info-hed li:last-child{margin-right: 0px;}
ul.info-hed li a span{width: 42px; height: 42px; border-radius: 100%; background: #000; display: flex; margin-right:20px; justify-content: center;}
ul.info-hed li a span img{width:17px;}
ul.info-hed li:nth-child(1) a span{background: var(--color2);}
ul.info-hed li:nth-child(2) a span{background: var(--color3);}
ul.info-hed li:nth-child(1) a:hover span{background: var(--color3);}
ul.info-hed li:nth-child(2) a:hover span{background: var(--color2);}

.banner-outer{background: url(../img/banner-img.png) no-repeat 40% 0; height: auto; padding: 0px 0 35px 0;}
.banner-inner h1{color: var(--color3);}
.banner-inner h1 span{display: block;}
.banner-inner h4{color: var(--color2); font-family: var(--font2); margin: 20px 0 20px 0;}

ul.banner-list li{display: flex; align-items:center; margin-bottom: 20px; font-weight: 400;}
ul.banner-list li:last-child{margin-bottom: 0px;}
ul.banner-list li span{background: var(--white); width: 65px; height:65px; border-radius: 100%; margin-right:20px; align-items:center; display: flex; justify-content: center;}
ul.banner-list li i{display: block; font-style: normal;}
ul.banner-list li span img{width:42px;}
.banner-text{margin:45px 0 0 0;}

.form-block{background: var(--white); padding:30px; margin: 40px 0 0 0;}
.form-block h3{color: var(--color2); font-size: 25px;font-family: var(--font1);}
.form-block input{height: 50px; font-size: 14px; border: none;background: rgb(255,251,245);
    background: linear-gradient(180deg, rgba(255,251,245,0.9220063025210083) 0%, rgba(243,233,221,0.8239670868347339) 100%);}
.form-block textarea{border: none;background: rgb(255,251,245);
    background: linear-gradient(180deg, rgba(255,251,245,0.9220063025210083) 0%, rgba(243,233,221,0.8239670868347339) 100%); font-size: 14px;height:120px;}
 .iv-vitamin-text{margin: 90px 0 0 0 ;}
 .iv-vitamin-text b{ font-size:27px; font-family: var(--font2);}   


 .advantages-block h2{color: var(--white);}
 .advantages-block p{color: var(--white);}
 .advantages-img{background-size: cover !important; height:700px;}
 .advantages-block h4{font-family: var(--font2); color: var(--white);}

 .advantages-contant{margin: 50px 0 0 0;}
.iv-therapy-slider{position: absolute; width: 1000px;}
.iv-therapy-slider .item{background: var(--white); padding: 10px; text-align: center;-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; height: 200px;}
.iv-therapy-slider .item h6{text-transform: uppercase; font-weight: 500; font-size: 14px; font-family: var(--font2); line-height: 22px;}
.iv-therapy-slider .item span{border-radius: 100%; background-color: var(--color1); display: flex; align-items: center; width: 105px; height: 105px; justify-content: center; margin: 0px auto 15px;}
.iv-therapy-slider .item span img{width:60px;}


.iv-drip h2{color: var(--color3);}

.iv-therapy-slider .owl-nav { display: block; position: absolute; bottom: -40px; width: 100%; height: 100%;}
.iv-therapy-slider .owl-nav button { width: 40px; height: 40px; border-radius: 100%; border: 2px solid #ac6d42; color: #ac6d42; font-size: 36px; background:url(../img/carosel-arrow.svg) no-repeat; background-size: 13px; position: absolute; bottom:0; transition: all ease-out 0.3s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}

.iv-therapy-slider .owl-nav button.owl-prev { left: 0; transform: rotate(180deg);border: 1px solid var(--tangerine); background: url(../img/carosel-arrow.svg) no-repeat center #fff; background-size:7px;}
.iv-therapy-slider .owl-nav button.owl-next { left:50px; transform: rotate(-0deg);border: 1px solid var(--tangerine); background: url(../img/carosel-arrow.svg) no-repeat center #fff; background-size:7px;}
.iv-therapy-slider .owl-stage-outer { position: relative; z-index: 2;}
.iv-therapy-slider .owl-nav button:hover { border-color: #edada1; background-color: var(--color2);}

.iv-drip-slider .item{background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(243,233,221,1) 100%); padding: 25px; text-align: center;}

  .iv-drip-slider .item .in{background: url(../img/logo-patterns2.png) no-repeat top;}
  .iv-drip-slider .item img{width: auto; margin: 0px auto;}
  .iv-drip-slider .item h5{font-family: var(--font2); margin-top: 20px;}



  .iv-drip-slider .owl-nav { display: block; position: absolute; bottom: 50%; width: 100%; height: 100%;}
  .iv-drip-slider .owl-nav button { width: 40px; height: 40px; border-radius: 100%; border: 2px solid #ac6d42; color: #ac6d42; font-size: 36px; background:url(../img/carosel-arrow.svg) no-repeat; background-size: 13px; position: absolute; bottom:0; transition: all ease-out 0.3s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}

  .iv-drip-slider .owl-nav button.owl-prev { left: -70px; transform: rotate(180deg);border: 1px solid var(--tangerine); background: url(../img/carosel-arrow.svg) no-repeat center var(--color1); background-size:7px;}
  .iv-drip-slider .owl-nav button.owl-next { right:-70px; transform: rotate(-0deg);border: 1px solid var(--tangerine); background: url(../img/carosel-arrow.svg) no-repeat center var(--color1); background-size:7px;}
  .iv-drip-slider .owl-stage-outer { position: relative; z-index: 2;}
  .iv-drip-slider .owl-nav button:hover { border-color: #edada1; background-color: var(--color3);}

  .health-careebia{background: var(--color1) url(../img/logo-patterns.png) no-repeat right;}
  .health-careebia h2{color: var(--color3);}
  .health-careebia .text-block{margin:85px 0 0 0;}

  .points h2{color: var(--color3);}
  .points-block{text-align: center; margin: 0px auto; position: relative;}
  .points-block span{border:1px solid var(--color3); border-radius: 100%; width: 120px; height:120px; display: flex; justify-content:center; align-items: center; margin: 0px auto 20px;}
  .points-block span img{width:40px;}
  .points-block span:after{content: ""; background: url(../img/dot.png) no-repeat; width: 68px; height: 8px; position: absolute;right: -40px;}
  .no-after span:after{display:none !important;}

  .testimonies{background: url(../img/logo-patterns-3.png) no-repeat left, var(--color3);}
  .testimonies h2{color: var(--white);}
.testimonies-slider .video-block{-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; background: #000; height: 449px; background-size: cover !important; position: relative; overflow: hidden;}
.testimonies-slider .video-block .play-btn{width: 84px; height: 84px; background: #ffffffa6; border-radius: 100%; display: block; display: flex; justify-content: center; align-items: center;} 
.testimonies-slider .video-block .play-btn img{width: 20px;} 
.testimonies-slider .video-block .play-btn:hover{background: var(--white);}
.testimonies-slider .title-text{position: absolute; bottom: 20px; left: 20px; display: flex; justify-content: center; align-items: center;}
.testimonies-slider .title-text span{border-radius: 100%; overflow: hidden; width:70px; height: 70px; margin-right: 15px; }
.testimonies-slider .title-text h6{color:var(--white); font-weight: 600; font-size:18px;}
.testimonies-slider .overview{background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3981967787114846) 100%); display: flex; justify-content: center; align-items: center;padding: 20px;
height: 100%;
}



.testimonies-slider .owl-nav { display: block; position: absolute; bottom: 50%; width: 100%; height: 100%;}
.testimonies-slider .owl-nav button { width: 40px; height: 40px; border-radius: 100%; border: 2px solid #ac6d42; color: #ac6d42; font-size: 36px; background:url(../img/carosel-arrow.svg) no-repeat; background-size: 13px; position: absolute; bottom:0; transition: all ease-out 0.3s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}

.testimonies-slider .owl-nav button.owl-prev { left: -70px; transform: rotate(180deg);border: 1px solid var(--tangerine); background: url(../img/carosel-arrow.svg) no-repeat center var(--color1); background-size:7px;}
.testimonies-slider .owl-nav button.owl-next { right:-70px; transform: rotate(-0deg);border: 1px solid var(--tangerine); background: url(../img/carosel-arrow.svg) no-repeat center var(--color1); background-size:7px;}
.testimonies-slider .owl-stage-outer { position: relative; z-index: 2;}
.testimonies-slider .owl-nav button:hover {  background-color:var(--color3); border: 1px solid var(--color1);}

footer{background:url(../img/logo-patterns3.png) center no-repeat var(--color2); padding: 60px 0 0 0;}
footer h3{font-family: var(--font2); color: var(--white);}

ul.footer-list span{border: 100%; width: 65px; height:65px; border: 2px solid var(--white); display: flex; border-radius: 100%; margin-right:20px; color: var(--white);display: flex; justify-content: center; align-items: center;}
ul.footer-list li{display: flex; align-items: center; font-weight: 600; color: var(--white); font-family: var(--font2); margin-bottom: 15px;}

.footer-form{margin-top: -110px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);}

ul.footer-list2 li a{color: var(--white); font-family: var(--font2); font-size: 20px; background: url(../img/dot.svg) no-repeat left;padding: 0 0 0 25px; }
ul.footer-list2{margin:50px 0 0 20px;}
ul.footer-list2 li{margin: 15px 0; }

ul.social-media{margin: 30px 0 0 20px;}
ul.social-media li{display: inline-block; margin-right: 10px;}
ul.social-media li a{background:var(--white); border-radius: 100%; width: 45px; height: 45px; display: flex;justify-content: center;
align-items: center;}
ul.social-media li a:hover{background: var(--color1); border: 2px  solid var(--color1);}
ul.social-media li a img{width: 20px; height: 20px;}

.fot-btn{background: #C28B5D; padding: 10px 0; margin:60px 0 0 0 ; color:var(--white);}


.whatsapp-icon { position: fixed; z-index: 9999; bottom: 5%; right: 3%;}
ul.banner-list li b {font-size: 11px; font-weight: 300; background: var(--color2); padding: 3px; color: var(--white);}

