

@media (min-width: 1401px) {
  .container { max-width: 1250px;}
}

/* ==========================================================================
    (Medium Desktop, 1400px and up)*
    ========================================================================== */
@media (max-width: 1400px) {
   .hero-special { margin-top: 5%;}
   .header-right li { margin-left: 40px;}
   .header-right li a.link { font-size: 22px;}
   .banner h1 { font-size: 60px;}
   .banner h3 { font-size: 30px;}
   .hero-special li p { font-size: 15px;}
   .skin-brightening{background-position: -100px 0 !important;}
}
 
 
/* ==========================================================================
   *Medium devices (tablets, 1200px and down)*
   ========================================================================== */
@media (max-width: 1200px) {
   .testimonial { min-height: 400px;}
   .testi-body { padding: 20px;}
   .iv-item { padding: 0 0 15px 0;}
   .iv-item .drip { max-width: 250px; position: static; display: block; margin: auto;}
   .iv-item .drip img { display: inline-block;}
   .iv-item-cont { padding: 25px; margin: 0;}

   .header { padding: 15px;}
   .header-right li a.link { font-size: 20px;}
   .header-right li a.primary-btn { font-size: 18px; padding: 18px 30px;;}
}
 
 
/* ==========================================================================
   *Medium devices (tablets, 991px and down)*
   ========================================================================== */
 @media (max-width: 991px) {
   h1 { font-size: 40px;}
   h2 { font-size: 36px;}

   .main-menu { display:none;}
   .mobile-menu { display:block; background:#000000; position: relative; z-index: 9;}
   .mobile-menu a.menu-toggle { display:block; z-index:1;  top: -66px; right:10px;}
   .mobile-menu ul.menu-list{display:none;}
   .mobile-menu > ul > li > span { display:none;}
   .mobile-menu > ul.menu-list > li > a.login { color: #fff; display:block; width:100%; font-size: 14px; text-transform: uppercase; padding: 8px 0; background:none; display: inline-block; line-height: normal; position: relative;  top:0px;  border-radius: 0px;}
   .mobile-menu > ul > li > a.active { color: #fff;}
   .header-right { margin-right: 50px;}
   .mobile-menu > ul.menu-list { padding: 10px 0;}
   .mobile-menu > ul > li > a { font-size: 14px; text-transform: uppercase;}
   .mobile-menu ul.menu-list > li > ul > li > a { font-size: 14px;}

   /* Menu Second Level 21-01-2021 */
   .mobile-menu ul.menu-list > li > ul{padding: 0;}
   .mobile-menu ul.menu-list > li > ul > li >ul{ display:none; background: #505050; padding: 0;}
   .mobile-menu ul.menu-list > li > ul > li >ul >li>a{font-size: 14px;}
   /* Menu Second Level END 21-01-2021 */

   .mega-drop { padding: 0 15px; position: relative; z-index: 3; left: inherit !important; top: inherit !important; right: inherit !important; bottom: inherit !important; width: 100% !important; display: none;  opacity: 1; transform: scale(1); pointer-events: auto; background: #1b1a1a; border-radius: 0px;}
   .mobile-menu ul > li > a { font-weight: 400;}
   .drop-links > li > a { font-size: 14px;}
   .drop-links li a:before { position: static; display: inline-block; margin-right: 20px;}
   
   .logo { max-width: 75px;}
   .header-right { margin-right: 0;}
   .header-right li a.link { font-size: 18px;}
   .header-right li { margin-left: 24px;}
   .header-right li a.primary-btn { font-size: 16px; padding: 15px 27px;}
   .hero-special li { padding: 0 10px;}
   .hero-special li .icon { position: static;}
   
   .banner h1 { font-size: 50px;}
   .banner h3 { font-size: 24px;}
   .infusion-therapy { padding-top: 50px;}
   .infusion-head h2 { margin-bottom: 15px;}
   .infusion-head h5 { font-size: 18px; margin-bottom: 15px;}
   .infusion-head p { margin-bottom: 20px;}
   .infusion-item { padding: 0 6px; padding-bottom: 10px;}
   .infusion-item h5 { font-size: 18px; line-height: 24px;}
   .infusion-carosel { margin-top: 35px;}
   .iv-therapy { padding: 50px 0;}
   .iv-therapy .commen-head { padding-bottom: 5px;}
   .iv-item-cont h3 { font-size: 20px; line-height: 26px;}
   .commen-list li { padding-left: 18px;}

   .why-choose-us { padding: 50px 0;}
   .why-choose-box p { line-height: 26px;}
   .why-choose-box { padding-top: 65px;}
   .how-it-work { padding: 50px 0;}
   .how-it-work h2 { margin-bottom: 0 !important;}
   .how-it-list li { width: 23%;}
   .how-it-list li,
   .how-it-list li:first-child, .how-it-list li:last-child { margin-top: 25px;}
   .how-it-list::before { display: none;}
   .how-it-list li .icon { width: 102px; height: 102px; margin-bottom: 15px;}
   .testimonial-block { padding: 50px 0;}
   .our-gallery { padding: 50px 0;}
   .footer-right { margin-top: 25px;}
   .social-media { padding: 0; margin-bottom: 20px;}
   .copy-right { margin-bottom: 0;}
   .footer { padding: 50px 0;}
   .social-media a { width: 48px; height: 48px;}
   .footer-contact li { margin-bottom: 15px;}

   .header { padding: 10px 0;}
   .banner-main { position: relative; z-index: 3;}
   .hero-special { margin-top: 35px;}
   .hero-special li { width: 25%;}
   .banner h3 { font-size: 18px;}
   .hero-special li { text-align: center; margin-bottom: 20px;}
   .header-right li { margin-left: 15px;}
   .banner-video { height: 75vh;}
   .hero-special li p { font-size: 14px; line-height: 24px;}

   .header-right li .primary-btn { border: 1px solid var(--white); background: none;}
   .header-right li .primary-btn:hover { background: var(--white); color: var(--primary-hover);}
   .how-it-list li .icon .step { display: block;}
   .how-it-list li .icon::before { display: block;}


   .new-banner {
      background: url(../img/banner-img.jpg) no-repeat center top !important;
      height: auto;
      position: relative;
    }



    .new-banner .banner-text {
      margin: 0px auto;
      text-align: center;
    }
    .new-banner .hero-special {
      margin-top: 20px;
      padding-bottom: 20px;
      padding: 0px;
    }

    .new-banner{ background: url(../img/mobile-banner1.png) no-repeat center top !important;}
    .banner-contant-mob{padding-bottom:25px  !important;}
    .new-banner .form-input{height: 40px;}
    .form-textarea{height: 90px;}

    .new-banner .contact-form{border-radius: 10px !important;}


    .skin-brightening, .limited-offer{padding: 40px 0;}
    

 }
 


 

 
/* ==========================================================================
   *Small devices (landscape phones, less than 768px)*
   ========================================================================== */ 
@media (max-width: 767px) {
  h1 { font-size: 36px !important;}
  h2 { font-size: 30px !important;}

  .logo { max-width: 85px;}
  .header-right { position: relative; align-items: center;}
  .header-right li a.link { font-size: 0px; width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; border-radius: 100%; border: 1px solid #ffffff;}
  .header-right li a.link i { font-size: 16px;}
  .header-right li a.primary-btn { padding: 12px 20px; font-size: 15px;}
  .contact-form-block .contact-form h4 { font-size: 28px;}
  .banner { background: var(--white);}
  .banner-video { height: 65vh;}
  .how-it-list { justify-content: center;}
  .how-it-list li { width: 32%;}

  .hero-special { justify-content: center; margin-top: 10px; display: flex; flex-wrap: wrap; padding: 0 15px; gap: 15px;}
  .hero-special li { width: 48%; background: #ffffff; box-shadow: 0 2px 3px 0 #00000012; padding: 15px; padding-bottom: 25px; margin: 0; border-radius: 10px;}
  .header-right li .primary-btn { padding: 12px 20px;}
  .hero-special li .icon { width: 80px; height: 80px; display: flex; justify-content: center; align-items: center; margin: auto; margin-bottom: 10px;}
  .hero-special li .icon img { max-height: 50px; max-width: 50px;}
  .hero-special li p { font-size: 13px; line-height: 20px; color: var(--black);}
  .hero-special li p span { color: var(--black);}
  .hero-special li .off-ribbon { color: var(--white); background: var(--primary-color);}
  .infusion-item h5 { font-size: 16px; line-height: 20px;}

  .how-it-list li .icon { width: 85px; height: 85px; border-width: 1px;}
  .how-it-list li .icon img { max-width: 40px; max-height: 40px;}
  .why-choose-box .icon { width: 85px; height: 85px; border-width: 1px;}
  .why-choose-box .icon img { max-width: 40px; max-height: 50px;}
  .social-media a { width: 40px; height: 40px; margin-right: 13px;}
  .social-media a i { font-size: 18px;}
  .footer-contact li a { font-size: 14px;}

  .infusion-therapy,
  .iv-therapy,
  .why-choose-us { background-position: center top !important;}
  .how-it-list li .icon::before { left: -41px;}

  .limited-offer-in h3,   .limited-offer-in h4 {
   font-size: 18px;
 }
 .skin-brightening h3, .card-style2 h3 {
   font-size:30px;
 }
 .item-center h5 {
   font-size: 18px;
   line-height: 25px;
 }
 .infusion-therapy h3{font-size: 25px;}

 .card-style2 h3 {
  margin-top: 0px;
}
.hangover-bg {
  background-position: bottom right !important;
  background-size: 630px !important;
  padding-bottom: 160px;
}

}

/* ==========================================================================
   *Extra small devices (portrait phones, less than 576px)*
   ========================================================================== */ 
@media (max-width: 575px) {
   .iv-item .drip { max-width: 170px;}
   .why-choose-us h2 { text-align: center;}
   .why-choose-box .icon { position: static; margin: auto; margin-bottom: 15px;}
   .why-choose-box { padding: 25px; text-align: center;}
   .margin-top { margin-top: 20px;}
   
  /* .header .container { display: block;} */
  .logo { display: block;}
  .header-right { padding: 0; align-items: end;}
  .header-right li a.primary-btn { position: static;}
  .header-right li a.link { width: 40px; height: 40px;}
  .logo { max-width: 66px;}
  .hero-special li { width: 47%;}
  .why-choose-box { padding: 20px;}
}


/* ==========================================================================
   *Extra small devices (portrait phones, less than 480px)*
   ========================================================================== */ 
@media (min-width:320px) and (max-width:480px) { 
   /* .hero-special li { width: 100%;} */
   .hero-special li { padding: 0 8px;}
   .how-it-list { max-width: 290px;}
   .how-it-list li { width: 50%; max-width: 100%;}
   .how-it-list li:nth-child(odd) .icon::before { display: none;}
   .how-it-list li .icon::before { left: -45px;}
   .how-it-list li p { font-size: 14px; line-height: 20px;}
   .play-btn { position: absolute; right: 15px; bottom: 15px;}
   .contact-form { padding: 20px;}
   .contact-form .primary-btn { padding: 15px 30px;}
   .footer-right h4 { margin-bottom: 20px;}
   .hero-special li .off-ribbon { padding: 2px 5px;}
   .hero-special li { padding: 15px 10px;}
   
}

