<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Soothe digestion and restore balance with targeted vitamins and fluids. Nurse-administered at home in Dubai. See ingredients and book."
    />
    <title>Gut Health IV Drip | Healthcarebia</title>
    <%- include('../partials/header-tags.ejs') %>
    <link rel="stylesheet" href="assets/css/iv-drips-dubai.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="banner" style="background-image: url(assets/img/gut-health-banner.jpg)">
      <h1>Gut Health IV Drip Dubai</h1>
      <div class="breadcrumb">
        <a href="/">Home</a>/<a href="/">IV & Wellness</a>/ Gut Health IV Drip
      </div>
    </div>
    <section class="why-choose-drip-section">
      <h1>
        Why choose Healthcarebia for<br />
        Gut Health IV Drip
      </h1>
      <div class="why-choose-items">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/dha.svg"
                alt="why choose icon"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              DHA registered, experienced and qualified healthcare professionals.
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/tick.svg"
                alt="why choose icon"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">Use of 100% DHA approved high-quality ingredients.</div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/like.svg"
                alt="why choose icon"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              Convenient, quick, and comfortable service at your doorstep.
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/customers.svg"
                alt="why choose icon"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              A complete and knowledgeable experience for all customers.
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/patient-care.svg"
                alt="why choose icon"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              Excellent customer service and attention to patient care.
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/reviews.svg"
                alt="why choose icon"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              Positive reviews and testimonials from satisfied clients.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="what-is-drip-section">
      <h1>What is the Gut Health IV Drip?</h1>
      <p class="m-5 mt-0">
        The Gut Health IV Drip works to energize your digestive system by supporting stomach enzymes
        and helping to soothe, heal, and shield the stomach lining. It's designed to prevent and
        relieve common issues such as acidity, indigestion, diarrhea, and general discomfort.
      </p>
      <div class="what-is-block mb-5 mt-3">
        <div class="row">
          <img
            src="assets/img/gut-health-benefits.jpg"
            alt="what is iv drip block image"
            class="col-lg-4 col-md-6 col-12"
          />
          <div class="col-lg-8 p-5 col-md-6 col-12 benefits-block">
            <h4 class="py-4">Benefits of Gut Health IV Drip</h4>
            <ul class="pb-5">
              <li>
                <img
                  src="../../assets/icons/down-arrow-white.svg"
                  alt="down arrow"
                  height="20px"
                  width="20px"
                />
                <span>Soothes and repairs the stomach lining.</span>
              </li>
              <li>
                <img
                  src="../../assets/icons/down-arrow-white.svg"
                  alt="down arrow"
                  height="20px"
                  width="20px"
                />
                <span>Quick relief from acidity, indigestion, and upset stomach.</span>
              </li>
              <li>
                <img
                  src="../../assets/icons/down-arrow-white.svg"
                  alt="down arrow"
                  height="20px"
                  width="20px"
                />
                <span>Enhances digestive health and nutrient absorption.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="how-drip-works-section mt-5">
      <div class="row">
        <div class="how-drip-works-left col-md-7">
          <h1 class="my-5 text-center text-md-start">How Gut Health IV Drip Works?</h1>
          <p class="mb-5">
            The Gut Health IV Drip delivers essential nutrients, including Glutamine, trace
            minerals, Glycine, and Glutathione, directly into the bloodstream. These compounds work
            quickly to reduce inflammation, repair the stomach lining, and support the activity of
            digestive enzymes, helping to restore optimal digestive health.
          </p>
          <a href="https://wa.me/971547077476"
            ><button class="mb-5">Book your session now</button></a
          >
        </div>
        <div
          class="how-drip-works-right col-md-5 d-flex justify-content-md-end align-items-md-end justify-content-center align-items-center"
        >
          <img
            src="../../assets/img/how-gut-health.jpg"
            alt="image of smiling face"
            height="500px"
            width="500px"
          />
        </div>
      </div>
    </section>
    <section class="home-service">
      <div class="row p-5 pb-0">
        <div class="col-md-6 drip-page-image">
          <img src="/assets/img/gut-health-iv-drip.webp" alt="IV drip image" />
        </div>
        <div class="col-md-6 pb-5">
          <h1 class="py-5">Premium IV Drip Home Service in Dubai</h1>
          <p class="pb-5">
            At Healthcarebia, we bring high-quality IV drip home service in Dubai straight to your
            door, so you can focus on feeling your best without stepping outside. Whether you're
            looking for the best IV drip Dubai experience or dependable IV infusion therapy at home,
            our skilled healthcare professionals are here to provide safe, effective, and
            personalized care. With our VIP IV therapy approach, you're not just getting a
            treatment, you're getting comfort, convenience, and exceptional support. As a
            DHA-certified provider, we deliver trusted Gut Health IV Drip treatments backed by
            clinical expertise and a commitment to your wellness.
          </p>
          <!-- <button class="mb-3">Book your session now</button> -->
        </div>
      </div>
    </section>
    <section class="faqs pb-5">
      <h1 class="my-5 pt-3 text-center">Frequently Asked Questions</h1>
      <div class="row mx-5">
        <div class="accordion col-md-6 col-12 p-3" id="accordion">
          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingOne">
              <button
                class="accordion-button d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How long does a Gut Health IV Drip session last?</span>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                A typical session takes between 30 and 60 minutes and can be done at your home,
                office, or hotel.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingTwo">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Who should consider a Gut Health IV Drip?</span>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                If you face persistent acidity, indigestion, bloating or other digestive
                discomforts, this therapy can help you recover faster.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingThree">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How quickly can I expect relief?</span>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Most clients feel a noticeable difference in acidity and digestion within just a few
                hours.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingFour">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How often should I schedule sessions?</span>
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Your provider will recommend a plan, many start with weekly or bi-weekly visits,
                then adjust as needed.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion col-md-6 col-12 p-3" id="accordionB">
          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingFive">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Is it safe?</span>
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Absolutely. Our DHA-certified nurses handle every step—from sterile setup to
                monitoring, to keep you completely safe.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingSix">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Any side effects?</span>
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Side effects are rare. You might see minor bruising or temporary redness at the IV
                site, which clears up quickly.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingOneB">
              <button
                class="accordion-button d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOneB"
                aria-expanded="true"
                aria-controls="collapseOneB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>What nutrients are included and how do they help?</span>
              </button>
            </h2>
            <div
              id="collapseOneB"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOneB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                We blend glutamine and glycine to support tissue repair, glutathione to fight free
                radicals, and trace minerals for enzyme support and reduced inflammation.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingTwoB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwoB"
                aria-expanded="false"
                aria-controls="collapseTwoB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How does Gut Health IV Drip therapy support overall digestive wellness?</span>
              </button>
            </h2>
            <div
              id="collapseTwoB"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwoB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                Gut Health IV Drip therapy delivers nutrients directly into the bloodstream for
                faster absorption, helping with hydration and nutrient levels. Its effects on
                digestive wellness can vary, so it's best to consult a healthcare provider to see if
                it's right for you.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs") %> <%- include("../partials/footer-tags.ejs") %>
  </body>
</html>
