<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Classic Myers’ Cocktail with vitamins and minerals, delivered by nurses at home in Dubai. Feel refreshed, see details and book now."
    />
    <title>Myers Cocktail IV Drip | Healthcarebia</title>
    <%- include('../partials/header-tags.ejs') %>
    <link rel="stylesheet" href="assets/css/iv-drips-dubai.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <!-- Banner -->
    <div class="banner" style="background-image: url(assets/img/myers-banner.jpg)">
      <h1>Myers Cocktail IV Drip Dubai</h1>
      <div class="breadcrumb">
        <a href="/">Home</a>/<a href="/">IV & Wellness</a>/ Myers Cocktail IV Drip
      </div>
    </div>

    <!-- Why Choose -->
    <section class="why-choose-drip-section">
      <h1>
        Why choose Healthcarebia for<br />
        Myers Cocktail IV Drip in Dubai
      </h1>
      <div class="why-choose-items">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/dha.svg"
                alt="DHA Certified"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              DHA registered, experienced and qualified healthcare professionals.
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/tick.svg"
                alt="Premium nutrients"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              Use of 100% DHA-approved, high-quality vitamins and minerals.
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/like.svg"
                alt="Home Service"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              Convenient, quick, and comfortable service at your doorstep.
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/customers.svg"
                alt="Support"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              A complete and knowledgeable experience for all customers.
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img
                src="../../assets/icons/patient-care.svg"
                alt="Care"
                height="60px"
                width="60px"
              />
            </div>
            <div class="why-choose-text">
              Excellent customer service and attention to patient care.
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 why-choose-item">
            <div class="why-choose-icon">
              <img src="../../assets/icons/reviews.svg" alt="Reviews" height="60px" width="60px" />
            </div>
            <div class="why-choose-text">
              Positive reviews and testimonials from satisfied clients.
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- What is Drip -->
    <section class="what-is-drip-section">
      <h1>What is Myers Cocktail IV Drip?</h1>
      <p class="m-5 mt-0">
        The Myers Cocktail is a powerful IV treatment that helps recharge energy, strengthen the
        immune system, and support overall wellness. It’s especially beneficial for those
        experiencing fatigue, high stress, or nutrient deficiencies.
      </p>
      <div class="what-is-block mb-5 mt-3">
        <div class="row">
          <img
            src="assets/img/myers-benefits.jpg"
            alt="Myers Cocktail benefits"
            class="col-lg-4 col-md-6 col-12"
          />
          <div class="col-lg-8 p-5 col-md-6 col-12 benefits-block">
            <h4 class="py-4">Benefits of Myers Cocktail IV Drip</h4>
            <ul class="pb-5">
              <li>
                <img
                  src="../../assets/icons/down-arrow-white.svg"
                  alt="arrow"
                  height="20px"
                  width="20px"
                />
                <span>Boosts energy levels and reduces fatigue for a more active lifestyle.</span>
              </li>
              <li>
                <img
                  src="../../assets/icons/down-arrow-white.svg"
                  alt="arrow"
                  height="20px"
                  width="20px"
                />
                <span>Supports immune function and overall wellness.</span>
              </li>
              <li>
                <img
                  src="../../assets/icons/down-arrow-white.svg"
                  alt="arrow"
                  height="20px"
                  width="20px"
                />
                <span>Helps reduce stress and improve cognitive performance.</span>
              </li>
              <li>
                <img
                  src="../../assets/icons/down-arrow-white.svg"
                  alt="arrow"
                  height="20px"
                  width="20px"
                />
                <span>Promotes muscle relaxation and aids in recovery.</span>
              </li>
              <li>
                <img
                  src="../../assets/icons/down-arrow-white.svg"
                  alt="arrow"
                  height="20px"
                  width="20px"
                />
                <span>Enhances hydration and nutrient absorption for optimal health.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- How it Works -->
    <section class="how-drip-works-section mt-5">
      <div class="row">
        <div class="how-drip-works-left col-md-7">
          <h1 class="my-5">
            How Myers Cocktail IV<br />
            Drip Works?
          </h1>
          <p class="mb-5">
            The Myers Cocktail IV Drip goes straight into the bloodstream, so the body can absorb
            all the essential nutrients right away, without waiting on digestion. This means quicker
            access to the ingredients that help recharge cells, boost energy, and support overall
            well-being. Whether recovering from a tough week or just looking for a wellness boost,
            this infusion helps you feel energized, refreshed, and ready to take on the day.
          </p>
          <a href="#"><button class="mb-5">Book your session now</button></a>
        </div>
        <div
          class="how-drip-works-right col-md-5 d-flex justify-content-md-end align-items-md-end justify-content-center align-items-center"
        >
          <img
            src="assets/img/how-myers-works.jpg"
            alt="Refreshed person"
            height="500px"
            width="500px"
          />
        </div>
      </div>
    </section>

    <!-- Home Service -->
    <section class="home-service">
      <div class="row p-5 pb-0">
        <div class="col-md-6 drip-page-image">
          <img src="/assets/img/myers-cocktail.webp" alt="IV drip image" />
        </div>
        <div class="col-md-6 pb-5">
          <h1 class="py-5">Premium IV Drip Home Service in Dubai</h1>
          <p class="pb-5">
            At Healthcarebia, we offer a comprehensive IV drip home service in Dubai designed for
            your convenience and well-being. Whether you are seeking the best IV drip Dubai
            experience or a reliable IV infusion therapy at home, our expert team is dedicated to
            delivering top-quality care right at your doorstep. Our premium service ensures that you
            receive a VIP IV therapy experience, making us one of the leading providers of Myers IV
            Drip and immune boost IV drip treatments in the region.
          </p>
        </div>
      </div>
    </section>
    <section class="faqs pb-5">
      <h1 class="my-5 pt-3 text-center">Frequently Asked Questions</h1>
      <div class="row mx-5">
        <div class="accordion col-md-6 col-12 p-3" id="accordion">
          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingOne">
              <button
                class="accordion-button d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How long does a Myers Cocktail IV session last?</span>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                A typical Myers Cocktail IV session lasts between 30 to 60 minutes, depending on
                individual needs.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingTwo">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>What are the key ingredients in a Myers Cocktail IV Drip?</span>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                The drip includes Vitamin C, B12, B-Complex vitamins, Magnesium, anti-oxidants, and
                9 trace minerals.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingThree">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How soon will I feel the effects?</span>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Many patients report feeling more energized and clear-headed within hours of the
                treatment.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingFour">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>How often should I receive a Myers Cocktail IV Drip?</span>
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                Frequency depends on individual health needs, but many opt for weekly or monthly
                sessions as recommended by their healthcare provider.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion col-md-6 col-12 p-3" id="accordionB">
          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingOneB">
              <button
                class="accordion-button d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOneB"
                aria-expanded="true"
                aria-controls="collapseOneB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Can the treatment help with chronic fatigue?</span>
              </button>
            </h2>
            <div
              id="collapseOneB"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOneB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                Yes, the high dose of B vitamins and magnesium is designed to combat chronic fatigue
                and brain fog.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingTwoB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwoB"
                aria-expanded="false"
                aria-controls="collapseTwoB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Are there any side effects?</span>
              </button>
            </h2>
            <div
              id="collapseTwoB"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwoB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                Side effects are rare, but some patients may experience mild discomfort at the
                injection site.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingThreeB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThreeB"
                aria-expanded="false"
                aria-controls="collapseThreeB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Who is an ideal candidate for Myers Cocktail IV Drip?</span>
              </button>
            </h2>
            <div
              id="collapseThreeB"
              class="accordion-collapse collapse"
              aria-labelledby="headingThreeB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                The treatment is ideal for individuals with chronic fatigue, muscle spasms, high
                stress, nutrient deficiencies, or those seeking an energy boost.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 rounded-4">
            <h2 class="accordion-header rounded-4" id="headingFourB">
              <button
                class="accordion-button collapsed d-flex gap-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFourB"
                aria-expanded="false"
                aria-controls="collapseFourB"
              >
                <div class="question-icon">
                  <img src="../assets/icons/Question mrk.svg" alt="Question mark icon" />
                </div>
                <span>Can Myers Cocktail IV therapy boost immunity?</span>
              </button>
            </h2>
            <div
              id="collapseFourB"
              class="accordion-collapse collapse"
              aria-labelledby="headingFourB"
              data-bs-parent="#accordionB"
            >
              <div class="accordion-body">
                Yes, Myers Cocktail IV therapy significantly boosts immunity by delivering a
                powerful combination of Vitamin C, B vitamins, and essential minerals directly into
                the bloodstream, strengthening your body's natural defenses and overall immune
                function.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs") %> <%- include("../partials/footer-tags.ejs") %>
  </body>
</html>
